src/plugins/com.huawei.networkos.ops/OPS2.0/schema/acl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Schema content Version: 1.0
file format version: 1.0
VIST version: VIST 0.1.22
Copyright (c) 2008-2010 by HUAWEI TECHNOLOGIES.
All rights reserved.
-->
<xs:schema xmlns="http://www.huawei.com/netconf/vrp" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.huawei.com/netconf/vrp" elementFormDefault="qualified" attributeFormDefault="unqualified" xml:lang="en">
	<xs:annotation>
		<xs:appinfo>
			<formatVersion>1.0</formatVersion>
			<contentVersion>1.0</contentVersion>
		</xs:appinfo>
	</xs:annotation>
	<xs:include schemaLocation="pub_attribute.xsd"/>
	<xs:include schemaLocation="pub_type.xsd"/>
	<xs:include schemaLocation="acl_type.xsd"/>
	<xs:element name="acl" type="acl_acl_type">
		<xs:annotation>
			<xs:appinfo>
				<taskName>acl</taskName>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="acl_acl_type">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="aclGroups" type="acl_aclGroups_type"/>
			<xs:element name="aclGroup6s" type="acl_aclGroup6s_type"/>
		</xs:choice>
		<xs:attributeGroup ref="versionAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="acl_aclGroup6s_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="aclGroup6" type="acl_aclGroup6_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="acl_aclGroup6_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="aclNumOrName" type="acl6NumOrName">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclType" type="acl6GroupType">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclMatchOrder" type="aclMatchOrder" default="Config">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclDescription">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="127"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclRuleBas6s" type="acl_aclRuleBas6s_type"/>
			<xs:element name="aclRuleAdv6s" type="acl_aclRuleAdv6s_type"/>
			<xs:element name="aclRuleIf6s" type="acl_aclRuleIf6s_type"/>
			<xs:element name="aclStep" default="5">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="acl_aclGroups_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="aclGroup" type="acl_aclGroup_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="acl_aclGroup_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="aclNumOrName" type="aclNumOrName">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclType" type="acl4GroupType">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclMatchOrder" type="aclMatchOrder" default="Config">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclStep" default="5">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclDescription">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="127"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclRuleBas4s" type="acl_aclRuleBas4s_type"/>
			<xs:element name="aclRuleAdv4s" type="acl_aclRuleAdv4s_type"/>
			<xs:element name="aclRuleEths" type="acl_aclRuleEths_type"/>
			<xs:element name="aclRuleIfs" type="acl_aclRuleIfs_type"/>
			<xs:element name="aclRuleMplss" type="acl_aclRuleMplss_type"/>
			<xs:element name="aclRuleUsers" type="acl_aclRuleUsers_type"/>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="acl_aclRuleBas4s_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="aclRuleBas4" type="acl_aclRuleBas4_type" minOccurs="0" maxOccurs="2048"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="acl_aclRuleBas4_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="aclRuleName">
				<xs:annotation>
					<xs:documentation>规则名称</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
						<xs:minLength value="1"/>
						<xs:pattern value="^[^\s\?]*$"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclRuleID">
				<xs:annotation>
					<xs:documentation>规则编号</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967294"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclAction" type="aclRuleAction" default="permit">
				<xs:annotation>
					<xs:documentation>规则的动作类型</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclActiveStatus" type="rowStatus" default="active">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclSourceIp" type="ipv4Address" default="0.0.0.0">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclSrcWild" type="ipv4Address" default="255.255.255.255">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclFragType" type="aclFragmentType">
				<xs:annotation>
					<xs:documentation>分片报文类型</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="vrfName" default="_public_">
				<xs:annotation>
					<xs:appinfo>
						<key>false</key>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclTimeName" type="timeName">
				<xs:annotation>
					<xs:documentation>time-range的索引</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclRuleDescription">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="127"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclRuleCnts" type="acl_aclRuleCnts_type"/>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="acl_aclRuleAdv4s_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="aclRuleAdv4" type="acl_aclRuleAdv4_type" minOccurs="0" maxOccurs="2048"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="acl_aclRuleAdv4_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="aclRuleName">
				<xs:annotation>
					<xs:documentation>规则名称</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
						<xs:minLength value="1"/>
						<xs:pattern value="^[^\s\?]*$"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclRuleID">
				<xs:annotation>
					<xs:documentation>规则编号</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967294"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclAction" type="aclRuleAction" default="permit">
				<xs:annotation>
					<xs:documentation>规则的动作类型</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclActiveStatus" type="rowStatus" default="active">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclAnyProtocol" type="xs:boolean" default="false">
				<xs:annotation>
					<xs:documentation>任意协议类型</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclProtocol" type="xs:unsignedByte" default="0">
				<xs:annotation>
					<xs:documentation>协议类型值</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<mandatory>true</mandatory>
						<valueReplace>
							<item value="1">ICMP</item>
							<item value="2">IGMP</item>
							<item value="4">IPINIP</item>
							<item value="6">TCP</item>
							<item value="17">UDP</item>
							<item value="47">GRE</item>
							<item value="89">OSPF</item>
						</valueReplace>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclSourceIp" type="ipv4Address" default="0.0.0.0">
				<xs:annotation>
					<xs:documentation>源地址</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclSrcWild" type="ipv4Address" default="255.255.255.255">
				<xs:annotation>
					<xs:documentation>源地址掩码</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclDestIp" type="ipv4Address" default="0.0.0.0">
				<xs:annotation>
					<xs:documentation>目的地址</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclDestWild" type="ipv4Address" default="255.255.255.255">
				<xs:annotation>
					<xs:documentation>目的地址掩码</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclSrcPortOp" type="aclRangeType">
				<xs:annotation>
					<xs:documentation>源端口号范围(gt,lt,eq,neq,range)</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclSrcPortBegin">
				<xs:annotation>
					<xs:documentation>开始源端口号</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="65535"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclSrcPortEnd">
				<xs:annotation>
					<xs:documentation>结束源端口号</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="65535"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclDestPortOp" type="aclRangeType">
				<xs:annotation>
					<xs:documentation>源端口号范围(gt,lt,eq,neq,range)</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclDestPortB">
				<xs:annotation>
					<xs:documentation>开始目的端口号</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="65535"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclDestPortE">
				<xs:annotation>
					<xs:documentation>结束目的端口号</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="65535"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclFragType" type="aclFragmentType">
				<xs:annotation>
					<xs:documentation>分片报文类型</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclPrecedence">
				<xs:annotation>
					<xs:documentation>报文优先级</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="7"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclTos">
				<xs:annotation>
					<xs:documentation>服务优先级的值</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclDscp">
				<xs:annotation>
					<xs:documentation>指定差分服务编码点</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="63"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclIcmpName" type="ICMPNAME" default="unconfiged">
				<xs:annotation>
					<xs:documentation>指定ICMP的名称</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclIcmpType">
				<xs:annotation>
					<xs:documentation>指定ICMP的类型</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclIcmpCode">
				<xs:annotation>
					<xs:documentation>icmp的代码</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclTtlExpired" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>ttl超期</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="vrfName" default="_public_">
				<xs:annotation>
					<xs:appinfo>
						<key>false</key>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclSynFlag">
				<xs:annotation>
					<xs:documentation>tcp-flag的值</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="63"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclTimeName" type="timeName">
				<xs:annotation>
					<xs:documentation>time-range的索引</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclRuleDescription">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="127"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclRuleCnts" type="acl_aclRuleCnts_type"/>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="acl_aclRuleMplss_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="aclRuleMpls" type="acl_aclRuleMpls_type" minOccurs="0" maxOccurs="2048"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="acl_aclRuleMpls_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="aclRuleName">
				<xs:annotation>
					<xs:documentation>规则名称</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
						<xs:minLength value="1"/>
						<xs:pattern value="^[^\s\?]*$"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclRuleID">
				<xs:annotation>
					<xs:documentation>规则编号</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967294"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclAction" type="aclRuleAction" default="permit">
				<xs:annotation>
					<xs:documentation>规则的动作类型</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclExp1">
				<xs:annotation>
					<xs:documentation>Mpls exp的第一个值</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="7"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclExp2">
				<xs:annotation>
					<xs:documentation>Mpls exp的第二个值</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="7"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclExp3">
				<xs:annotation>
					<xs:documentation>Mpls exp的第三个值</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="7"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclExp4">
				<xs:annotation>
					<xs:documentation>Mpls exp的第四个值</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="7"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclLabel1">
				<xs:annotation>
					<xs:documentation>Mpls label的第一个值</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="1048575"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclLabel2">
				<xs:annotation>
					<xs:documentation>Mpls label的第二个值</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="1048575"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclLabel3">
				<xs:annotation>
					<xs:documentation>Mpls label的第三个值</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="1048575"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclLabel4">
				<xs:annotation>
					<xs:documentation>Mpls label的第四个值</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="1048575"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclTtlOp1" type="aclRangeType">
				<xs:annotation>
					<xs:documentation>Mpls 第一个ttl的范围类型</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclTtlBegin1">
				<xs:annotation>
					<xs:documentation>Mpls 第一个ttl的开始值</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclTtlEnd1">
				<xs:annotation>
					<xs:documentation>Mpls 第一个ttl的结束值</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclTtlOp2" type="aclRangeType">
				<xs:annotation>
					<xs:documentation>Mpls 第二个ttl的范围类型</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclTtlBegin2">
				<xs:annotation>
					<xs:documentation>Mpls 第二个ttl的开始值</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclTtlEnd2">
				<xs:annotation>
					<xs:documentation>Mpls 第二个ttl的结束值</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclTtlOp3" type="aclRangeType">
				<xs:annotation>
					<xs:documentation>Mpls 第三个ttl的范围类值</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclTtlBegin3">
				<xs:annotation>
					<xs:documentation>Mpls 第三个ttl的开始值</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclTtlEnd3">
				<xs:annotation>
					<xs:documentation>Mpls 第三个ttl的结束值</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclRuleCnts" type="acl_aclRuleCnts_type"/>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="acl_aclRuleBas6s_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="aclRuleBas6" type="acl_aclRuleBas6_type" minOccurs="0" maxOccurs="2048"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="acl_aclRuleBas6_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="aclRuleName">
				<xs:annotation>
					<xs:documentation>规则名称</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
						<xs:minLength value="1"/>
						<xs:pattern value="^[^\s\?]*$"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclRuleID">
				<xs:annotation>
					<xs:documentation>规则编号</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967294"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclAction" type="aclRuleAction" default="permit">
				<xs:annotation>
					<xs:documentation>规则的动作类型</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclActiveStatus" type="rowStatus" default="active">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclSourceIp" type="ipv6Address" default="0::0">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclSrcWild" default="0">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="128"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclFragType" type="aclFragmentType">
				<xs:annotation>
					<xs:documentation>分片报文类型</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="vrfName" default="_public_">
				<xs:annotation>
					<xs:appinfo>
						<key>false</key>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclTimeName" type="timeName">
				<xs:annotation>
					<xs:documentation>time-range的索引</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclRuleDescription">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="127"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="acl6RuleCnts" type="acl_acl6RuleCnts_type"/>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="acl_aclRuleAdv6s_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="aclRuleAdv6" type="acl_aclRuleAdv6_type" minOccurs="0" maxOccurs="2048"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="acl_aclRuleAdv6_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="aclRuleName">
				<xs:annotation>
					<xs:documentation>规则名称</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
						<xs:minLength value="1"/>
						<xs:pattern value="^[^\s\?]*$"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclRuleID">
				<xs:annotation>
					<xs:documentation>规则编号</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967294"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclAction" type="aclRuleAction" default="permit">
				<xs:annotation>
					<xs:documentation>规则的动作类型</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclActiveStatus" type="rowStatus" default="active">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclAnyProtocol" type="xs:boolean" default="false">
				<xs:annotation>
					<xs:documentation>任意协议类型</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclProtocol" type="xs:unsignedByte" default="0">
				<xs:annotation>
					<xs:documentation>协议类型值</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<mandatory>true</mandatory>
						<valueReplace>
							<item value="6">TCP</item>
							<item value="17">UDP</item>
							<item value="47">GRE</item>
							<item value="50">IPV6-ESP</item>
							<item value="51">IPV6-AH</item>
							<item value="58">ICMPV6</item>
							<item value="89">OSPF</item>
						</valueReplace>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclSourceIp" type="ipv6Address" default="0::0">
				<xs:annotation>
					<xs:documentation>源地址</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclSrcWild" default="0">
				<xs:annotation>
					<xs:documentation>源地址掩码</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="128"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclDestIp" type="ipv6Address" default="0::0">
				<xs:annotation>
					<xs:documentation>目的地址</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclDestWild" default="0">
				<xs:annotation>
					<xs:documentation>目的地址掩码</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="128"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclSrcPortOp" type="aclRangeType">
				<xs:annotation>
					<xs:documentation>源端口号范围（gt,lt,eq,neq,range）</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclSrcPortBegin">
				<xs:annotation>
					<xs:documentation>开始源端口号</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="65535"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclSrcPortEnd">
				<xs:annotation>
					<xs:documentation>结束源端口号</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="65535"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclDestPortOp" type="aclRangeType">
				<xs:annotation>
					<xs:documentation>目的端口号范围（gt,lt,eq,neq,range）</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclDestPortB">
				<xs:annotation>
					<xs:documentation>开始目的端口号</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="65535"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclDestPortE">
				<xs:annotation>
					<xs:documentation>结束目的端口号</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="65535"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclFragType" type="aclFragmentType">
				<xs:annotation>
					<xs:documentation>分片报文类型</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclPrecedence">
				<xs:annotation>
					<xs:documentation>报文优先级</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="7"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclTos">
				<xs:annotation>
					<xs:documentation>服务优先级的值</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclDscp">
				<xs:annotation>
					<xs:documentation>指定差分服务编码点</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="63"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclIcmpName" type="ICMP6NAME" default="unconfiged">
				<xs:annotation>
					<xs:documentation>指定ICMP的名称</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclIcmpType">
				<xs:annotation>
					<xs:documentation>指定ICMP的类型</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclIcmpCode">
				<xs:annotation>
					<xs:documentation>icmp的代码</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="vrfName" default="_public_">
				<xs:annotation>
					<xs:appinfo>
						<key>false</key>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclSynFlag">
				<xs:annotation>
					<xs:documentation>tcp-flag的值</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="63"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclTimeName" type="timeName">
				<xs:annotation>
					<xs:documentation>time-range的索引</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclRuleDescription">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="127"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="acl6RuleCnts" type="acl_acl6RuleCnts_type"/>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="acl_aclRuleCnts_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="aclRuleCnt" type="acl_aclRuleCnt_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="acl_aclRuleCnt_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="matchCount" type="xs:unsignedLong">
				<xs:annotation>
					<xs:documentation>规则的匹配计数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="acl_acl6RuleCnts_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="acl6RuleCnt" type="acl_acl6RuleCnt_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="acl_acl6RuleCnt_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="matchCount" type="xs:unsignedLong">
				<xs:annotation>
					<xs:documentation>规则的匹配计数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="acl_aclRuleEths_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="aclRuleEth" type="acl_aclRuleEth_type" minOccurs="0" maxOccurs="2048"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="acl_aclRuleEth_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="aclRuleName">
				<xs:annotation>
					<xs:documentation>规则名称</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
						<xs:minLength value="1"/>
						<xs:pattern value="^[^\s\?]*$"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclRuleID">
				<xs:annotation>
					<xs:documentation>规则编号</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967294"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclAction" type="aclRuleAction" default="permit">
				<xs:annotation>
					<xs:documentation>规则的动作类型</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclActiveStatus" type="rowStatus" default="active">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclFramType" default="0x0">
				<xs:annotation>
					<xs:documentation>二层以太帧的协议类型值</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="3"/>
						<xs:maxLength value="6"/>
						<xs:pattern value="0[xX][a-fA-F0-9]{1,4}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclFramMask" default="0x0">
				<xs:annotation>
					<xs:documentation>二层以太帧头的协议类型掩码</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="3"/>
						<xs:maxLength value="6"/>
						<xs:pattern value="0[xX][a-fA-F0-9]{1,4}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclSrcMac" type="macAddress" default="0000-0000-0000">
				<xs:annotation>
					<xs:documentation>以太帧源MAC地址</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclSrcMacMask" type="macAddress" default="0000-0000-0000">
				<xs:annotation>
					<xs:documentation>以太帧源MAC地址掩码</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclDestMac" type="macAddress" default="0000-0000-0000">
				<xs:annotation>
					<xs:documentation>以太帧目的MAC地址掩码</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclDestMacMask" type="macAddress" default="0000-0000-0000">
				<xs:annotation>
					<xs:documentation>以太帧目的MAC地址掩码</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclVlanId">
				<xs:annotation>
					<xs:documentation>以太帧VLAN ID</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="4094"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclVlanIdMask" default="0xfff">
				<xs:annotation>
					<xs:documentation>以太帧VLAN ID掩码</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="3"/>
						<xs:maxLength value="5"/>
						<xs:pattern value="0[xX][a-fA-F0-9]{1,3}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="acl8021p">
				<xs:annotation>
					<xs:documentation>以太帧802.1p优先级</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="7"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclCVlanId">
				<xs:annotation>
					<xs:documentation>以太帧内层VLAN ID</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="4094"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclCVlanIdMask" default="0xfff">
				<xs:annotation>
					<xs:documentation>以太帧内层VLAN ID掩码</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="3"/>
						<xs:maxLength value="5"/>
						<xs:pattern value="0[xX][a-fA-F0-9]{1,3}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclCVlan8021p">
				<xs:annotation>
					<xs:documentation>以太帧内层VLAN的802.1p优先级</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="7"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclDoubleTag" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>以太帧带双层tag</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclEncapType" type="aclEncapType">
				<xs:annotation>
					<xs:documentation>以太帧封装类型</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclTimeName" type="timeName">
				<xs:annotation>
					<xs:documentation>time-range的索引</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclRuleDescription">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="127"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclRuleCnts" type="acl_aclRuleCnts_type"/>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="acl_aclRuleIf6s_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="aclRuleIf6" type="acl_aclRuleIf6_type" minOccurs="0" maxOccurs="2048"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="acl_aclRuleIf6_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="aclRuleName">
				<xs:annotation>
					<xs:documentation>规则名称</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
						<xs:minLength value="1"/>
						<xs:pattern value="^[^\s\?]*$"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclRuleID">
				<xs:annotation>
					<xs:documentation>规则编号</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967294"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclAction" type="aclRuleAction" default="permit">
				<xs:annotation>
					<xs:documentation>规则的动作类型</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclIfAny" type="xs:boolean" default="false">
				<xs:annotation>
					<xs:documentation>任意接口</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ifName" type="ifName">
				<xs:annotation>
					<xs:documentation>接口名</xs:documentation>
					<xs:appinfo>
						<key>false</key>
						<access>readCreate</access>
						<allowNull>true</allowNull>
						<mandatory>false</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclActiveStatus" type="rowStatus" default="active">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclTimeName" type="timeName">
				<xs:annotation>
					<xs:documentation>time-range的索引</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="acl6RuleCnts" type="acl_acl6RuleCnts_type"/>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="acl_aclRuleIfs_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="aclRuleIf" type="acl_aclRuleIf_type" minOccurs="0" maxOccurs="2048"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="acl_aclRuleIf_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="aclRuleName">
				<xs:annotation>
					<xs:documentation>规则名称</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
						<xs:minLength value="1"/>
						<xs:pattern value="^[^\s\?]*$"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclRuleID">
				<xs:annotation>
					<xs:documentation>规则编号</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967294"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclAction" type="aclRuleAction" default="permit">
				<xs:annotation>
					<xs:documentation>规则的动作类型</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclIfAny" type="xs:boolean" default="false">
				<xs:annotation>
					<xs:documentation>任意接口</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ifName" type="ifName">
				<xs:annotation>
					<xs:documentation>接口名</xs:documentation>
					<xs:appinfo>
						<key>false</key>
						<access>readCreate</access>
						<allowNull>true</allowNull>
						<mandatory>false</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclTimeName" type="timeName">
				<xs:annotation>
					<xs:documentation>time-range的索引</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclActiveStatus" type="rowStatus" default="active">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclRuleCnts" type="acl_aclRuleCnts_type"/>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="acl_aclRuleUsers_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="aclRuleUser" type="acl_aclRuleUser_type" minOccurs="0" maxOccurs="2048"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="acl_aclRuleUser_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="aclRuleName">
				<xs:annotation>
					<xs:documentation>规则名称</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
						<xs:minLength value="1"/>
						<xs:pattern value="^[^\s\?]*$"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclRuleID">
				<xs:annotation>
					<xs:documentation>规则编号</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967294"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclAction" type="aclRuleAction" default="permit">
				<xs:annotation>
					<xs:documentation>规则的动作类型</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclTimeName" type="timeName">
				<xs:annotation>
					<xs:documentation>time-range的索引</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclOffsetBegin" type="aclOffsetBegin">
				<xs:annotation>
					<xs:documentation>偏移起始位置</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ruleString1" type="xs:hexBinary">
				<xs:annotation>
					<xs:documentation>自定义规则字符串1</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ruleString1Mask" type="xs:hexBinary">
				<xs:annotation>
					<xs:documentation>自定义规则字符串1掩码</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="offset1" type="xs:unsignedByte">
				<xs:annotation>
					<xs:documentation>偏移值1</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ruleString2" type="xs:hexBinary">
				<xs:annotation>
					<xs:documentation>自定义规则字符串2</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ruleString2Mask" type="xs:hexBinary">
				<xs:annotation>
					<xs:documentation>自定义规则字符串2掩码</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="offset2" type="xs:unsignedByte">
				<xs:annotation>
					<xs:documentation>偏移值2</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ruleString3" type="xs:hexBinary">
				<xs:annotation>
					<xs:documentation>自定义规则字符串3</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ruleString3Mask" type="xs:hexBinary">
				<xs:annotation>
					<xs:documentation>自定义规则字符串3掩码</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="offset3" type="xs:unsignedByte">
				<xs:annotation>
					<xs:documentation>偏移值3</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ruleString4" type="xs:hexBinary">
				<xs:annotation>
					<xs:documentation>自定义规则字符串4</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ruleString4Mask" type="xs:hexBinary">
				<xs:annotation>
					<xs:documentation>自定义规则字符串4掩码</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="offset4" type="xs:unsignedByte">
				<xs:annotation>
					<xs:documentation>偏移值4</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ruleString5" type="xs:hexBinary">
				<xs:annotation>
					<xs:documentation>自定义规则字符串5</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ruleString5Mask" type="xs:hexBinary">
				<xs:annotation>
					<xs:documentation>自定义规则字符串5掩码</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="offset5" type="xs:unsignedByte">
				<xs:annotation>
					<xs:documentation>偏移值5</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ruleString6" type="xs:hexBinary">
				<xs:annotation>
					<xs:documentation>自定义规则字符串6</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ruleString6Mask" type="xs:hexBinary">
				<xs:annotation>
					<xs:documentation>自定义规则字符串6掩码</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="offset6" type="xs:unsignedByte">
				<xs:annotation>
					<xs:documentation>偏移值6</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ruleString7" type="xs:hexBinary">
				<xs:annotation>
					<xs:documentation>自定义规则字符串7</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ruleString7Mask" type="xs:hexBinary">
				<xs:annotation>
					<xs:documentation>自定义规则字符串7掩码</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="offset7" type="xs:unsignedByte">
				<xs:annotation>
					<xs:documentation>偏移值7</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ruleString8" type="xs:hexBinary">
				<xs:annotation>
					<xs:documentation>自定义规则字符串8</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ruleString8Mask" type="xs:hexBinary">
				<xs:annotation>
					<xs:documentation>自定义规则字符串8掩码</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="offset8" type="xs:unsignedByte">
				<xs:annotation>
					<xs:documentation>偏移值8</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclActiveStatus" type="rowStatus" default="active">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclRuleDescription">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="127"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclRuleCnts" type="acl_aclRuleCnts_type"/>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
</xs:schema>
