src/plugins/com.huawei.networkos.ops/OPS2.0/schema/arp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Schema content Version: 1.0
file format version: 1.0
VIST version: VIST 0.1.19 SP1
Copyright (c) 2008-2010 by HUAWEI TECHNOLOGIES.
All rights reserved.
-->
<xs:schema xmlns="http://www.huawei.com/netconf/vrp" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.huawei.com/netconf/vrp" elementFormDefault="qualified" attributeFormDefault="unqualified" xml:lang="en">
	<xs:annotation>
		<xs:appinfo>
			<formatVersion>1.0</formatVersion>
			<contentVersion>1.0</contentVersion>
		</xs:appinfo>
	</xs:annotation>
	<xs:include schemaLocation="pub_attribute.xsd"/>
	<xs:include schemaLocation="pub_type.xsd"/>
	<xs:include schemaLocation="arp_type.xsd"/>
	<xs:element name="arp" type="arp_arp_type">
		<xs:annotation>
			<xs:appinfo>
				<taskName>arp</taskName>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="arp_arp_type">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="arpSystemInfo" type="arp_arpSystemInfo_type"/>
			<xs:element name="arpStaticTables" type="arp_arpStaticTables_type"/>
			<xs:element name="arpTables" type="arp_arpTables_type"/>
			<xs:element name="arpInterfaces" type="arp_arpInterfaces_type"/>
			<xs:element name="arpIfLimits" type="arp_arpIfLimits_type"/>
			<xs:element name="arpSpeedLimits" type="arp_arpSpeedLimits_type"/>
			<xs:element name="arpGlobalSpeedLimits" type="arp_arpGlobalSpeedLimits_type"/>
			<xs:element name="arpIPPools" type="arp_arpIPPools_type"/>
			<xs:element name="arpStatisticss" type="arp_arpStatisticss_type"/>
			<xs:element name="arpIfErrPkts" type="arp_arpIfErrPkts_type"/>
		</xs:choice>
		<xs:attributeGroup ref="versionAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="arp_arpSystemInfo_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="learnStrictEnable" type="xs:boolean" default="false">
				<xs:annotation>
					<xs:appinfo>
						<access>readWrite</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="l2TopoDetectEnable" type="xs:boolean" default="false">
				<xs:annotation>
					<xs:appinfo>
						<access>readWrite</access>
						<supportFilter>false</supportFilter>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="arp_arpStaticTables_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="arpStaticTable" type="arp_arpStaticTable_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="arp_arpStaticTable_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="vrfName" default="_public_">
				<xs:annotation>
					<xs:documentation>静态arp所属的VRF</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="vrfName">
							<xs:attribute name="vrfIndex" type="xs:unsignedInt" default="0"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="ipAddr" type="ipv4Address">
				<xs:annotation>
					<xs:documentation>arp的IP地址</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="macAddr">
				<xs:annotation>
					<xs:documentation>arp Mac Address.</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="macAddress">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ifName">
				<xs:annotation>
					<xs:documentation>接口名</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ifName">
							<xs:attribute name="ifIndex" type="xs:unsignedInt"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="peVid">
				<xs:annotation>
					<xs:documentation>arp PE Vlan ID</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="4094"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ceVid">
				<xs:annotation>
					<xs:documentation>arp CE Vlan ID</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="4094"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="arp_arpTables_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="arpTable" type="arp_arpTable_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="arp_arpTable_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="vrfName" type="vrfName">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ipAddr" type="ipv4Address">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="macAddr" type="macAddress">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="expireTime" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>arp expire time</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="styleType" type="arpStyleType">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
						<supportFilter>true</supportFilter>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ifName" type="ifName">
				<xs:annotation>
					<xs:documentation>接口名</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
						<supportFilter>true</supportFilter>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="slotId">
				<xs:annotation>
					<xs:documentation>slotId</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
						<allowNull>true</allowNull>
						<supportFilter>true</supportFilter>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="24"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="peVid">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
						<allowNull>true</allowNull>
						<supportFilter>true</supportFilter>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="4094"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ceVid">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="4094"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="pvc" type="xs:unsignedInt">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="arp_arpInterfaces_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="arpInterface" type="arp_arpInterface_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="arp_arpInterface_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="ifName">
				<xs:annotation>
					<xs:documentation>接口名</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readWrite</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ifName">
							<xs:attribute name="ifIndex" type="xs:unsignedInt" default="0"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="expireTime" default="1200">
				<xs:annotation>
					<xs:documentation>Expire Time</xs:documentation>
					<xs:appinfo>
						<access>readWrite</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="60"/>
						<xs:maxInclusive value="62640"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="probeInterval" default="5">
				<xs:annotation>
					<xs:documentation>Probe Interval</xs:documentation>
					<xs:appinfo>
						<access>readWrite</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="probeTimes" default="3">
				<xs:annotation>
					<xs:documentation>Probe Times</xs:documentation>
					<xs:appinfo>
						<access>readWrite</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="arpLearnDisable" type="xs:boolean" default="false">
				<xs:annotation>
					<xs:appinfo>
						<access>readWrite</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="arpLearnStrict" type="arpStrictLearn" default="trust">
				<xs:annotation>
					<xs:appinfo>
						<access>readWrite</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="routeProxyEnable" type="xs:boolean" default="false">
				<xs:annotation>
					<xs:appinfo>
						<access>readWrite</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="innerProxyEnable" type="xs:boolean" default="false">
				<xs:annotation>
					<xs:appinfo>
						<access>readWrite</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="interProxyEnable" type="xs:boolean" default="false">
				<xs:annotation>
					<xs:appinfo>
						<access>readWrite</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="fakeExpireTime" default="5">
				<xs:annotation>
					<xs:appinfo>
						<access>readWrite</access>
						<supportFilter>false</supportFilter>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="36000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="probeUnicast" type="xs:boolean" default="false">
				<xs:annotation>
					<xs:appinfo>
						<access>readWrite</access>
						<supportFilter>false</supportFilter>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="dstMacCheck" type="xs:boolean" default="false">
				<xs:annotation>
					<xs:appinfo>
						<access>readWrite</access>
						<supportFilter>false</supportFilter>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="srcMacCheck" type="xs:boolean" default="false">
				<xs:annotation>
					<xs:appinfo>
						<access>readWrite</access>
						<supportFilter>false</supportFilter>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="arp_arpIfLimits_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="arpIfLimit" type="arp_arpIfLimit_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="arp_arpIfLimit_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="ifName">
				<xs:annotation>
					<xs:documentation>接口名</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ifName">
							<xs:attribute name="ifIndex" type="xs:unsignedInt"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="vlanId" default="0">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4094"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="limitNum">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="65536"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="learnedNum">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
						<supportFilter>false</supportFilter>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="65536"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="arp_arpIPPools_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="arpIPPool" type="arp_arpIPPool_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="arp_arpIPPool_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="vlanId">
				<xs:annotation>
					<xs:documentation>subVlan</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="4094"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ipBegin">
				<xs:annotation>
					<xs:documentation>begin ipAddress</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="ipv4Address">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ipEnd" type="ipv4Address">
				<xs:annotation>
					<xs:documentation>end ipAddress</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="arp_arpIfErrPkts_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="arpIfErrPkt" type="arp_arpIfErrPkt_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="arp_arpIfErrPkt_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="slotId">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
						<supportFilter>true</supportFilter>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="24"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="sequence">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
						<supportFilter>true</supportFilter>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ifName">
				<xs:annotation>
					<xs:documentation>接口名</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
						<supportFilter>false</supportFilter>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ifName">
							<xs:attribute name="ifIndex" type="xs:unsignedInt"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="rcvTime" type="xs:dateTime">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
						<supportFilter>false</supportFilter>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="rcvContent">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="arp_arpSpeedLimits_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="arpSpeedLimit" type="arp_arpSpeedLimit_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="arp_arpSpeedLimit_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="slotId">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readWrite</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="24"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="suppressType" type="arpSuppType" default="ARP">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readWrite</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ipType" type="arpSuppIpType" default="Dest_Ip">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readWrite</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="suppressValue" default="500">
				<xs:annotation>
					<xs:appinfo>
						<access>readWrite</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="65536"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="arp_arpGlobalSpeedLimits_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="arpGSpeedLimit" type="arp_arpGSpeedLimit_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="arp_arpGSpeedLimit_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="gSuppressType" type="arpSuppType" default="ARP">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readWrite</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="gIpType" type="arpSuppIpType" default="Dest_Ip">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readWrite</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="gSuppressValue" default="500">
				<xs:annotation>
					<xs:appinfo>
						<access>readWrite</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="65536"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="arp_arpStatisticss_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="arpStatistics" type="arp_arpStatistics_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="arp_arpStatistics_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="slotId">
				<xs:annotation>
					<xs:documentation>slotId</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="24"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="pktReceived">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
						<supportFilter>false</supportFilter>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967294"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="missReceived">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
						<supportFilter>false</supportFilter>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967294"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="arpLearnCount">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
						<supportFilter>false</supportFilter>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967294"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="pktDropLimit">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
						<supportFilter>false</supportFilter>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967294"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="pktDropOther">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
						<supportFilter>false</supportFilter>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967294"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="missDropLimit">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
						<supportFilter>false</supportFilter>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967294"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="missDropOther">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
						<supportFilter>false</supportFilter>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967294"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="pktDropSpeedLmt">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
						<supportFilter>false</supportFilter>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967294"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="pktProxySupp">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
						<supportFilter>false</supportFilter>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967294"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
</xs:schema>
