src/plugins/com.huawei.networkos.ops/OPS2.0/schema/dgmp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Schema content Version: 1.0
file format version: 1.0
VIST version: VIST0.3.8
Copyright (c) 2008-2010 by HUAWEI TECHNOLOGIES.
All rights reserved.
-->
<xs:schema xmlns="http://www.huawei.com/netconf/vrp" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.huawei.com/netconf/vrp" elementFormDefault="qualified" attributeFormDefault="unqualified" xml:lang="en">
	<xs:annotation>
		<xs:appinfo>
			<formatVersion>1.0</formatVersion>
			<contentVersion>1.0</contentVersion>
		</xs:appinfo>
	</xs:annotation>
	<xs:include schemaLocation="pub_attribute.xsd"/>
	<xs:include schemaLocation="pub_type.xsd"/>
	<xs:include schemaLocation="dgmp_type.xsd"/>
	<xs:element name="dgmp" type="dgmp_dgmp_type">
		<xs:annotation>
			<xs:appinfo>
				<taskName>dgmp</taskName>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="dgmp_dgmp_type">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="dgmpDefaultIgmpParameter" type="dgmp_dgmpDefaultIgmpParameter_type"/>
			<xs:element name="dgmpDefaultIgmpIfParameter" type="dgmp_dgmpDefaultIgmpIfParameter_type"/>
			<xs:element name="dgmpDefaultMldParameter" type="dgmp_dgmpDefaultMldParameter_type"/>
			<xs:element name="dgmpDefaultMldIfParameter" type="dgmp_dgmpDefaultMldIfParameter_type"/>
			<xs:element name="dgmpIfCfgs" type="dgmp_dgmpIfCfgs_type"/>
			<xs:element name="dgmpSiteCfgs" type="dgmp_dgmpSiteCfgs_type"/>
			<xs:element name="dgmpStGRPCfgs" type="dgmp_dgmpStGRPCfgs_type"/>
			<xs:element name="dgmpGrpSchms" type="dgmp_dgmpGrpSchms_type"/>
			<xs:element name="dgmpStGrpSchms" type="dgmp_dgmpStGrpSchms_type"/>
			<xs:element name="dgmpSSMapRuleSchms" type="dgmp_dgmpSSMapRuleSchms_type"/>
			<xs:element name="dgmpIfSchms" type="dgmp_dgmpIfSchms_type"/>
			<xs:element name="dgmpCtrlMsgSchms" type="dgmp_dgmpCtrlMsgSchms_type"/>
		</xs:choice>
		<xs:attributeGroup ref="versionAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="dgmp_dgmpDefaultIgmpParameter_type">
		<xs:annotation>
			<xs:appinfo/>
			<xs:documentation>IGMP view默认参数</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="lastmemberQueryInterval" default="1">
				<xs:annotation>
					<xs:documentation>最后查询间隔</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="maxResponseTime" default="10">
				<xs:annotation>
					<xs:documentation>最大响应时间</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="requireRouterAlert">
				<xs:annotation>
					<xs:documentation>检查Alert</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="48"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="robustCount" default="2">
				<xs:annotation>
					<xs:documentation>健壮系数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="2"/>
						<xs:maxInclusive value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="sendRouterAlert">
				<xs:annotation>
					<xs:documentation>发送检查Alert</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="48"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ssmMapping">
				<xs:annotation>
					<xs:documentation>SSM映射</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="48"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="otherQuerierPresentTime" default="125">
				<xs:annotation>
					<xs:documentation>其他查询器存在时间</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="60"/>
						<xs:maxInclusive value="300"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="queryTime" default="60">
				<xs:annotation>
					<xs:documentation>查询间隔</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="18000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="dgmp_dgmpDefaultIgmpIfParameter_type">	
		<xs:annotation>
			<xs:appinfo/>
			<xs:documentation>IGMP if默认参数</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="groupPolicy">
				<xs:annotation>
					<xs:documentation>组策略</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="48"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="lastmemberQueryInterval" default="1">
				<xs:annotation>
					<xs:documentation>最后查询间隔</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="lastmemberQueryTime" default="2">
				<xs:annotation>
					<xs:documentation>最后查询时间</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967295"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="maxResponseTime" default="10">
				<xs:annotation>
					<xs:documentation>最大响应时间</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="otherQuerierPresentTimeExpire">
				<xs:annotation>
					<xs:documentation>其他查询器超时</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="48"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="promptLeave">
				<xs:annotation>
					<xs:documentation>立即离开</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="48"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="requireRouterAlert">
				<xs:annotation>
					<xs:documentation>检查Alert</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="48"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="robustCount" default="2">
				<xs:annotation>
					<xs:documentation>健壮系数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="2"/>
						<xs:maxInclusive value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="sendRouterAlert">
				<xs:annotation>
					<xs:documentation>发送检查Alert</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="48"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ssmMapping">
				<xs:annotation>
					<xs:documentation>SSM映射</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="48"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="startupQueryTimerExpire">
				<xs:annotation>
					<xs:documentation>启动查询间隔</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="48"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="staticGroup">
				<xs:annotation>
					<xs:documentation>静态组加入</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="48"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="otherQuerierPresentTime" default="125">
				<xs:annotation>
					<xs:documentation>其他查询器存在时间</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="60"/>
						<xs:maxInclusive value="300"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="queryTime" default="60">
				<xs:annotation>
					<xs:documentation>查询间隔</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="18000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="version" default="2">
				<xs:annotation>
					<xs:documentation>版本号</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ipSourcePolicy">
				<xs:annotation>
					<xs:documentation>源策略</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="48"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="dgmp_dgmpDefaultMldParameter_type">
		<xs:annotation>
			<xs:appinfo/>
			<xs:documentation>MLD view默认参数</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="lastmemberQueryInterval" default="1">
				<xs:annotation>
					<xs:documentation>最后查询间隔</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="lastmemberQueryTime" default="2">
				<xs:annotation>
					<xs:documentation>最后查询时间</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967295"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="maxResponseTime" default="10">
				<xs:annotation>
					<xs:documentation>最大响应时间</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="requireRouterAlert">
				<xs:annotation>
					<xs:documentation>检查Alert</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="48"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="robustCount" default="2">
				<xs:annotation>
					<xs:documentation>健壮系数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="2"/>
						<xs:maxInclusive value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="sendRouterAlert">
				<xs:annotation>
					<xs:documentation>发送检查Alert</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="48"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ssmMapping">
				<xs:annotation>
					<xs:documentation>SSM映射</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="48"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="queryTime" default="60">
				<xs:annotation>
					<xs:documentation>查询间隔</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="18000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="dgmp_dgmpDefaultMldIfParameter_type">	
		<xs:annotation>
			<xs:appinfo/>
			<xs:documentation>MLD if默认参数</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="groupPolicy">
				<xs:annotation>
					<xs:documentation>组策略</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="48"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="lastmemberQueryInterval" default="1">
				<xs:annotation>
					<xs:documentation>最后查询间隔</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="lastmemberQueryTime" default="2">
				<xs:annotation>
					<xs:documentation>最后查询时间</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967295"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="maxResponseTime" default="10">
				<xs:annotation>
					<xs:documentation>最大响应时间</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="otherQuerierPresentTimeExpire">
				<xs:annotation>
					<xs:documentation>其他查询器超时</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="48"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="promptLeave">
				<xs:annotation>
					<xs:documentation>立即离开</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="48"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="requireRouterAlert">
				<xs:annotation>
					<xs:documentation>检查Alert</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="48"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="robustCount" default="2">
				<xs:annotation>
					<xs:documentation>健壮系数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="2"/>
						<xs:maxInclusive value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="sendRouterAlert">
				<xs:annotation>
					<xs:documentation>发送检查Alert</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="48"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ssmMapping">
				<xs:annotation>
					<xs:documentation>SSM映射</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="48"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="startupQueryTimerExpire">
				<xs:annotation>
					<xs:documentation>启动查询间隔</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="48"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="staticGroup">
				<xs:annotation>
					<xs:documentation>静态组加入</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="48"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="queryTime" default="60">
				<xs:annotation>
					<xs:documentation>查询间隔</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="18000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="version" default="2">
				<xs:annotation>
					<xs:documentation>版本号</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="dgmp_dgmpIfCfgs_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dgmpIfCfg" type="dgmp_dgmpIfCfg_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dgmp_dgmpIfCfg_type">
		<xs:annotation>
			<xs:documentation>接口配置类</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="vrfName">
				<xs:annotation>
					<xs:documentation>公网或VPN实例</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="vrfName">
							<xs:attribute name="vrfIndex" type="xs:unsignedInt"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="ifName">
				<xs:annotation>
					<xs:documentation>接口名</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ifName">
							<xs:attribute name="ifIndex" type="xs:unsignedInt"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="addrFamily" type="commodelAfType">
				<xs:annotation>
					<xs:documentation>地址组为IPV4或者IPV6</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="gmpEnable" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>接口GMP使能</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ipSourcePly" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>是否过滤Report报文的主机地址</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="queryInterval" default="60">
				<xs:annotation>
					<xs:documentation>周期性普遍查询时间</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>false</allowNull>
						<mandatory>false</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="18000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="queryRspInterval" default="10">
				<xs:annotation>
					<xs:documentation>查询响应时间</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>false</allowNull>
						<mandatory>false</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="robustness" default="2">
				<xs:annotation>
					<xs:documentation>鲁棒稳定系数</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>false</allowNull>
						<mandatory>false</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="2"/>
						<xs:maxInclusive value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="version" default="2">
				<xs:annotation>
					<xs:documentation>配置的igmp或mld版本号</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>false</allowNull>
						<mandatory>false</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="lastMemberQueryInterval" default="1">
				<xs:annotation>
					<xs:documentation>特定组查询的周期性时间</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>false</allowNull>
						<mandatory>false</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="requireRouterAlert" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>是否需要RouterAlert</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>false</allowNull>
						<mandatory>false</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="sendRouterAlert" type="xs:boolean" default="true">
				<xs:annotation>
					<xs:documentation>是否发送RouterAlert</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>false</allowNull>
						<mandatory>false</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="othQuerierPstTime">
				<xs:annotation>
					<xs:documentation>其他查询器存在的时间</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="60"/>
						<xs:maxInclusive value="300"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="immediatelyLeave" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>是否配置立刻离开组</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>false</allowNull>
						<mandatory>false</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="immLeaveAclName">
				<xs:annotation>
					<xs:documentation>配置立刻离开组ACL Name</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="immLeaveAclIpv6">
				<xs:annotation>
					<xs:documentation>配置立刻离开组ACL Name</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="onDemandEnable" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>是否表项永不超时</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>false</allowNull>
						<mandatory>false</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="gmpEntryLimit">
				<xs:annotation>
					<xs:documentation>igmp limit</xs:documentation>
					<xs:appinfo>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="49152"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="exceptAclName">
				<xs:annotation>
					<xs:documentation>igmp limit except acl name</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
						<allowNull>true</allowNull>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="exceptAclIpv6">
				<xs:annotation>
					<xs:documentation>igmp limit except acl name</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
						<allowNull>true</allowNull>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ssmapEnable" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>接口SSMapping 使能</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="groupAclName">
				<xs:annotation>
					<xs:documentation>igmp组策略  ACL Name</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="groupAclIpv6">
				<xs:annotation>
					<xs:documentation>igmp组策略  ACL Name</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="groupAclGMPVer">
				<xs:annotation>
					<xs:documentation>igmp group-policy指定的IGMP版本号</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="dgmp_dgmpSiteCfgs_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dgmpSiteCfg" type="dgmp_dgmpSiteCfg_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dgmp_dgmpSiteCfg_type">
		<xs:annotation>
			<xs:documentation>全局配置类</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="vrfName">
				<xs:annotation>
					<xs:documentation>公网或VPN实例</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="vrfName">
							<xs:attribute name="vrfIndex" type="xs:unsignedInt"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="addrFamily" type="commodelAfType">
				<xs:annotation>
					<xs:documentation>地址组为IPV4或者IPV6</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="queryInterval" default="60">
				<xs:annotation>
					<xs:documentation>周期性普遍查询时间</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>false</allowNull>
						<mandatory>false</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="18000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="queryRspInterval" default="10">
				<xs:annotation>
					<xs:documentation>查询响应时间</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>false</allowNull>
						<mandatory>false</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="robustness" default="2">
				<xs:annotation>
					<xs:documentation>鲁棒稳定系数</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>false</allowNull>
						<mandatory>false</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="2"/>
						<xs:maxInclusive value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="lastMemberQueryInterval" default="1">
				<xs:annotation>
					<xs:documentation>特定组查询的周期性时间</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>false</allowNull>
						<mandatory>false</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="reqRouterAlert" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>是否需要RouterAlert</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="sendRouterAlert" type="xs:boolean" default="true">
				<xs:annotation>
					<xs:documentation>是否发送RouterAlert</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="othQuerierPstTime">
				<xs:annotation>
					<xs:documentation>其他查询器存在的时间</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="60"/>
						<xs:maxInclusive value="300"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="gmpEntryLimit">
				<xs:annotation>
					<xs:documentation>igmp limit</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
						<allowNull>true</allowNull>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="49152"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="dgmpSSMapCfgs" type="dgmp_dgmpSSMapCfgs_type"/>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="dgmp_dgmpSSMapCfgs_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dgmpSSMapCfg" type="dgmp_dgmpSSMapCfg_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dgmp_dgmpSSMapCfg_type">
		<xs:annotation>
			<xs:documentation>SSMapping规则配置类</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="ssmmapingGrp" type="ipAddress">
				<xs:annotation>
					<xs:documentation>ssmapping的组地址</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="isSSMapMask" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>是否配置组地址掩码</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
						<allowNull>true</allowNull>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ssmmapingMask" type="ipv4Address" default="0.0.0.0">
				<xs:annotation>
					<xs:documentation>组地址掩码</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
						<allowNull>true</allowNull>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="isMaskLen" type="xs:boolean" default="true">
				<xs:annotation>
					<xs:documentation>是否配置组地址掩码长度</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
						<allowNull>true</allowNull>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="maskLen" default="0">
				<xs:annotation>
					<xs:documentation>组地址掩码长度</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
						<allowNull>true</allowNull>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="128"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="srcAddr" type="ipAddress">
				<xs:annotation>
					<xs:documentation>ssmapping对应的源地址</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="dgmp_dgmpStGRPCfgs_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dgmpStGRPCfg" type="dgmp_dgmpStGRPCfg_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dgmp_dgmpStGRPCfg_type">
		<xs:annotation>
			<xs:documentation>静态组配置类</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="vrfName">
				<xs:annotation>
					<xs:documentation>公网或VPN实例</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="vrfName">
							<xs:attribute name="vrfIndex" type="xs:unsignedInt"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="addrFamily" type="commodelAfType">
				<xs:annotation>
					<xs:documentation>地址族为IPV4或IPV6</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ifName">
				<xs:annotation>
					<xs:documentation>接口名</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ifName">
							<xs:attribute name="ifIndex" type="xs:unsignedInt"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="staticGrp" type="ipAddress">
				<xs:annotation>
					<xs:documentation>静态组地址</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="isSourceAddr" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>静态组的源地址</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
						<allowNull>true</allowNull>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="sourceAddr" type="ipAddress">
				<xs:annotation>
					<xs:documentation>静态组的源地址</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
						<allowNull>true</allowNull>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="isStepGrpMask" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>是否配置组地址掩码</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
						<allowNull>true</allowNull>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="incStepGrpMask" type="ipv4Address" default="0.0.0.0">
				<xs:annotation>
					<xs:documentation>组地址掩码</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
						<allowNull>true</allowNull>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="isMaskLen" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>是否配置组地址掩码长度</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
						<allowNull>true</allowNull>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="maskLen" default="0">
				<xs:annotation>
					<xs:documentation>静态组的组地址增加步长，掩码长度</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
						<allowNull>true</allowNull>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="128"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="totalNum" default="2">
				<xs:annotation>
					<xs:documentation>静态组的配置个数</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="2"/>
						<xs:maxInclusive value="512"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="dgmp_dgmpGrpSchms_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dgmpGrpSchm" type="dgmp_dgmpGrpSchm_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dgmp_dgmpGrpSchm_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="vrfName">
				<xs:annotation>
					<xs:documentation>公网或VPN实例</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="vrfName">
							<xs:attribute name="vrfIndex" type="xs:unsignedInt"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="grpAddrType" type="commodelAfType">
				<xs:annotation>
					<xs:documentation>组地址类型</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ifName">
				<xs:annotation>
					<xs:documentation>接口名</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ifName">
							<xs:attribute name="ifIndex" type="xs:unsignedInt"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="grpAddr" type="ipAddress">
				<xs:annotation>
					<xs:documentation>IP组地址</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastReportAddr" type="ipAddress">
				<xs:annotation>
					<xs:documentation>上一次发送report的主机IP地址</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="upTime" type="timeTick">
				<xs:annotation>
					<xs:documentation>表项建立时间</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="expireTime" type="timeTick">
				<xs:annotation>
					<xs:documentation>表项超时时间</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastMemQC" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>最后一个成员查询次数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastMemQT" type="timeTick">
				<xs:annotation>
					<xs:documentation>最后一个成员查询定时器</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="srcFilterMode" type="dgmpSrcFilterMode">
				<xs:annotation>
					<xs:documentation>源过滤模式</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="v1HostTimer" type="timeTick">
				<xs:annotation>
					<xs:documentation>V1主机存在定时器</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="gHostTimer" type="timeTick">
				<xs:annotation>
					<xs:documentation>G主机存在定时器</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="isSSMapping" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>组标记，区分是report建立的组还是ssmap建立的组</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="dgmpSrcSchms" type="dgmp_dgmpSrcSchms_type" maxOccurs="unbounded"/>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="dgmp_dgmpStGrpSchms_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dgmpStGrpSchm" type="dgmp_dgmpStGrpSchm_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dgmp_dgmpStGrpSchm_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="vrfName">
				<xs:annotation>
					<xs:documentation>公网或VPN实例</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="vrfName">
							<xs:attribute name="vrfIndex" type="xs:unsignedInt"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="grpAddrType" type="commodelAfType">
				<xs:annotation>
					<xs:documentation>组地址类型</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ifName">
				<xs:annotation>
					<xs:documentation>接口名</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ifName">
							<xs:attribute name="ifIndex" type="xs:unsignedInt"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="grpAddr" type="ipAddress">
				<xs:annotation>
					<xs:documentation>IP静态组组地址</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="srcAddr" type="ipAddress">
				<xs:annotation>
					<xs:documentation>IPV6源地址</xs:documentation>
					<xs:appinfo>
						<key>false</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="mcastBoundary" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>是否是组播边界</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="dgmp_dgmpSSMapRuleSchms_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dgmpSSMapRuleSchm" type="dgmp_dgmpSSMapRuleSchm_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dgmp_dgmpSSMapRuleSchm_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="vrfName">
				<xs:annotation>
					<xs:documentation>公网或VPN实例</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="vrfName">
							<xs:attribute name="vrfIndex" type="xs:unsignedInt"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="addrFamily" type="commodelAfType">
				<xs:annotation>
					<xs:documentation>地址族类型</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="grpAddr" type="ipAddress">
				<xs:annotation>
					<xs:documentation>IP组地址</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="srcAddr" type="ipAddress">
				<xs:annotation>
					<xs:documentation>IP源地址</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="dgmp_dgmpSrcSchms_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dgmpSrcSchm" type="dgmp_dgmpSrcSchm_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dgmp_dgmpSrcSchm_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="srcAddr" type="ipAddress">
				<xs:annotation>
					<xs:documentation>IP源地址</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="srcUpTime" type="timeTick">
				<xs:annotation>
					<xs:documentation>源建立了多长时间</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="srcExpireTime" type="timeTick">
				<xs:annotation>
					<xs:documentation>源超时时间</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="srcLastMemQC" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>特定源组的最后成员查询次数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="srcLastMemQT" type="timeTick">
				<xs:annotation>
					<xs:documentation>特定源组的最后成员查询定时器</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="dgmp_dgmpIfSchms_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dgmpIfSchm" type="dgmp_dgmpIfSchm_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dgmp_dgmpIfSchm_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="vrfName">
				<xs:annotation>
					<xs:documentation>公网或VPN实例</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="vrfName">
							<xs:attribute name="vrfIndex" type="xs:unsignedInt"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="ifName">
				<xs:annotation>
					<xs:documentation>接口名</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ifName">
							<xs:attribute name="ifIndex" type="xs:unsignedInt"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="querierType" type="commodelAfType">
				<xs:annotation>
					<xs:documentation>查询器地址族类型</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ifAddr" type="ipAddress">
				<xs:annotation>
					<xs:documentation>接口IP地址</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="iGMPState" type="dgmpIfState">
				<xs:annotation>
					<xs:documentation>igmp状态</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="negotiateQT" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>协商的Query Timer定时器值</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="configureQT" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>配置的Query Timer定时器值</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="otherQueTimeOut" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>其他查询器存在的定时器</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="maxResTime" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>普遍查询的最大响应时间</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastMemQT" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>最后一个成员查询定时器</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="startupQI" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>启动时的查询间隔</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="startupQC" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>启动时的查询次数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="genQT" type="timeTick">
				<xs:annotation>
					<xs:documentation>普遍查询的定时器</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="querierAddr" type="ipAddress">
				<xs:annotation>
					<xs:documentation>查询器的IP地址</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="querierLocal" type="dgmpQuerierLocal">
				<xs:annotation>
					<xs:documentation>查询器是否存在和是否本地查询器</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="joins" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>收到的join报文的个数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="leaves" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>收到的leave报文的个数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="negoRobust" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>协商的鲁棒稳定系数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="confRobust" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>配置的鲁棒稳定系数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="startupQTState" type="dgmpStartupQTState">
				<xs:annotation>
					<xs:documentation>StartUp Query Timer的状态</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="otherQueTState" type="dgmpOtherQueTState">
				<xs:annotation>
					<xs:documentation>Other Querier Present Timer的状态</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="totalGrpReports" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>总的收到的Report的个数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="dgmp_dgmpCtrlMsgSchms_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dgmpCtrlMsgSchm" type="dgmp_dgmpCtrlMsgSchm_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dgmp_dgmpCtrlMsgSchm_type">
		<xs:annotation>
			<xs:documentation>报文数目统计类</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="vrfName">
				<xs:annotation>
					<xs:documentation>公网或VPN实例</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="vrfName">
							<xs:attribute name="vrfIndex" type="xs:unsignedInt"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="ifName">
				<xs:annotation>
					<xs:documentation>接口名</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ifName">
							<xs:attribute name="ifIndex" type="xs:unsignedInt"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="addrFamily" type="commodelAfType">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ifAddr" type="ipAddress">
				<xs:annotation>
					<xs:documentation>接口地址</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="queryNumVa">
				<xs:annotation>
					<xs:documentation>queryNumVa</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967295"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="queryNumInv">
				<xs:annotation>
					<xs:documentation>queryNumInv</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967295"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="queryNumIgn">
				<xs:annotation>
					<xs:documentation>queryNumIgn</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967295"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rptV12ASMNumVa">
				<xs:annotation>
					<xs:documentation>rptV12ASMNumVa</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967295"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rptV12ASMNumInv">
				<xs:annotation>
					<xs:documentation>rptV12ASMNumInv</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967295"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rptV12ASMNumIgn">
				<xs:annotation>
					<xs:documentation>rptV12ASMNumIgn</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967295"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rptV12SSMNumVa">
				<xs:annotation>
					<xs:documentation>rptV12SSMNumVa</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967295"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rptV12SSMNumInv">
				<xs:annotation>
					<xs:documentation>rptV12SSMNumInv</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967295"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rptV12SSMNumIgn">
				<xs:annotation>
					<xs:documentation>rptV12SSMNumIgn</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967295"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="levV12ASMNumVa">
				<xs:annotation>
					<xs:documentation>levV12ASMNumVa</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967295"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="levV12ASMNumInv">
				<xs:annotation>
					<xs:documentation>levV12ASMNumInv</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967295"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="levV12ASMNumIgn">
				<xs:annotation>
					<xs:documentation>levV12ASMNumIgn</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967295"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="levV12SSMNumVa">
				<xs:annotation>
					<xs:documentation>levV12SSMNumVa</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967295"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="levV12SSMNumInv">
				<xs:annotation>
					<xs:documentation>levV12SSMNumInv</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967295"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="levV12SSMNumIgn">
				<xs:annotation>
					<xs:documentation>levV12SSMNumIgn</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967295"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rptV3IsinVa">
				<xs:annotation>
					<xs:documentation>rptV3IsinVa</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967295"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rptV3IsinInv">
				<xs:annotation>
					<xs:documentation>rptV3IsinInv</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967295"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rptV3IsinIgn">
				<xs:annotation>
					<xs:documentation>rptV3IsinIgn</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967295"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rptV3IsexVa">
				<xs:annotation>
					<xs:documentation>rptV3IsexVa</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967295"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rptV3IsexInv">
				<xs:annotation>
					<xs:documentation>rptV3IsexInv</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967295"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rptV3IsexIgn">
				<xs:annotation>
					<xs:documentation>rptV3IsexIgn</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967295"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rptV3ToinVa">
				<xs:annotation>
					<xs:documentation>rptV3ToinVa</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967295"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rptV3ToinInv">
				<xs:annotation>
					<xs:documentation>rptV3ToinInv</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967295"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rptV3ToinIgn">
				<xs:annotation>
					<xs:documentation>rptV3ToinIgn</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967295"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rptV3ToexVa">
				<xs:annotation>
					<xs:documentation>rptV3ToexVa</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967295"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rptV3ToexInv">
				<xs:annotation>
					<xs:documentation>rptV3ToexInv</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967295"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rptV3ToexIgn">
				<xs:annotation>
					<xs:documentation>rptV3ToexIgn</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967295"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rptV3AllowVa">
				<xs:annotation>
					<xs:documentation>rptV3AllowVa</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967295"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rptV3AllowInv">
				<xs:annotation>
					<xs:documentation>rptV3AllowInv</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967295"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rptV3AllowIgn">
				<xs:annotation>
					<xs:documentation>rptV3AllowIgn</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967295"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rptV3BlockVa">
				<xs:annotation>
					<xs:documentation>rptV3BlockVa</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967295"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rptV3BlockInv">
				<xs:annotation>
					<xs:documentation>rptV3BlockInv</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967295"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rptV3BlockIgn">
				<xs:annotation>
					<xs:documentation>rptV3BlockIgn</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967295"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="srcNumVa">
				<xs:annotation>
					<xs:documentation>srcNumVa</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967295"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="srcNumInv">
				<xs:annotation>
					<xs:documentation>srcNumInv</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967295"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="srcNumIgn">
				<xs:annotation>
					<xs:documentation>srcNumIgn</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967295"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
</xs:schema>
