src/plugins/com.huawei.networkos.ops/OPS2.0/schema/dhcp_relay.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Schema content Version: 1.0
file format version: 1.0
VIST version: VIST 0.1.19 SP1
Copyright (c) 2008-2010 by HUAWEI TECHNOLOGIES.
All rights reserved.
-->
<xs:schema xmlns="http://www.huawei.com/netconf/vrp" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.huawei.com/netconf/vrp" elementFormDefault="qualified" attributeFormDefault="unqualified" xml:lang="en">
	<xs:annotation>
		<xs:appinfo>
			<formatVersion>1.0</formatVersion>
			<contentVersion>1.0</contentVersion>
		</xs:appinfo>
	</xs:annotation>
	<xs:include schemaLocation="pub_attribute.xsd"/>
	<xs:include schemaLocation="pub_type.xsd"/>
	<xs:complexType name="dhcpRelay_type">
		<xs:annotation>
			<xs:documentation>DHCP Relay </xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="dhcpRelayIfCfgs" type="dhcpdhcpRelayIfCfgs_type"/>
			<xs:element name="dhcpRelayServerGroups" type="dhcpRelayServerGroups_type"/>
			<xs:element name="dhcpRelayStatistics" type="dhcpdhcpRelayStatistic_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="nmsVpnInstances" type="nmsVpnInstances_type"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="dhcpdhcpRelayIfCfgs_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dhcpRelayIfCfg" type="dhcpdhcpRelayIfCfg_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dhcpdhcpRelayIfCfg_type">
		<xs:annotation>
			<xs:appinfo/>
			<xs:documentation>DHCP Relay</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="interfaceName" type="ifName">
				<xs:annotation>
					<xs:documentation>Interface Name</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="isEnable" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Enable or Disable</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="isGateWayEnable" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Gateway Enable or Not</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="serverGroupName">
				<xs:annotation>
					<xs:documentation>Server Group Name</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="isUndoServerSelect" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Server Group bound or Not</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="dhcpRelayServerAddrs" type="dhcpdhcpRelayServerAddrs_type"/>
			<xs:element name="dhcpRelayGiaddrs" type="dhcpdhcpRelayGiaddrs_type"/>
			<xs:element name="dhcpRelayServerAddress" type="dhcpdhcpRelayServerAddresss_type"/>
			<xs:element name="dhcpRelayGiaddress" type="dhcpdhcpRelayGiAddresss_type"/>
			<xs:element name="dhcpRelayInfoIntfs" type="dhcpdhcpRelayInfoIntfs_type"/>
			<xs:element name="dhcpRelayInfos" type="dhcpdhcpRelayInfos_type"/>
			<xs:element name="dhcpRelaySourceAddrs" type="dhcpRelaySourceAddrs_type"/>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="dhcpdhcpRelayGiaddrs_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dhcpRelayGiaddr" type="dhcpdhcpRelayGiaddr_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dhcpdhcpRelayGiaddr_type">
		<xs:annotation>
			<xs:documentation>DHCP Relay</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="giAddr" type="ipv4Address">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<key>true</key>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="isVendor" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Is vendor Present or Not</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<key>true</key>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="optionCode">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="254"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="vendorClass">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<key>true</key>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="128"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="dhcpdhcpRelayServerAddrs_type">
		<xs:sequence>
			<xs:element name="dhcpRelayServerAddr" type="dhcpdhcpRelayServerAddr_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dhcpdhcpRelayServerAddr_type">
		<xs:annotation>
			<xs:documentation>DHCP Relay</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="serverAddr" type="ipv4Address">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<key>true</key>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="isVendor" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Is vendor Present or Not</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<key>true</key>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="optionCode">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="254"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="vendorClass">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<key>true</key>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="128"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="dhcpdhcpRelayServerAddresss_type">
		<xs:sequence>
			<xs:element name="dhcpRelayServerAddress" type="dhcpdhcpRelayServerAddress_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dhcpdhcpRelayServerAddress_type">
		<xs:annotation>
			<xs:documentation>DHCP Relay</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="serverAddr" type="ipv4Address">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<key>true</key>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="dhcpdhcpRelayGiAddresss_type">
		<xs:sequence>
			<xs:element name="dhcpRelayGiaddress" type="dhcpdhcpRelayGiAddress_type" minOccurs="0" maxOccurs="2"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dhcpdhcpRelayGiAddress_type">
		<xs:annotation>
			<xs:documentation>DHCP Relay</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="2">
			<xs:element name="giAddr" type="ipv4Address">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<key>true</key>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="dhcpdhcpRelayInfoIntfs_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dhcpRelayInfoIntf" type="dhcpdhcpRelayInfoIntf_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dhcpdhcpRelayInfoIntf_type">
		<xs:annotation>
			<xs:documentation>DHCP Relay</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="giAddr" type="ipv4Address">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
						<key>true</key>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="serverAddr" type="ipv4Address">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
						<key>true</key>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="currentGiAddr" type="ipv4Address">
				<xs:annotation>
					<xs:appinfo>
						<key>false</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="isGateWayEnable" type="xs:boolean">
				<xs:annotation>
					<xs:appinfo>
						<key>false</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="serverGroupName">
				<xs:annotation>
					<xs:documentation>Server Group Name</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="dhcpdhcpRelayInfos_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dhcpRelayInfo" type="dhcpdhcpRelayInfo_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dhcpdhcpRelayInfo_type">
		<xs:annotation>
			<xs:documentation>DHCP Relay源地址臿</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="vendorClass">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="128"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="optionCode">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="254"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="giAddr" type="ipv4Address">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="serverAddr" type="ipv4Address">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="dhcpRelaySourceAddrs_type">
		<xs:annotation>
			<xs:documentation>DHCP Relay源地址表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dhcpRelaySourceAddr" type="dhcpRelaySourceAddr_type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dhcpRelaySourceAddr_type">
		<xs:annotation>
			<xs:documentation>DHCP Relay源地址表</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="1">
			<xs:element name="vrfName" type="vrfName">
				<xs:annotation>
					<xs:documentation>源地址所在VPN</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="sourceAddr">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="ipv4Address">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="dhcpRelayServerGroups_type">
		<xs:annotation>
			<xs:documentation>DHCP Relay </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dhcpRelayServerGroup" type="dhcpRelayServerGroup_type" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dhcpRelayServerGroup_type">
		<xs:annotation>
			<xs:documentation>DHCP Relay </xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="serverGroupName">
				<xs:annotation>
					<xs:documentation>name of server group</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
						<mandatory>true</mandatory>
						<unique>true</unique>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="gateway" type="ipv4Address">
				<xs:annotation>
					<xs:documentation>gateway for server group</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<mandatory>true</mandatory>
						<unique>true</unique>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="isUndoGateway" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Enable or Disable</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="vpnName" type="vrfName">
				<xs:annotation>
					<xs:documentation>VPN name for server group</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="dhcpRelayGroupedServers" type="dhcpRelayGroupedServers_type"/>
			<xs:element name="dhcpRelaySerGrpStats" type="dhcpRelaySerGrpStatistic_type"/>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="dhcpRelayGroupedServers_type">
		<xs:annotation>
			<xs:documentation>DHCP Relay</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dhcpRelayGroupedServer" type="dhcpRelayGroupedServer_type" minOccurs="0" maxOccurs="20"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dhcpRelayGroupedServer_type">
		<xs:annotation>
			<xs:documentation>DHCP Relay server</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="serverAddress" type="ipv4Address">
				<xs:annotation>
					<xs:documentation>Address of DHCP server</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<key>true</key>
						<mandatory>true</mandatory>
						<unique>true</unique>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="serverIndex">
				<xs:annotation>
					<xs:documentation>Index of server in group</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="dhcpRelaySerGrpStatistic_type">
		<xs:annotation>
			<xs:documentation>DHCP Relay</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dhcpRelaySerGrpStats" type="dhcpRelaySerGrpStatistics_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dhcpRelaySerGrpStatistics_type">
		<xs:annotation>
			<xs:documentation>DHCP Relay </xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="serverIpAddr" type="ipv4Address">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
						<key>true</key>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="badPktsReceive" type="xs:unsignedInt">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="pktsReceiveFromClient" type="xs:unsignedInt">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="discoverPktsReceive" type="xs:unsignedInt">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="requestPktsReceive" type="xs:unsignedInt">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="informPktsRecevie" type="xs:unsignedInt">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="declinePktsReceive" type="xs:unsignedInt">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="pktsReceiveFromServers" type="xs:unsignedInt">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="offerPktsReceive" type="xs:unsignedInt">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ackPktsReceive" type="xs:unsignedInt">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="nakPktsReceive" type="xs:unsignedInt">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="pktsSentToServers" type="xs:unsignedInt">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="pktsSentToClients" type="xs:unsignedInt">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="unicastPktsSentToClients" type="xs:unsignedInt">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="broadcastPktsSentToClients" type="xs:unsignedInt">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="dhcpdhcpRelayStatistics_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence/>
	</xs:complexType>
	<xs:complexType name="dhcpdhcpRelayStatistic_type">
		<xs:annotation>
			<xs:documentation>DHCP Relay</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="badPacketsRecvd" type="xs:unsignedInt">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="packetsRecvdFromClient" type="xs:unsignedInt">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="discoverPacketsRecvd" type="xs:unsignedInt">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="requestPacketsRecvd" type="xs:unsignedInt">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="informPacketsRecvd" type="xs:unsignedInt">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="declinePacketsRecvd" type="xs:unsignedInt">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="releasePacketsRecvd" type="xs:unsignedInt">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="packetsRecvdFromServers" type="xs:unsignedInt">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="offerPacketsRecvd" type="xs:unsignedInt">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ackPacketsRecvd" type="xs:unsignedInt">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="nakPacketsRecvd" type="xs:unsignedInt">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="packetsSentToServers" type="xs:unsignedInt">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="packetsSentToClients" type="xs:unsignedInt">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="unicastPacketsSentToClients" type="xs:unsignedInt">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="broadcastPacketsSentToClients" type="xs:unsignedInt">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="releasePacketsSentToServers" type="xs:unsignedInt">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="nmsVpnInstances_type">
		<xs:annotation>
			<xs:documentation>IP地址VPN表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nmsVpnInstance" type="nmsVpnInstance_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="nmsVpnInstance_type">
		<xs:annotation>
			<xs:documentation>IP地址VPN表</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="sourceAddr" type="ipv4Address">
				<xs:annotation>
					<xs:documentation>Ip Address</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
						<key>true</key>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="interfaceName" type="ifName">
				<xs:annotation>
					<xs:documentation>Interface Name</xs:documentation>
					<xs:appinfo>
						<key>false</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="vrfName" type="vrfName">
				<xs:annotation>
					<xs:documentation>VPN Name</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
						<mandatory>true</mandatory>
						<unique>true</unique>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
</xs:schema>
