src/plugins/com.huawei.networkos.ops/OPS2.0/schema/dldp_action.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.huawei.com/netconf/vrp" xml:lang="en" xmlns="http://www.huawei.com/netconf/vrp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="pub_attribute.xsd" />
  <xs:include schemaLocation="pub_type.xsd" />
  <xs:include schemaLocation="dldp_type.xsd" />
  <xs:annotation>
    <xs:appinfo>
      <formatVersion>1.0</formatVersion>
      <contentVersion>1.0</contentVersion>
    </xs:appinfo>
  </xs:annotation>
  <xs:element name="dldp" type="dldp_action_type">
    <xs:annotation>
      <xs:appinfo>
        <taskName>dldp</taskName>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="dldp_action_type">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="resetDldp" type="dldp_resetDldp_type" />
      <xs:element name="resetDldpStats" type="dldp_resetDldpStats_type" />
      <xs:element name="resetIfDldp" type="dldp_resetIfDldp_type" />
      <xs:element name="resetDldpIfStats" type="dldp_resetDldpIfStats_type" />
    </xs:choice>
    <xs:attributeGroup ref="versionAttributeGroup" />
  </xs:complexType>
  <xs:complexType name="dldp_resetDldp_type">
    <xs:annotation>
      <xs:documentation>重置DLDP协议</xs:documentation>
      <xs:appinfo>
        <affection>reset</affection>
        <operType>rpc</operType>
        <status>current</status>
      </xs:appinfo>
    </xs:annotation>
  </xs:complexType>
  <xs:complexType name="dldp_resetDldpStats_type">
    <xs:annotation>
      <xs:documentation>重置DLDP统计信息</xs:documentation>
      <xs:appinfo>
        <operType>rpc</operType>
        <status>current</status>
      </xs:appinfo>
    </xs:annotation>
  </xs:complexType>
  <xs:complexType name="dldp_resetIfDldp_type">
    <xs:annotation>
      <xs:documentation>重启接口的DLDP</xs:documentation>
      <xs:appinfo>
        <affection>reset</affection>
        <inputObject>ifName:ifName</inputObject>
        <operType>create</operType>
        <outPutObject>ifName:ifName</outPutObject>
        <status>current</status>
      </xs:appinfo>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="ifName">
        <xs:annotation>
          <xs:documentation />
          <xs:appinfo>
            <access>writeOnly</access>
          </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="ifName">
              <xs:attribute name="ifIndex" type="xs:unsignedInt" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="dldp_resetDldpIfStats_type">
    <xs:annotation>
      <xs:documentation>重置DLDP接口的统计信息</xs:documentation>
      <xs:appinfo>
        <inputObject>ifName:ifName</inputObject>
        <operType>rpc</operType>
        <outputObject>ifName:ifName</outputObject>
        <status>current</status>
      </xs:appinfo>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="ifName">
        <xs:annotation>
          <xs:documentation />
          <xs:appinfo>
            <access>writeOnly</access>
          </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="ifName">
              <xs:attribute name="ifIndex" type="xs:unsignedInt" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
</xs:schema>