src/plugins/com.huawei.networkos.ops/OPS2.0/schema/ethernet_action.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Schema content Version: 1.0
file format version: 1.0
VIST version: VIST 0.1.19 SP1
Copyright (c) 2008-2010 by HUAWEI TECHNOLOGIES.
All rights reserved.
-->
<xs:schema xmlns="http://www.huawei.com/netconf/vrp" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.huawei.com/netconf/vrp" elementFormDefault="qualified" attributeFormDefault="unqualified" xml:lang="en">
	<xs:annotation>
		<xs:appinfo>
			<formatVersion>1.0</formatVersion>
			<contentVersion>1.0</contentVersion>
		</xs:appinfo>
	</xs:annotation>
	<xs:include schemaLocation="pub_attribute.xsd"/>
	<xs:include schemaLocation="pub_type.xsd"/>
	<xs:include schemaLocation="ethernet_type.xsd"/>
	<xs:element name="ethernet" type="ethernet_action_ethernet_type">
		<xs:annotation>
			<xs:appinfo>
				<taskName>ethernet</taskName>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="ethernet_action_ethernet_type">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="createDot1qFlow" type="ethernet_action_createDot1qFlow_type"/>
			<xs:element name="deleteDot1qFlow" type="ethernet_action_deleteDot1qFlow_type"/>
			<xs:element name="createQinqFlow" type="ethernet_action_createQinqFlow_type"/>
			<xs:element name="deleteQinqFlow" type="ethernet_action_deleteQinqFlow_type"/>
		</xs:choice>
		<xs:attributeGroup ref="versionAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="ethernet_action_createDot1qFlow_type">
		<xs:annotation>
			<xs:documentation>创建Dot1q终结</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="ifName">
				<xs:annotation>
					<xs:documentation>dot1q:ifName</xs:documentation>
					<xs:appinfo>
						<access>writeOnly</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ifName">
							<xs:attribute name="ifIndex" type="xs:unsignedInt"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="vlanIdBgn">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo>
						<access>writeOnly</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="4094"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="vlanIdEnd">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo>
						<access>writeOnly</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="4094"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="groupId">
				<xs:annotation>
					<xs:appinfo>
						<access>writeOnly</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="16"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="ethernet_action_deleteDot1qFlow_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="ifName">
				<xs:annotation>
					<xs:documentation>dot1q:ifName</xs:documentation>
					<xs:appinfo>
						<access>writeOnly</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ifName">
							<xs:attribute name="ifIndex" type="xs:unsignedInt"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="vlanIdBgn">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo>
						<access>writeOnly</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="4094"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="vlanIdEnd">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo>
						<access>writeOnly</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="4094"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="groupId">
				<xs:annotation>
					<xs:appinfo>
						<access>writeOnly</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="16"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="ethernet_action_createQinqFlow_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="ifName">
				<xs:annotation>
					<xs:documentation>dot1q:ifName</xs:documentation>
					<xs:appinfo>
						<access>writeOnly</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ifName">
							<xs:attribute name="ifIndex" type="xs:unsignedInt"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="peVlanIdBgn">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo>
						<access>writeOnly</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="4094"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="peVlanIdEnd">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo>
						<access>writeOnly</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="4094"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ceVlanIdBgn">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo>
						<access>writeOnly</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="4094"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ceVlanIdEnd">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo>
						<access>writeOnly</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="4094"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="groupId">
				<xs:annotation>
					<xs:appinfo>
						<access>writeOnly</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="16"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="ethernet_action_deleteQinqFlow_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="ifName">
				<xs:annotation>
					<xs:documentation>dot1q:ifName</xs:documentation>
					<xs:appinfo>
						<access>writeOnly</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ifName">
							<xs:attribute name="ifIndex" type="xs:unsignedInt"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="peVlanIdBgn">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo>
						<access>writeOnly</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="4094"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="peVlanIdEnd">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo>
						<access>writeOnly</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="4094"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ceVlanIdBgn">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo>
						<access>writeOnly</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="4094"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ceVlanIdEnd">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo>
						<access>writeOnly</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="4094"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="groupId">
				<xs:annotation>
					<xs:appinfo>
						<access>writeOnly</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="16"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
</xs:schema>
