src/plugins/com.huawei.networkos.ops/OPS2.0/schema/flowspec.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Schema content Version: 1.0
file format version: 1.0
VIST version: VIST3.5.1
Copyright (c) 2008-2010 by HUAWEI TECHNOLOGIES.
All rights reserved.
-->
<xs:schema xmlns="http://www.huawei.com/netconf/vrp" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.huawei.com/netconf/vrp" elementFormDefault="qualified" attributeFormDefault="unqualified" xml:lang="en">
	<xs:annotation>
		<xs:appinfo>
			<formatVersion>1.0</formatVersion>
			<contentVersion>1.0</contentVersion>
		</xs:appinfo>
	</xs:annotation>
	<xs:include schemaLocation="pub_attribute.xsd"/>
	<xs:include schemaLocation="pub_type.xsd"/>
	<xs:include schemaLocation="flowspec_type.xsd"/>
	<xs:element name="flowspec" type="flowspec_flowspec_type">
		<xs:annotation>
			<xs:appinfo>
				<taskName>flowspec</taskName>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="flowspec_flowspec_type">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="FlowRoutes" type="flowspec_FlowRoutes_type"/>
		</xs:choice>
		<xs:attributeGroup ref="versionAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="flowspec_MatchDestinationPrefix_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="ipAddress" type="ipv4Address" default="0.0.0.0">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="maskLen" default="0">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attribute name="operation" type="editOperation" use="optional"/>
		<xs:attribute name="difference" type="configDifference" use="optional"/>
	</xs:complexType>
	<xs:complexType name="flowspec_MatchPorts_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MatchPort" type="flowspec_MatchPort_type" minOccurs="0" maxOccurs="2"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="flowspec_MatchPort_type">
		<xs:annotation>
			<xs:documentation/>
			<xs:appinfo>
				<autoDeleteChildren>true</autoDeleteChildren>
			</xs:appinfo>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="matchType" type="flowRouteMatchPortType" default="matchPort">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="operator" type="flowRouteOperator" default="equal">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="port" default="0">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="65535"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:simpleType name="flowspec_FlowRoute_routeName_Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="flowspec_FlowRoutes_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FlowRoute" type="flowspec_FlowRoute_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="flowspec_FlowRoute_type">
		<xs:annotation>
			<xs:documentation>flowroute</xs:documentation>
			<xs:appinfo>
				<autoDeleteChildren>true</autoDeleteChildren>
			</xs:appinfo>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="routeName">
				<xs:annotation>
					<xs:documentation>Specifies the name of the flow route. It is a string of 1 to 31 case-sensitive characters.</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<key>true</key>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="flowspec_FlowRoute_routeName_Type"/>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="matchCondition" type="flowspec_FlowRoute_matchCondition_Type"/>
			<xs:element name="applyAction" type="flowspec_FlowRoute_applyAction_Type"/>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="flowspec_MatchDscp_type">
		<xs:annotation>
			<xs:documentation/>
			<xs:appinfo>
				<autoDeleteChildren>true</autoDeleteChildren>
			</xs:appinfo>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="operator" type="flowRouteOperator" default="equal">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="dscp" default="0">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="63"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="flowspec_MatchIcmpType_type">
		<xs:annotation>
			<xs:documentation/>
			<xs:appinfo>
				<autoDeleteChildren>true</autoDeleteChildren>
			</xs:appinfo>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="operator" type="flowRouteOperator" default="equal">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="icmpType" default="0">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="flowspec_MatchIcmpCode_type">
		<xs:annotation>
			<xs:documentation/>
			<xs:appinfo>
				<autoDeleteChildren>true</autoDeleteChildren>
			</xs:appinfo>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="operator" type="flowRouteOperator" default="equal">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="icmpCode" default="0">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="flowspec_MatchTcpFlag_type">
		<xs:annotation>
			<xs:documentation/>
			<xs:appinfo>
				<autoDeleteChildren>true</autoDeleteChildren>
			</xs:appinfo>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="matchOP" type="xs:boolean" default="false">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="notOP" type="xs:boolean" default="false">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="tcpFlagValue" default="0">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="63"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="flowspec_MatchFragType_type">
		<xs:annotation>
			<xs:documentation/>
			<xs:appinfo>
				<autoDeleteChildren>true</autoDeleteChildren>
			</xs:appinfo>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="matchOP" type="xs:boolean" default="false">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="notOP" type="xs:boolean" default="false">
				<xs:annotation>
					<xs:documentation>The value is not or match.</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="fragmentTypeName" type="flowRouteMatchFragmentType" default="fragment">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="flowspec_MatchProtocol_type">
		<xs:annotation>
			<xs:documentation/>
			<xs:appinfo>
				<autoDeleteChildren>true</autoDeleteChildren>
			</xs:appinfo>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="operator" type="flowRouteOperator" default="equal">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="protocol" default="0">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="flowspec_ApplyRedirect_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="vpnTarget" default="0:0">
				<xs:annotation>
					<xs:documentation>Vpn-target: adds VPN target extended community attribute to the export or import VPN target extended community list. The vpn-target can be expressed in either of the following formats:
(1)16-bit AS number:32-bit user-defined number
For example, 1:3. The AS number ranges from 0 to 65535. The user-defined number ranges from 0 to 4294967295. The AS number and the user-defined number cannot be 0s at the same time. That is, a VPN target cannot be 0:0.
(2)32-bit IP address:16-bit user-defined number
For example, 192.168.122.15:1. The IP address ranges from 0.0.0.0 to 255.255.255.255. The user-defined number ranges from 0 to 65535.
					</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="21"/>
						<xs:minLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attribute name="operation" type="editOperation" use="optional"/>
		<xs:attribute name="difference" type="configDifference" use="optional"/>
	</xs:complexType>
	<xs:complexType name="flowspec_ApplyReMarkDscp_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="applyDscp" default="0">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="63"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attribute name="operation" type="editOperation" use="optional"/>
		<xs:attribute name="difference" type="configDifference" use="optional"/>
	</xs:complexType>
	<xs:complexType name="flowspec_ApplyTrafficRate_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="rate" default="1">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="100000000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attribute name="operation" type="editOperation" use="optional"/>
		<xs:attribute name="difference" type="configDifference" use="optional"/>
	</xs:complexType>
	<xs:complexType name="flowspec_ApplyDeny_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="applyDeny" type="xs:boolean" default="false">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="operation" type="editOperation" use="optional"/>
		<xs:attribute name="difference" type="configDifference" use="optional"/>
	</xs:complexType>
	<xs:complexType name="flowspec_FlowRoute_matchCondition_Type">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="MatchDestinationPrefix" type="flowspec_MatchDestinationPrefix_type" minOccurs="0"/>
			<xs:element name="MatchSourcePrefix" type="flowspec_MatchDestinationPrefix_type" minOccurs="0"/>
			<xs:element name="MatchPorts" type="flowspec_MatchPorts_type"/>
			<xs:element name="MatchDscp" type="flowspec_MatchDscp_type" minOccurs="0"/>
			<xs:element name="MatchFragType" type="flowspec_MatchFragType_type" minOccurs="0"/>
			<xs:element name="MatchIcmpCode" type="flowspec_MatchIcmpCode_type" minOccurs="0"/>
			<xs:element name="MatchIcmpType" type="flowspec_MatchIcmpType_type" minOccurs="0"/>
			<xs:element name="MatchProtocol" type="flowspec_MatchProtocol_type" minOccurs="0"/>
			<xs:element name="MatchTcpFlag" type="flowspec_MatchTcpFlag_type" minOccurs="0"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="flowspec_FlowRoute_applyAction_Type">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="ApplyRedirect" type="flowspec_ApplyRedirect_type" minOccurs="0"/>
			<xs:element name="ApplyReMarkDscp" type="flowspec_ApplyReMarkDscp_type" minOccurs="0"/>
			<xs:element name="ApplyTrafficRate" type="flowspec_ApplyTrafficRate_type" minOccurs="0"/>
			<xs:element name="ApplyDeny" type="flowspec_ApplyDeny_type" minOccurs="0"/>
		</xs:choice>
	</xs:complexType>
</xs:schema>
