src/plugins/com.huawei.networkos.ops/OPS2.0/schema/l3vpn_l3vpncomm_type.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Schema content Version: 1.0
file format version: 1.0
VIST version: VIST 0.1.18
Copyright (c) 2008-2010 by HUAWEI TECHNOLOGIES.
All rights reserved.
-->
<xs:schema xmlns="http://www.huawei.com/netconf/vrp" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.huawei.com/netconf/vrp" elementFormDefault="qualified" attributeFormDefault="unqualified" xml:lang="en">
    <xs:annotation>
        <xs:appinfo>
            <formatVersion>1.0</formatVersion>
            <contentVersion>1.0</contentVersion>
        </xs:appinfo>
    </xs:annotation>
    <xs:simpleType name="l3vpncommonVrfRtType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="export_extcommunity">
                <xs:annotation>
                    <xs:documentation>export-extcommunity:</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="import_extcommunity">
                <xs:annotation>
                    <xs:documentation>import-extcommunity:</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="l3vpncommonOperationType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="all">
                <xs:annotation>
                    <xs:documentation>all:</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="l3vpncommonRowStatus">
        <xs:restriction base="xs:string">
            <xs:enumeration value="active">
                <xs:annotation>
                    <xs:documentation>active:</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="notInService">
                <xs:annotation>
                    <xs:documentation>notInService:</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="notReady">
                <xs:annotation>
                    <xs:documentation>notReady:</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="createAndGo">
                <xs:annotation>
                    <xs:documentation>createAndGo:</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="createAndWait">
                <xs:annotation>
                    <xs:documentation>createAndWait:</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="destroy">
                <xs:annotation>
                    <xs:documentation>destroy:</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="l3vpncommonStorageType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="other">
                <xs:annotation>
                    <xs:documentation>other:</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="volatile">
                <xs:annotation>
                    <xs:documentation>volatile:</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="nonVolatile">
                <xs:annotation>
                    <xs:documentation>nonVolatile:</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="permanent">
                <xs:annotation>
                    <xs:documentation>permanent:</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="readOnly">
                <xs:annotation>
                    <xs:documentation>readOnly:</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="l3vpncommonLabelMode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="perInstance">
                <xs:annotation>
                    <xs:documentation>perInstance:</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="perRoute">
                <xs:annotation>
                    <xs:documentation>perRoute:</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="l3vpncommonL3vpnPrefixType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ipv4uni">
                <xs:annotation>
                    <xs:documentation>ipv4uni:</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ipv6uni">
                <xs:annotation>
                    <xs:documentation>ipv6uni:</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="l3vpncommonTtlModeVpn">
        <xs:restriction base="xs:string">
            <xs:enumeration value="uniform">
                <xs:annotation>
                    <xs:documentation>uniform:</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="pipe">
                <xs:annotation>
                    <xs:documentation>pipe:</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="l3vpncommonVrfStatus">
        <xs:restriction base="xs:string">
            <xs:enumeration value="up">
                <xs:annotation>
                    <xs:documentation>vrf up.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="down">
                <xs:annotation>
                    <xs:documentation>vrf down.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="l3vpnbaseVpnAddrFm">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ipv4unicast">
                <xs:annotation>
                    <xs:documentation>ipv4unicast:</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="rmbaseProtocolType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Direct">
                <xs:annotation>
                    <xs:documentation>Direct:</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OSPF">
                <xs:annotation>
                    <xs:documentation>OSPF:</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ISIS">
                <xs:annotation>
                    <xs:documentation>ISIS:</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Static">
                <xs:annotation>
                    <xs:documentation>Static:</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RIP">
                <xs:annotation>
                    <xs:documentation>RIP:</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BGP">
                <xs:annotation>
                    <xs:documentation>BGP:</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OSPFV3">
                <xs:annotation>
                    <xs:documentation>OSPFV3:</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RIPNG">
                <xs:annotation>
                    <xs:documentation>RIPNG:</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Total">
                <xs:annotation>
                    <xs:documentation>Total:</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="rmbaseRouteFlag">
        <xs:restriction base="xs:string">
            <xs:enumeration value="D">
                <xs:annotation>
                    <xs:documentation>D:</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RD">
                <xs:annotation>
                    <xs:documentation>RD:</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="R">
                <xs:annotation>
                    <xs:documentation>R:</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="rmbaseRouteState">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Active_Adv">
                <xs:annotation>
                    <xs:documentation>Active Adv:</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Active_NoAdv">
                <xs:annotation>
                    <xs:documentation>Active NoAdv:</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Inactive_Adv">
                <xs:annotation>
                    <xs:documentation>Inactive Adv:</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Active_Adv_Relied">
                <xs:annotation>
                    <xs:documentation>Active Adv Relied:</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Invalid_Adv">
                <xs:annotation>
                    <xs:documentation>Invalid Adv:</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Active_NoAdv_Relied">
                <xs:annotation>
                    <xs:documentation>Active NoAdv Relied:</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Invalid_NoAdv">
                <xs:annotation>
                    <xs:documentation>Invalid NoAdv:</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Inactive_NoAdv">
                <xs:annotation>
                    <xs:documentation>Inactive NoAdv:</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="rmbaseRoutePriority">
        <xs:restriction base="xs:string">
            <xs:enumeration value="critical">
                <xs:annotation>
                    <xs:documentation>critical:</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="high">
                <xs:annotation>
                    <xs:documentation>high:</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="medium">
                <xs:annotation>
                    <xs:documentation>medium:</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="low">
                <xs:annotation>
                    <xs:documentation>low:</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="commodelProtocolType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INIT">
                <xs:annotation>
                    <xs:documentation>INIT:</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Direct">
                <xs:annotation>
                    <xs:documentation>Direct:</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OSPF">
                <xs:annotation>
                    <xs:documentation>OSPF:</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ISIS">
                <xs:annotation>
                    <xs:documentation>ISIS:</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Static">
                <xs:annotation>
                    <xs:documentation>Static:</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RIP">
                <xs:annotation>
                    <xs:documentation>RIP:</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BGP">
                <xs:annotation>
                    <xs:documentation>BGP:</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OSPFV3">
                <xs:annotation>
                    <xs:documentation>OSPFV3:</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RIPNG">
                <xs:annotation>
                    <xs:documentation>RIPNG:</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Total">
                <xs:annotation>
                    <xs:documentation>Total:</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NetStream">
                <xs:annotation>
                    <xs:documentation>NetStream:</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
