src/plugins/com.huawei.networkos.ops/OPS2.0/schema/mac.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Schema content Version: 1.0
file format version: 1.0
VIST version: VIST 0.1.23
Copyright (c) 2008-2010 by HUAWEI TECHNOLOGIES.
All rights reserved.
-->
<xs:schema xmlns="http://www.huawei.com/netconf/vrp" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.huawei.com/netconf/vrp" elementFormDefault="qualified" attributeFormDefault="unqualified" xml:lang="en">
	<xs:annotation>
		<xs:appinfo>
			<formatVersion>1.0</formatVersion>
			<contentVersion>1.0</contentVersion>
		</xs:appinfo>
	</xs:annotation>
	<xs:include schemaLocation="pub_attribute.xsd"/>
	<xs:include schemaLocation="pub_type.xsd"/>
	<xs:include schemaLocation="mac_type.xsd"/>
	<xs:element name="mac" type="mac_type">
		<xs:annotation>
			<xs:appinfo>
				<taskName>mac</taskName>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="mac_type">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="globalAttribute" type="mac_globalAttribute_type"/>
			<xs:element name="vlanFdbs" type="mac_vlanFdbs_type"/>
			<xs:element name="vsiFdbs" type="mac_vsiFdbs_type"/>
			<xs:element name="macLimitRules" type="mac_MacLimitRules_type"/>
			<xs:element name="vlanMacLimits" type="mac_vlanMacLimits_type"/>
			<xs:element name="vsiMacLimits" type="mac_vsiMacLimits_type"/>
			<xs:element name="pwMacLimits" type="mac_pwMacLimits_type"/>
			<xs:element name="ifMacLimits" type="mac_ifMacLimits_type"/>
			<xs:element name="ifVlanMacLimits" type="mac_ifVlanMacLimits_type"/>
			<xs:element name="subifMacLimits" type="mac_subifMacLimits_type"/>
			<xs:element name="pwSuppresss" type="mac_pwSuppresss_type"/>
			<xs:element name="vsiInSuppressions" type="mac_vsiInSuppressions_type"/>
			<xs:element name="vsiOutSuppressions" type="mac_vsiOutSuppressions_type"/>
		</xs:choice>
		<xs:attributeGroup ref="versionAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="mac_vlanFdbs_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="vlanFdb" type="mac_vlanFdb_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mac_vsiFdbs_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="vsiFdb" type="mac_vsiFdb_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mac_vlanFdb_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="macAddress" type="macAddress">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="vlanId" type="macVlanId">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="macType" type="macType">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="outIfName">
				<xs:annotation>
					<xs:appinfo>
						<mandatory>true</mandatory>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ifName">
							<xs:attribute name="ifIndex"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="mac_vsiInSuppressions_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="vsiInSuppression" type="mac_vsiInSuppression_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mac_vsiInSuppression_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0">
			<xs:element name="vsiName">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="inboundSupp" type="macEnableStatus" default="enable">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>false</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="mac_vsiOutSuppressions_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="vsiOutSuppression" type="mac_vsiOutSuppression_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mac_vsiOutSuppression_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0">
			<xs:element name="vsiName">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="outboundSupp" type="macEnableStatus" default="enable">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>false</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="mac_pwSuppresss_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="pwSuppress" type="mac_pwSuppress_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mac_vsiFdb_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="macAddress" type="macAddress">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="vsiName">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="macType" type="macType">
				<xs:annotation>
					<xs:appinfo>
						<mandatory>true</mandatory>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="outIfName">
				<xs:annotation>
					<xs:appinfo>
						<mandatory>true</mandatory>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ifName">
							<xs:attribute name="ifIndex"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="pevid" type="macVlanId">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="cevid" type="macVlanId">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="mac_vlanMacLimits_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="vlanMacLimit" type="mac_vlanMacLimit_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mac_vsiMacLimits_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="vsiMacLimit" type="mac_vsiMacLimit_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mac_vlanMacLimit_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="vlanId" type="macVlanId">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="maximum">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="130048"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rate" default = "0">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>	
						<allowNull>true</allowNull>		
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="1000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="action" type="macLimitForward" default="discard">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="alarm" type="macEnableStatus" default="enable">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="mac_vsiMacLimit_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="vsiName">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="maximum">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="130048"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rate" default="0">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="1000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="action" type="macLimitForward" default="discard">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="alarm" type="macEnableStatus" default="disable">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="mac_pwSuppress_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="vsiName">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="pwName">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="suppressType" type="suppressType" default="broadcast">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="cir" default="100">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedLong">
						<xs:minInclusive value="100"/>
						<xs:maxInclusive value="1000000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cbs" default="33554432">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedLong">
						<xs:maxInclusive value="33554432"/>
						<xs:minInclusive value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="mac_ifMacLimit_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="ifName">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ifName">
							<xs:attribute name="ifIndex" type="xs:unsignedInt"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="limitType" type="limitType" default="macLimit">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ruleName">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="maximum">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="131072"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rate" default="0">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
					  <allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="1000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="action" type="macLimitForward" default="discard">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="alarm" type="macEnableStatus" default="enable">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="mac_subifMacLimit_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="ifName">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ifName">
							<xs:attribute name="ifIndex" type="xs:unsignedInt"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="limitType" type="limitType" default="macLimit">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="vsiName">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ruleName">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="maximum">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="131072"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rate" default="0">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="1000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="action" type="macLimitForward" default="discard">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
      <xs:element name="alarm" type="macEnableStatus" default="enable">
        <xs:annotation>
          <xs:appinfo>
            <access>readCreate</access>
            <allowNull>true</allowNull>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="mac_ifVlanMacLimit_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="ifName">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ifName">
							<xs:attribute name="ifIndex" type="xs:unsignedInt"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="vlanBegin" type="macVlanId">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="vlanEnd" type="macVlanId">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="limitType" type="limitType" default="macLimit">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ruleName">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="maximum">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="131072"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rate" default = "0">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="1000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="action" type="macLimitForward" default="discard">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="alarm" type="macEnableStatus" default="enable">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="mac_ifMacLimits_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ifMacLimit" type="mac_ifMacLimit_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mac_subifMacLimits_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="subifMacLimit" type="mac_subifMacLimit_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mac_ifVlanMacLimits_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ifVlanMacLimit" type="mac_ifVlanMacLimit_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mac_MacLimitRules_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="macLimitRule" type="mac_MacLimitRule_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mac_MacLimitRule_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="ruleName">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="maximum">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="131072"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rate" default="0">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="1000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="action" type="macLimitForward" default="discard">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="alarm" type="macEnableStatus" default="enable">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="mac_pwMacLimit_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="vsiName">
				<xs:annotation>
					<xs:appinfo>
							<key>true</key>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="pwName">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="maximum">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="130048"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rate" default = "0">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="1000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="action" type="macLimitForward" default="discard">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
      <xs:element name="alarm" type="macEnableStatus" default="enable">
        <xs:annotation>
          <xs:appinfo>
            <access>readCreate</access>
            <allowNull>true</allowNull>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="mac_pwMacLimits_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="pwMacLimit" type="mac_pwMacLimit_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mac_globalAttribute_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="macAgeTimeEnable" type="macAgeTimeType" default="enable">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="macAgingTime" default="300">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="60"/>
						<xs:maxInclusive value="1000000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--xs:element name="macUsage">
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="macThreshold">
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt"/>
				</xs:simpleType>
			</xs:element-->
		</xs:sequence>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
</xs:schema>
