src/plugins/com.huawei.networkos.ops/OPS2.0/schema/mcastbase.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Schema content Version: 1.0
file format version: 1.0
VIST version: VIST 0.1.24
Copyright (c) 2008-2010 by HUAWEI TECHNOLOGIES.
All rights reserved.
-->
<xs:schema xmlns="http://www.huawei.com/netconf/vrp" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.huawei.com/netconf/vrp" elementFormDefault="qualified" attributeFormDefault="unqualified" xml:lang="en">
	<xs:annotation>
		<xs:appinfo>
			<formatVersion>1.0</formatVersion>
			<contentVersion>1.0</contentVersion>
		</xs:appinfo>
	</xs:annotation>
	<xs:include schemaLocation="pub_attribute.xsd"/>
	<xs:include schemaLocation="pub_type.xsd"/>
	<xs:include schemaLocation="mcastbase_type.xsd"/>
	<xs:element name="mcastbase" type="mcastafsbase_mcastafsbase_type">
		<xs:annotation>
			<xs:appinfo>
				<taskName>mcastbase</taskName>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="mcastafsbase_mcastafsbase_type">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="mcastAfsEnables" type="mcastafsbase_mcastAfsEnables_type"/>
			<xs:element name="mcastMibCfg" type="mcastafsbase_mcastMibCfg_type"/>
		</xs:choice>
		<xs:attributeGroup ref="versionAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="mcastafsbase_mcastAfsEnables_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="mcastAfsEnable" type="mcastafsbase_mcastAfsEnable_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mcastafsbase_mcastAfsEnable_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0">
			<xs:element name="vrfName">
				<xs:annotation>
					<xs:documentation>公网或VPN实例</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="vrfName">
							<xs:attribute name="vrfIndex" type="xs:unsignedInt"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="addressFamily" type="rmbaseAfType">
				<xs:annotation>
					<xs:documentation>地址族</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="mcastAfsSiteCfgs" type="mcastafsbase_mcastAfsSiteCfgs_type"/>
			<xs:element name="mcastAfsIfCfgs" type="mcastafsbase_mcastAfsIfCfgs_type"/>
			<xs:element name="mcastAfsBoundarys" type="mcastafsbase_mcastAfsBoundarys_type"/>
			<xs:element name="mcastAfsMTopoModes" type="mcastafsbase_mcastAfsMTopoModes_type"/>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="mcastafsbase_mcastAfsSiteCfgs_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="mcastAfsSiteCfg" type="mcastafsbase_mcastAfsSiteCfg_type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mcastafsbase_mcastAfsSiteCfg_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0">
			<xs:element name="longestMatch" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>最长匹配策略优先</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="loadSplitting" type="mcastafsbaseLoadSplit" default="None">
				<xs:annotation>
					<xs:documentation>组播负载分担</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="mcastafsbase_mcastAfsIfCfgs_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="mcastAfsIfCfg" type="mcastafsbase_mcastAfsIfCfg_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mcastafsbase_mcastAfsIfCfg_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="ifName">
				<xs:annotation>
					<xs:documentation>接口名称</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ifName">
							<xs:attribute name="ifIndex" type="xs:unsignedInt"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="minTtl" default="1">
				<xs:annotation>
					<xs:documentation>组播转发的最小TTL值</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="mcastafsbase_mcastAfsBoundarys_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="mcastAfsBoundary" type="mcastafsbase_mcastAfsBoundary_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mcastafsbase_mcastAfsBoundary_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="ifName">
				<xs:annotation>
					<xs:documentation>接口名称</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ifName">
							<xs:attribute name="ifIndex" type="xs:unsignedInt"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="groupAddr" type="ipAddress">
				<xs:annotation>
					<xs:documentation>IP地址</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="groupMaskLength">
				<xs:annotation>
					<xs:documentation>组地址掩码长度</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="4"/>
						<xs:maxInclusive value="128"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="mcastafsbase_mcastAfsMTopoModes_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="mcastAfsMTopoMode" type="mcastafsbase_mcastAfsMTopoMode_type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mcastafsbase_mcastAfsMTopoMode_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice>
			<xs:element name="multiTopoEnable" type="xs:boolean">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="mcastAfsMTopoRules" type="mcastafsbase_mcastAfsMTopoRules_type"/>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="mcastafsbase_mcastAfsMTopoRules_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="mcastAfsMTopoRule" type="mcastafsbase_mcastAfsMTopoRule_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mcastafsbase_mcastAfsMTopoRule_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice>
			<xs:element name="topoName">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<key>true</key>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="mcastafsbase_mcastMibCfg_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0">
			<xs:element name="electionValue" default="65535">
				<xs:annotation>
					<xs:documentation>接口当选DR告警的最小发送间隔</xs:documentation>
					<xs:appinfo>
						<key>false</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="65535"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="invJpValue" default="65535">
				<xs:annotation>
					<xs:documentation>收到无效Join/Prune报文告警的最小发送间隔</xs:documentation>
					<xs:appinfo>
						<key>false</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="10"/>
						<xs:maxInclusive value="65535"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="invRegValue" default="65535">
				<xs:annotation>
					<xs:documentation>收到无效注册报文告警的最小发送间隔</xs:documentation>
					<xs:appinfo>
						<key>false</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="10"/>
						<xs:maxInclusive value="65535"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="nbrLossValue" default="0">
				<xs:annotation>
					<xs:documentation>邻居丢失告警的最小发送间隔</xs:documentation>
					<xs:appinfo>
						<key>false</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="65535"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="newNbrValue" default="0">
				<xs:annotation>
					<xs:documentation>增加新邻居告警的最小发送间隔</xs:documentation>
					<xs:appinfo>
						<key>false</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="65535"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rpChgValue" default="65535">
				<xs:annotation>
					<xs:documentation>RP-Mapping改变告警的最小发送间隔</xs:documentation>
					<xs:appinfo>
						<key>false</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="65535"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
</xs:schema>
