src/plugins/com.huawei.networkos.ops/OPS2.0/schema/mvpn.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Schema content Version: 1.0
file format version: 1.0
VIST version: VIST 0.1.19
Copyright (c) 2008-2010 by HUAWEI TECHNOLOGIES.
All rights reserved.
-->
<xs:schema xmlns="http://www.huawei.com/netconf/vrp" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.huawei.com/netconf/vrp" elementFormDefault="qualified" attributeFormDefault="unqualified" xml:lang="en">
	<xs:annotation>
		<xs:appinfo>
			<formatVersion>1.0</formatVersion>
			<contentVersion>1.0</contentVersion>
		</xs:appinfo>
	</xs:annotation>
	<xs:include schemaLocation="pub_attribute.xsd"/>
	<xs:include schemaLocation="pub_type.xsd"/>
	<xs:include schemaLocation="mvpn_type.xsd"/>
	<xs:element name="mvpn" type="mvpn_mvpn_type">
		<xs:annotation>
			<xs:appinfo>
				<taskName>mvpn</taskName>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="mvpn_mvpn_type">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="mvpnDefaultParameter" type="mvpn_mvpnDefaultParameter_type"/>
			<xs:element name="mvpnFeatures" type="mvpn_mvpnFeatures_type"/>
			<xs:element name="mvpnSourceInterfaces" type="mvpn_mvpnSourceInterfaces_type"/>
			<xs:element name="mvpnShareGrpInfos" type="mvpn_mvpnShareGrpInfos_type"/>
			<xs:element name="mvpnSwtGrpSendInfos" type="mvpn_mvpnSwtGrpSendInfos_type"/>
			<xs:element name="mvpnSwtGrpRecvInfos" type="mvpn_mvpnSwtGrpRecvInfos_type"/>
			<xs:element name="mvpnSwtInvPktStates" type="mvpn_mvpnSwtInvPktStates_type"/>
			<xs:element name="mvpnSwtInvPktInfos" type="mvpn_mvpnSwtInvPktInfos_type"/>
			<xs:element name="slotMvpnCfgs" type="mvpn_slotCfgs_type">
				<xs:annotation>
					<xs:appinfo>
						<access>readWrite</access>
						<owner>product</owner>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="mvpnpipeCfgs" type="mvpnpipe_cfgs_type">
				<xs:annotation>
					<xs:appinfo>
						<access>readWrite</access>
						<owner>product</owner>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="versionAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="mvpn_mvpnDefaultParameter_type">
		<xs:annotation>
			<xs:appinfo/>
			<xs:documentation>MVPN默认参数</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="switchDelay" default="5">
				<xs:annotation>
					<xs:documentation>从Share-MDT向Switch-MDT切换的延迟时间</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="3"/>
						<xs:maxInclusive value="60"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="thresholdValue" default="0">
				<xs:annotation>
					<xs:documentation>向Switch-MDT切换的组播报文速率阈值</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4194304"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="holddownTime" default="60">
				<xs:annotation>
					<xs:documentation>从Switch-MDT切换回Share-MDT的延迟时间</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="180"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="logSGReuseFlag">
				<xs:annotation>
					<xs:documentation>是否配置了记录Switch-Group地址重用的日志信息</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="48"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="shareGroup">
				<xs:annotation>
					<xs:documentation>是否配置了Share-Group组地址和绑定本VPN实例的MTI接口</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="48"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="switchGroupPool">
				<xs:annotation>
					<xs:documentation>是否配置了Switch-MDT的切换地址池范围和切换条件</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="48"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="autoDiscovery">
				<xs:annotation>
					<xs:documentation>是否配置了VPN使用的A-D模式</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="48"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="swtWithoutReg">
				<xs:annotation>
					<xs:documentation>是否提前建立公网SPT</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="48"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="mvpn_mvpnFeatures_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="mvpnFeature" type="mvpn_mvpnFeature_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mvpn_mvpnFeature_type">
		<xs:annotation>
			<xs:appinfo>
				<autoDeleteChildren>true</autoDeleteChildren>
			</xs:appinfo>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="vrfName">
				<xs:annotation>
					<xs:documentation>公网或VPN实例</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="vrfName">
							<xs:attribute name="vrfIndex" type="xs:unsignedInt"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="addressFamily" type="commodelAfType">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="signalingMode" type="mvpnSignalingMode" default="INVALID">
				<xs:annotation>
					<xs:documentation>信令传输模式</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="autoDiscoveryMode" type="mvpnADMode" default="NONE">
				<xs:annotation>
					<xs:documentation>自动发现模式</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="isSwitchWithoutRegister" type="xs:boolean" default="false">
				<xs:annotation>
					<xs:documentation>是否关闭提前建立公网SPT功能</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="configType" type="mvpnCfgType" default="MD">
				<xs:annotation>
					<xs:documentation>使能MVPN的命令行方式</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="mvpnTunnelInterfaces" type="mvpn_mvpnTunnelInterfaces_type"/>
			<xs:element name="mvpnIpmsis" type="mvpn_mvpnIpmsis_type"/>
			<xs:element name="mvpnSpmsis" type="mvpn_mvpnSpmsis_type"/>
			<xs:element name="mvpnControlMsgTables" type="mvpn_mvpnControlMsgTables_type"/>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="mvpn_mvpnTunnelInterfaces_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="mvpnTunnelInterface" type="mvpn_mvpnTunnelInterface_type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mvpn_mvpnTunnelInterface_type">
		<xs:annotation>
			<xs:appinfo>
				<autoDeleteChildren>true</autoDeleteChildren>
			</xs:appinfo>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="mtlNum">
				<xs:annotation>
					<xs:documentation>mtunnel口的接口ID</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4095"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="mtlName">
				<xs:annotation>
					<xs:documentation>mtunnel口的接口名</xs:documentation>
					<xs:appinfo>
						<key>false</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="48"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="isUnnumbered" type="xs:boolean" default="false">
				<xs:annotation>
					<xs:documentation>是否是地址借用</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="unnumberedIfName">
				<xs:annotation>
					<xs:documentation>被借用的接口名</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ifName">
							<xs:attribute name="ifIndex" type="xs:unsignedInt"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="mtunnelIfIpAddress">
				<xs:annotation>
					<xs:documentation>MTI口IP地址</xs:documentation>
					<xs:appinfo>
						<key>false</key>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="ipv4Address"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="mtunnelIfIpMaskLength">
				<xs:annotation>
					<xs:documentation>MTI口IP地址掩码长度</xs:documentation>
					<xs:appinfo>
						<key>false</key>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="mvpn_mvpnIpmsis_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="mvpnIpmsi" type="mvpn_mvpnIpmsi_type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mvpn_mvpnIpmsi_type">
		<xs:annotation>
			<xs:appinfo>
				<autoDeleteChildren>true</autoDeleteChildren>
			</xs:appinfo>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="tunnelMode" type="mvpnTunnelMode" default="PIMSM">
				<xs:annotation>
					<xs:documentation>IPMSI的隧道模式</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="shareGrpAddr" type="ipAddress">
				<xs:annotation>
					<xs:documentation>Share Group地址</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="mvpn_mvpnSpmsis_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="mvpnSpmsi" type="mvpn_mvpnSpmsi_type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mvpn_mvpnSpmsi_type">
		<xs:annotation>
			<xs:appinfo>
				<autoDeleteChildren>true</autoDeleteChildren>
			</xs:appinfo>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="tunnelLimit" default="0">
				<xs:annotation>
					<xs:documentation>隧道总数</xs:documentation>
					<xs:appinfo>
						<key>false</key>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="256"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="tunnelMode" type="mvpnTunnelMode">
				<xs:annotation>
					<xs:documentation>SPMSI的隧道模式</xs:documentation>
					<xs:appinfo>
						<key>false</key>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="groupPoolAddr" type="ipAddress">
				<xs:annotation>
					<xs:documentation>Switch-Group-pool的起始地址</xs:documentation>
					<xs:appinfo>
						<key>false</key>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="groupPoolMaskLength">
				<xs:annotation>
					<xs:documentation>Switch-Group-pool地址的掩码长度</xs:documentation>
					<xs:appinfo>
						<key>false</key>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="24"/>
						<xs:maxInclusive value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="thresholdValue" default="0">
				<xs:annotation>
					<xs:documentation>Switch-MDT切换阈值</xs:documentation>
					<xs:appinfo>
						<key>false</key>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4194304"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="switchDelayTime" default="5">
				<xs:annotation>
					<xs:documentation>Share-MDT向Switch-MDT切换的延迟时间</xs:documentation>
					<xs:appinfo>
						<key>false</key>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="3"/>
						<xs:maxInclusive value="60"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="holdDownTime" default="60">
				<xs:annotation>
					<xs:documentation>Switch-MDT切换回Share-MDT的延迟时间</xs:documentation>
					<xs:appinfo>
						<key>false</key>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="180"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="groupAclName">
				<xs:annotation>
					<xs:documentation>指定切换地址池作用（S，G）项的策略</xs:documentation>
					<xs:appinfo>
						<key>false</key>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="isSwitchGroupReuseLog" type="xs:boolean" default="false">
				<xs:annotation>
					<xs:documentation>Switch group 重用的日志信息开关</xs:documentation>
					<xs:appinfo>
						<key>false</key>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="mvpn_mvpnSourceInterfaces_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="mvpnSourceInterface" type="mvpn_mvpnSourceInterface_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mvpn_mvpnSourceInterface_type">
		<xs:annotation>
			<xs:appinfo>
				<autoDeleteChildren>true</autoDeleteChildren>
			</xs:appinfo>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="vrfName">
				<xs:annotation>
					<xs:documentation>公网或VPN实例</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="vrfName">
							<xs:attribute name="vrfIndex" type="xs:unsignedInt"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="addressFamily" type="commodelAfType">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="sourceInterfaceName">
				<xs:annotation>
					<xs:documentation>MTI接口借用地址的实际接口</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ifName">
							<xs:attribute name="ifIndex" type="xs:unsignedInt"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="sourceIpAddress">
				<xs:annotation>
					<xs:documentation>公网自动配置借用接口地址</xs:documentation>
					<xs:appinfo>
						<key>false</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="ipv4Address"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="sourceIpMaskLength">
				<xs:annotation>
					<xs:documentation>公网自动配置借用接口地址的掩码长度</xs:documentation>
					<xs:appinfo>
						<key>false</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="4"/>
						<xs:maxInclusive value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="mvpn_mvpnControlMsgTables_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="mvpnControlMsgTable" type="mvpn_mvpnControlMsgTable_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mvpn_mvpnControlMsgTable_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="msgType">
				<xs:annotation>
					<xs:documentation>消息类型</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rcvdMsgNum">
				<xs:annotation>
					<xs:documentation>接收的数量</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967295"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="sendMsgNum">
				<xs:annotation>
					<xs:documentation>发送的数量</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967295"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="invalidMsgNum">
				<xs:annotation>
					<xs:documentation>无效的数量</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967295"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="mvpn_mvpnShareGrpInfos_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="mvpnShareGrpInfo" type="mvpn_mvpnShareGrpInfo_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mvpn_mvpnShareGrpInfo_type">
		<xs:annotation>
			<xs:documentation>显示share group信息</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="vrfName">
				<xs:annotation>
					<xs:documentation>公网或VPN实例</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="vrfName">
							<xs:attribute name="vrfIndex" type="xs:unsignedInt"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="addressFamily" type="commodelAfType">
				<xs:annotation>
					<xs:documentation>地址族，IPV4或IPV6</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="shareGrpAddress" type="ipAddress">
				<xs:annotation>
					<xs:documentation>share group地址</xs:documentation>
					<xs:appinfo>
						<key>false</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="mtunnelAddress" type="ipAddress">
				<xs:annotation>
					<xs:documentation>mtunnel口地址</xs:documentation>
					<xs:appinfo>
						<key>false</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="mvpn_mvpnSwtGrpSendInfos_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="mvpnSwtGrpSendInfo" type="mvpn_mvpnSwtGrpSendInfo_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mvpn_mvpnSwtGrpSendInfo_type">
		<xs:annotation>
			<xs:documentation>显示Switch-group发送信息</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice>
			<xs:element name="vrfName">
				<xs:annotation>
					<xs:documentation>公网或VPN实例</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="vrfName">
							<xs:attribute name="vrfIndex" type="xs:unsignedInt"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="addressFamily" type="commodelAfType">
				<xs:annotation>
					<xs:documentation>地址族，IPV4或IPV6</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="swtGrpAddress" type="ipAddress">
				<xs:annotation>
					<xs:documentation>switch group 地址</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="referenceCount" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>引用计数</xs:documentation>
					<xs:appinfo>
						<key>false</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="sgInfos" type="mvpn_sgInfos_type"/>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="mvpn_sgInfos_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sgInfo" type="mvpn_sgInfo_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mvpn_sgInfo_type">
		<xs:annotation>
			<xs:documentation>SG及switch time信息</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice>
			<xs:element name="srcAddress" type="ipv4Address">
				<xs:annotation>
					<xs:documentation>源地址</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="grpAddress" type="ipv4Address">
				<xs:annotation>
					<xs:documentation>组地址</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="swtTime" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>切换时间</xs:documentation>
					<xs:appinfo>
						<key>false</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="mvpn_mvpnSwtGrpRecvInfos_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="mvpnSwtGrpRecvInfo" type="mvpn_mvpnSwtGrpRecvInfo_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mvpn_mvpnSwtGrpRecvInfo_type">
		<xs:annotation>
			<xs:documentation>显示Switch-group接收信息</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice>
			<xs:element name="vrfName">
				<xs:annotation>
					<xs:documentation>公网或VPN实例</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="vrfName">
							<xs:attribute name="vrfIndex" type="xs:unsignedInt"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="addressFamily" type="commodelAfType">
				<xs:annotation>
					<xs:documentation>地址族，IPV4或IPV6</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="swtGrpAddress" type="ipAddress">
				<xs:annotation>
					<xs:documentation>switch group 地址</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="referenceCount" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>引用计数</xs:documentation>
					<xs:appinfo>
						<key>false</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="activeCount" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>活跃的组播组计数</xs:documentation>
					<xs:appinfo>
						<key>false</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="senderInfos" type="mvpn_senderInfos_type"/>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="mvpn_senderInfos_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="senderInfo" type="mvpn_senderInfo_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mvpn_senderInfo_type">
		<xs:annotation>
			<xs:documentation>发送端信息</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice>
			<xs:element name="senderAddress" type="ipAddress">
				<xs:annotation>
					<xs:documentation>发送端地址</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="senderActiveCnt" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>发送端的活跃的组播组计数</xs:documentation>
					<xs:appinfo>
						<key>false</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="swtSGInfos" type="mvpn_swtSGInfos_type"/>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="mvpn_swtSGInfos_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="swtSGInfo" type="mvpn_swtSGInfo_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mvpn_swtSGInfo_type">
		<xs:annotation>
			<xs:documentation>SG信息</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice>
			<xs:element name="srcAddress" type="ipv4Address">
				<xs:annotation>
					<xs:documentation>源地址</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="grpAddress" type="ipv4Address">
				<xs:annotation>
					<xs:documentation>组地址</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="expireTime" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>超时时间</xs:documentation>
					<xs:appinfo>
						<key>false</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="isActive" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>是否活跃</xs:documentation>
					<xs:appinfo>
						<key>false</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="mvpn_mvpnSwtInvPktStates_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="mvpnSwtInvPktState" type="mvpn_mvpnSwtInvPktState_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mvpn_mvpnSwtInvPktState_type">
		<xs:annotation>
			<xs:documentation>显示switch无效报文的状态</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="vrfName">
				<xs:annotation>
					<xs:documentation>公网或VPN实例</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="vrfName">
							<xs:attribute name="vrfIndex" type="xs:unsignedInt"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="addressFamily" type="commodelAfType">
				<xs:annotation>
					<xs:documentation>地址族，IPV4或IPV6</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="packetLength" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>无效报文长度的数目</xs:documentation>
					<xs:appinfo>
						<key>false</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="msgType" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>无效报文的类型数目</xs:documentation>
					<xs:appinfo>
						<key>false</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="mcastSrcAddress" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>无效组播源地址数目</xs:documentation>
					<xs:appinfo>
						<key>false</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="mcastGrpAddress" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>无效组播组地址数目</xs:documentation>
					<xs:appinfo>
						<key>false</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="swtGrpAddress" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>无效switch group地址数目</xs:documentation>
					<xs:appinfo>
						<key>false</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="mvpn_mvpnSwtInvPktInfos_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="mvpnSwtInvPktInfo" type="mvpn_mvpnSwtInvPktInfo_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mvpn_mvpnSwtInvPktInfo_type">
		<xs:annotation>
			<xs:documentation>显示switch无效报文的状态</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="packetIndex" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>无效报文的序号</xs:documentation>
					<xs:appinfo>
						<key>false</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ifAddress" type="ipv4Address">
				<xs:annotation>
					<xs:documentation>接收无效报文的接口地址</xs:documentation>
					<xs:appinfo>
						<key>false</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="recvTime">
				<xs:annotation>
					<xs:documentation>接收时间</xs:documentation>
					<xs:appinfo>
						<key>false</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="48"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="packetLength" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>无效报文的长度</xs:documentation>
					<xs:appinfo>
						<key>false</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="msgType">
				<xs:annotation>
					<xs:documentation>无效报文的类型</xs:documentation>
					<xs:appinfo>
						<key>false</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="msgContent">
				<xs:annotation>
					<xs:documentation>无效报文的内容</xs:documentation>
					<xs:appinfo>
						<key>false</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="mvpn_slotCfgs_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="slotMvpnCfg" type="mvpn_slotCfg_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mvpn_slotCfg_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="position">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
					<xs:documentation>slot</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="mvpnpipe_cfgs_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="mvpnpipeCfg" type="mvpnpipe_cfg_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mvpnpipe_cfg_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="mTunnelName">
				<xs:annotation>
					<xs:documentation>mTunnel名称</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ifName">
							<xs:attribute name="ifIndex" type="xs:unsignedInt"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="mode" type="modeType" default="uniform">
				<xs:annotation>
					<xs:documentation>模式</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="serviceClass" type="serviceClassType" default="be">
				<xs:annotation>
					<xs:documentation>服务类型</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="color" type="colorType" default="green">
				<xs:annotation>
					<xs:documentation>颜色</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
</xs:schema>
