src/plugins/com.huawei.networkos.ops/OPS2.0/schema/nsm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.huawei.com/netconf/vrp" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.huawei.com/netconf/vrp" elementFormDefault="qualified" attributeFormDefault="unqualified" xml:lang="en">
	<xs:annotation>
		<xs:appinfo>
			<formatVersion>1.0</formatVersion>
			<contentVersion>1.0</contentVersion>
		</xs:appinfo>
	</xs:annotation>
	<xs:include schemaLocation="pub_attribute.xsd"/>
	<xs:include schemaLocation="pub_type.xsd"/>
	<xs:include schemaLocation="nsm_type.xsd"/>
	<xs:element name="nsm" type="nsm_type">
		<xs:annotation>
			<xs:appinfo>
				<taskName>nsm</taskName>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="nsm_type">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="NsmSGConfs" type="nsm_NsmSGConfs_type"/>
			<xs:element name="nsmTimeApplicationLabels" type="nsm_nsmGlobeTals_type"/>
			<xs:element name="NsmSISampEnables" type="nsm_NsmSISampEnables_type"/>
			<xs:element name="nsmAggregations" type="nsm_nsmAggregations_type"/>
			<xs:element name="nsmSlots" type="nsm_nsmSlotHosts_type"/>
			<xs:element name="nsmStatistics" type="nsm_nsmStatisticss_type"/>
			<xs:element name="nsmSamperSlots" type="nsm_nsmSamperSlots_type"/>
			<xs:element name="nsmMSchemas" type="nsm_nsmMSchemas_type"/>
			<xs:element name="NsmSGFixPacks" type="nsm_NsmSGFixPacks_type"/>
			<xs:element name="NsmSIFixPacks" type="nsm_NsmSIFixPacks_type"/>
		</xs:choice>
		<xs:attributeGroup ref="versionAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="nsm_nsmMSchemas_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nsmMSchema" type="nsm_nsmMSchema_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="nsm_nsmMSchema_type">
		<xs:annotation>
			<xs:documentation/>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="flowType" type="nsmFLOWTYPE" default="ip_flow">
				<xs:annotation>
					<xs:documentation>流类型</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="mName">
				<xs:annotation>
					<xs:documentation>MonitorName</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="appCount" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>应用计数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="nsmMHostIPv4s" type="nsm_nsmMHostIPv4s_type"/>
			<xs:element name="nsmMHostIPv6s" type="nsm_nsmMHostIPv6s_type"/>
			<xs:element name="nsmMInfs" type="nsm_nsmMInfs_type"/>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="nsm_nsmExportIPv6Hosts_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nsmExportIPv6Host" type="nsm_nsmExportIPv6Host_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="nsm_nsmExportIPv6Host_type">
		<xs:annotation>
			<xs:documentation/>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="hostipaddr" type="ipv6Address">
				<xs:annotation>
					<xs:documentation>聚合流目的IPv6地址</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="hostport" default="1">
				<xs:annotation>
					<xs:documentation>目的端口</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="65535"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="nsm_nsmExportIPv4Hosts_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nsmExportIPv4Host" type="nsm_nsmExportIPv4Host_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="nsm_nsmExportIPv4Host_type">
		<xs:annotation>
			<xs:documentation/>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="hostipaddr" type="ipv4Address">
				<xs:annotation>
					<xs:documentation>聚合流目的IPv4地址</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="hostport" default="1">
				<xs:annotation>
					<xs:documentation>目的端口</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="65535"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="nsm_nsmGlobeTals_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nsmTimeApplicationLabel" type="nsm_nsmGlobeTal_type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="nsm_nsmGlobeTal_type">
		<xs:annotation>
			<xs:documentation/>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="flowType" type="nsmFLOWTYPE" default="ip_flow">
				<xs:annotation>
					<xs:documentation>流类型</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="talEnable" type="nsmEnable" default="false">
				<xs:annotation>
					<xs:documentation>Tal使能标志</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="talInfos" type="nsm_talInfos_type"/>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="nsm_nsmAggregations_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nsmAggregation" type="nsm_nsmAggregation_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="nsm_nsmAggregation_type">
		<xs:annotation>
			<xs:documentation/>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="flowType" type="nsmFLOWTYPE" default="ip_flow">
				<xs:annotation>
					<xs:documentation>流类型</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aggType" type="nsmAggType" default="as">
				<xs:annotation>
					<xs:documentation>聚合类型</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aggEnable" type="nsmEnable" default="false">
				<xs:annotation>
					<xs:documentation>聚合使能</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="sourceIpv4" type="ipv4Address">
				<xs:annotation>
					<xs:documentation>聚合流源地址</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="sourceIpv6" type="ipv6Address">
				<xs:annotation>
					<xs:documentation>聚合流源地址</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="temTimeOut" default="30">
				<xs:annotation>
					<xs:documentation>模板刷新的时间间隔</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="3600"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="version" type="nsmAggVersion" default="8">
				<xs:annotation>
					<xs:documentation>输出版本</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="sourceMask" default="24">
				<xs:annotation>
					<xs:documentation>源掩码</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="128"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="destMask" default="24">
				<xs:annotation>
					<xs:documentation>聚合目的掩码长度</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="128"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="nsmExportIPv4Hosts" type="nsm_nsmExportIPv4Hosts_type"/>
			<xs:element name="nsmExportIPv6Hosts" type="nsm_nsmExportIPv6Hosts_type"/>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="nsm_nsmStatistics_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="flowType" type="nsmFLOWTYPE" default="ip_flow">
				<xs:annotation>
					<xs:documentation>流类型</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="statisticType" type="nsmStatType">
				<xs:annotation>
					<xs:documentation>统计类型</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="exportType" type="nsmTemplatType">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
					<xs:documentation>模板类型，聚合，原始流，选项</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="exportKey">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
					<xs:documentation>输出关键字</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="successNum" type="xs:unsignedInt">
				<xs:annotation>
					<xs:appinfo>
						<supportFilter>false</supportFilter>
						<access>readOnly</access>
					</xs:appinfo>
					<xs:documentation>成功个数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="failedNum" type="xs:unsignedInt">
				<xs:annotation>
					<xs:appinfo>
						<supportFilter>false</supportFilter>
						<access>readOnly</access>
					</xs:appinfo>
					<xs:documentation>失败个数</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="nsm_nsmStatisticss_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nsmStatistic" type="nsm_nsmStatistics_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="nsm_nsmSlotHosts_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nsmSlot" type="nsm_nsmSlotHost_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="nsm_nsmSlotHost_type">
		<xs:annotation>
			<xs:documentation>Slot视图下的目的地址配置</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="flowType" type="nsmFLOWTYPE" default="ip_flow">
				<xs:annotation>
					<xs:documentation>流类型</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="sourceSlot">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
					<xs:documentation>源Slot</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="samplerMode" type="nsmDESBOARD" default="self">
				<xs:annotation>
					<xs:documentation>选板类型</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="destSlot">
				<xs:annotation>
					<xs:documentation>目的Slot</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="nsm_nsmSamperSlots_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nsmSamperSlot" type="nsm_nsmSamperSlot_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="nsm_nsmSamperSlot_type">
		<xs:annotation>
			<xs:appinfo/>
			<xs:documentation>nsm采样板</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="samperSlot">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
					<xs:documentation>Slot</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="flowType" type="nsmFLOWTYPE" default="ip_flow">
				<xs:annotation>
					<xs:documentation>流类型</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="addrType" type="nsmFLOWTYPE" default="ip_flow">
				<xs:annotation>
					<xs:documentation>地址类型</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="IPv4v6" type="ipAddress">
				<xs:annotation>
					<xs:documentation>目的IP地址</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="desPort" default="1">
				<xs:annotation>
					<xs:documentation>目的端口</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="65535"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="nsm_nsmMHostIPv6s_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nsmMHostIPv6" type="nsm_nsmMHostIPv6_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="nsm_nsmMHostIPv6_type">
		<xs:annotation>
			<xs:documentation/>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="hostipaddr" type="ipv6Address">
				<xs:annotation>
					<xs:documentation>聚合流目的IPv6地址</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="hostport" default="1">
				<xs:annotation>
					<xs:documentation>目的端口</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="65535"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="nsm_nsmMHostIPv4s_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nsmMHostIPv4" type="nsm_nsmMHostIPv4_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="nsm_nsmMHostIPv4_type">
		<xs:annotation>
			<xs:documentation/>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="hostipaddr" type="ipv4Address">
				<xs:annotation>
					<xs:documentation>聚合流目的IPv4地址</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="hostport" default="1">
				<xs:annotation>
					<xs:documentation>目的端口</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="65535"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="nsm_nsmMInfs_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nsmMInf" type="nsm_nsmMInf_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="nsm_nsmMInf_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="ifName" type="ifName">
				<xs:annotation>
					<xs:documentation>接口选项使能标志</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="direction" type="nsmDIRECTION" default="inbound">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="nsm_NsmSGConfs_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NsmSGConf" type="nsm_NsmSGConf_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="nsm_NsmSGConf_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="flowType" type="nsmFLOWTYPE" default="ip_flow">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="sourceIpv4Addr" type="ipv4Address">
				<xs:annotation>
					<xs:documentation>主机源ipv4地址</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="sourceIpv6Addr" type="ipv6Address">
				<xs:annotation>
					<xs:documentation>主机源ipv6地址</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="version" type="nsmOriginVersion" default="5">
				<xs:annotation>
					<xs:documentation>输出报文版本</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="asType" type="nsmAsType" default="invalid_as">
				<xs:annotation>
					<xs:documentation>输出报文的自治系统号类型</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="bgpNextHop" type="nsmEnable" default="false">
				<xs:annotation>
					<xs:documentation>BGP下一跳信息支持</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="tempTimeoutRate" default="30">
				<xs:annotation>
					<xs:documentation>模板刷新的时间间隔</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="3600"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="optTimeoutRate" default="30">
				<xs:annotation>
					<xs:documentation>Opt模板刷新时间间隔</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="3600"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="optRefreshRate" default="20">
				<xs:annotation>
					<xs:documentation>选项模板报文间隔刷新参数</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="600"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aggActIntval" default="5">
				<xs:annotation>
					<xs:documentation>聚合流非活跃老化时间</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="60"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aggInActIntval" default="300">
				<xs:annotation>
					<xs:documentation>聚合流活跃老化时间</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="5"/>
						<xs:maxInclusive value="600"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="originActive" default="30">
				<xs:annotation>
					<xs:documentation>配置原始流活跃老化时间</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="60"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="originInactive" default="30">
				<xs:annotation>
					<xs:documentation>配置原始流活跃老化时间</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="5"/>
						<xs:maxInclusive value="600"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="asMode" type="nsmAsmodeIndex" default="16">
				<xs:annotation>
					<xs:documentation>配置as域支持的模式</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="indexSwitch" type="nsmAsmodeIndex" default="16">
				<xs:annotation>
					<xs:documentation>接口索引号</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="tcpFlagEnable" type="nsmEnable" default="false">
				<xs:annotation>
					<xs:documentation>配置是否提取tcp-flag信息</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="mplsAwareEnable" type="nsmMplsAware" default="ip_only">
				<xs:annotation>
					<xs:documentation>mpls-aware使能标志</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="sysTimeoutEnable" type="nsmEnable" default="false">
				<xs:annotation>
					<xs:documentation>系统选项使能标志</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="intfOptEnable" type="nsmEnable" default="false">
				<xs:annotation>
					<xs:documentation>接口选项使能标志</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="NsmGHostIPv4s" type="nsm_NsmGHostIPv4s_type"/>
			<xs:element name="NsmGHostIPv6s" type="nsm_NsmGHostIPv6s_type"/>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="nsm_NsmSGFixPacks_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NsmSGFixPack" type="nsm_NsmSGFixPack_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="nsm_NsmSGFixPack_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="flowType" type="nsmFLOWTYPE" default="ip_flow">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="direction" type="nsmDIRECTION" default="inbound">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="samplerType" type="nsmSamplingMode" default="fix_packets">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="fixPackValue">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="65535"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="fixTimeValue">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="5"/>
						<xs:maxInclusive value="30000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ranPackValue">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="65535"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="nsm_NsmGHostIPv4s_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NsmGHostIPv4" type="nsm_NsmGHostIPv4_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="nsm_NsmGHostIPv4_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="address" type="ipv4Address">
				<xs:annotation>
					<xs:documentation>全局目的IPv4地址</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="port" default="1">
				<xs:annotation>
					<xs:documentation>目的端口</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="65535"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="nsm_NsmGHostIPv6s_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NsmGHostIPv6" type="nsm_NsmGHostIPv6_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="nsm_NsmGHostIPv6_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="address" type="ipv6Address">
				<xs:annotation>
					<xs:documentation>聚合流目的IPv6地址</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="port" default="1">
				<xs:annotation>
					<xs:documentation>目的端口</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="65535"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="nsm_NsmSISampEnables_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NsmSISampEnable" type="nsm_NsmSISampEnable_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="nsm_NsmSISampEnable_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="flowType" type="nsmFLOWTYPE" default="ip_flow">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ifName" type="ifName">
				<xs:annotation>
					<xs:documentation>接口选项使能标志</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="direction" type="nsmDIRECTION" default="inbound">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="nsm_NsmSIFixPacks_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NsmSIFixPack" type="nsm_NsmSIFixPack_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="nsm_NsmSIFixPack_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="flowType" type="nsmFLOWTYPE" default="ip_flow">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ifName" type="ifName">
				<xs:annotation>
					<xs:documentation>接口选项使能标志</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="direction" type="nsmDIRECTION" default="inbound">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="samplerType" type="nsmSamplingMode" default="fix_packets">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="fixPackValue">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="65535"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="fixTimeValue">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="65"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ranPackValue">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="65535"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ranTimeValue" type="nsmRANDOMTIME">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="nsm_talInfos_type">
		<xs:sequence>
			<xs:element name="talInfo" type="nsm_talInfo_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="nsm_talInfo_type">
		<xs:choice>
			<xs:element name="talType" type="nsmTalType">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
					<xs:documentation>标识要显示的TAL类型，V8R1只支持MPLS的，即此值为1</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="totalNum" type="xs:unsignedInt">
				<xs:annotation>
					<xs:appinfo>
						<supportFilter>false</supportFilter>
						<access>readOnly</access>
					</xs:appinfo>
					<xs:documentation>TAL标签的总数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="routerID" type="ipv4Address">
				<xs:annotation>
					<xs:appinfo>
						<supportFilter>true</supportFilter>
						<access>readOnly</access>
					</xs:appinfo>
					<xs:documentation>路由器ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="crtTime" type="xs:dateTime">
				<xs:annotation>
					<xs:appinfo>
						<supportFilter>true</supportFilter>
						<access>readOnly</access>
					</xs:appinfo>
					<xs:documentation>创建时间</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ipAddress" type="ipv4Address">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<supportFilter>true</supportFilter>
						<access>readOnly</access>
					</xs:appinfo>
					<xs:documentation>IP地址</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
</xs:schema>
