src/plugins/com.huawei.networkos.ops/OPS2.0/schema/ntp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Schema content Version: 1.0
file format version: 1.0
VIST version: VIST 0.1.24
Copyright (c) 2008-2010 by HUAWEI TECHNOLOGIES.
All rights reserved.
-->
<xs:schema xmlns="http://www.huawei.com/netconf/vrp" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.huawei.com/netconf/vrp" elementFormDefault="qualified" attributeFormDefault="unqualified" xml:lang="en">
	<xs:annotation>
		<xs:appinfo>
			<formatVersion>1.0</formatVersion>
			<contentVersion>1.0</contentVersion>
		</xs:appinfo>
	</xs:annotation>
	<xs:include schemaLocation="pub_attribute.xsd"/>
	<xs:include schemaLocation="pub_type.xsd"/>
	<xs:include schemaLocation="ntp_type.xsd"/>
	<xs:element name="ntp" type="ntp_type">
		<xs:annotation>
			<xs:appinfo>
				<taskName>ntp</taskName>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="ntp_type">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="ntpAuthKeyCfgs" type="tm_ntpAuthKeyCfgs_type"/>
			<xs:element name="ntpUCastCfgs" type="tm_ntpUCastCfgs_type"/>
			<xs:element name="ntpBCastCfgs" type="tm_ntpBCastCfgs_type"/>
			<xs:element name="ntpMCastCfgs" type="tm_ntpMCastCfgs_type"/>
			<xs:element name="ntpSystemCfg" type="tm_ntpSystemCfg_type"/>
			<xs:element name="ntpSourceIfCfgs" type="tm_ntpSourceIfCfgs_type"/>
			<xs:element name="ntpAccessCfgs" type="tm_ntpAccessCfgs_type"/>
			<xs:element name="ntpDisableIfs" type="tm_ntpDisableIfs_type"/>
			<xs:element name="ntpMastClkCfgs" type="tm_ntpMastClkCfgs_type"/>
			<xs:element name="ntpSsnFullInfos" type="tm_ntpSsnFullInfos_type"/>
			<xs:element name="ntpStatus" type="tm_ntpStatus_type"/>
			<xs:element name="ntpTraces" type="tm_ntpTraces_type"/>
			<xs:element name="ntpBdStatuss" type="tm_ntpBdStatuss_type"/>
		</xs:choice>
		<xs:attributeGroup ref="versionAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="tm_ntpUCastCfgs_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ntpUCastCfg" type="tm_ntpUCastCfg_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tm_ntpUCastCfg_type">
		<xs:annotation>
			<xs:documentation>This table is used to update uni-cast peer or server related configuration</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">		
		    <xs:element name="addrFamily" type="tmNtpAddrFmly" default="IPv4">
                <xs:annotation>
                    <xs:documentation>Indicates IPv4 or IPv6 configuration</xs:documentation>
                    <xs:appinfo>
                        <key>true</key>
                        <access>readCreate</access>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>		
			<xs:element name="ipv4Addr" type="ipv4Address" default="0.0.0.0">
				<xs:annotation>
					<xs:documentation>IPv4 address of a peer or server</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		    <xs:element name="ipv6Addr" type="ipv6Address" default="::">
                <xs:annotation>
                    <xs:documentation>IPv6 address of the peer or server</xs:documentation>
                    <xs:appinfo>
						<key>true</key>
                        <access>readCreate</access>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
			<xs:element name="type" type="tmNtpPeerType">
				<xs:annotation>
					<xs:documentation>Indicates a peer or a server configuration</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="vpnName" default="_public_">
				<xs:annotation>
					<xs:documentation>VPN Name </xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
						<key>true</key>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="version" default="3">
				<xs:annotation>
					<xs:documentation>NTP Version supported by the peer / server</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="isPreferred" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Indicates whether or not this peer / server is a preferred source</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ifName" type="ifName">
				<xs:annotation>
					<xs:documentation>Indicates Interface name</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="keyId">
				<xs:annotation>
					<xs:documentation>Key identifier</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="4294967295"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="tm_ntpAuthKeyCfgs_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ntpAuthKeyCfg" type="tm_ntpAuthKeyCfg_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tm_ntpAuthKeyCfg_type">
		<xs:annotation>
			<xs:documentation>This table is used to update authentication key related information</xs:documentation>
			<xs:appinfo>
				<autoDeleteChildren>false</autoDeleteChildren>
			</xs:appinfo>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="keyId">
				<xs:annotation>
					<xs:documentation>Key identifier</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
						<mandatory>true</mandatory>
						<unique>true</unique>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="4294967295"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="mode" type="tmNtpAuthType" default="MD5">
				<xs:annotation>
					<xs:documentation>Authentication mode</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="keyVal" type="passwordExtend">
				<xs:annotation>
					<xs:documentation>Authentication password</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="isReliable" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Indicates whether or not this key is reliable</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="tm_ntpSystemCfg_type">
		<xs:annotation>
			<xs:appinfo/>
			<xs:documentation>This table is used to update NTP system related configuration</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="1">
			<xs:element name="isAuthEnable" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Indicates whether or not the authentication is enabled</xs:documentation>
					<xs:appinfo>
						<access>readWrite</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="maxSessCount" default="100">
				<xs:annotation>
					<xs:documentation>Maximum dynamic NTP association count</xs:documentation>
					<xs:appinfo>
						<access>readWrite</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>		
	<xs:complexType name="tm_ntpSourceIfCfgs_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ntpSourceIfCfg" type="tm_ntpSourceIfCfg_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tm_ntpSourceIfCfg_type">
		<xs:annotation>
			<xs:appinfo/>
			<xs:documentation>This table is used to update NTP source interface related configuration</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="addrFamily" type="tmNtpAddrFmly" default="IPv4">
                <xs:annotation>
                    <xs:documentation>Indicates IPv4 or IPv6 configuration</xs:documentation>
                    <xs:appinfo>
                        <key>true</key>
                        <access>readCreate</access>
                    </xs:appinfo>
                </xs:annotation>
			</xs:element>
			<xs:element name="vpnName" default="_public_">
				<xs:annotation>
					<xs:documentation>VPN Name </xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
						<key>true</key>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ifName" type="ifName">
				<xs:annotation>
					<xs:documentation>Indicates Interface name</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
                        <mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>		
	<xs:complexType name="tm_ntpBCastCfgs_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ntpBCastCfg" type="tm_ntpBCastCfg_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tm_ntpBCastCfg_type">
		<xs:annotation>
			<xs:documentation>This table is used to update broadcast client or server related configuration</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="ifName" type="ifName">
				<xs:annotation>
					<xs:documentation>Indicates Interface name</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="type" type="tmNtpCastMode" default="Server">
				<xs:annotation>
					<xs:documentation>Broadcast service mode (Client / Server)</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="version" default="3">
				<xs:annotation>
					<xs:documentation>NTP version that needs to be set in NTP packets while broadcasting</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="keyId">
				<xs:annotation>
					<xs:documentation>Key identifier</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="4294967295"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="tm_ntpMCastCfgs_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ntpMCastCfg" type="tm_ntpMCastCfg_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tm_ntpMCastCfg_type">
		<xs:annotation>
			<xs:documentation>This table is used to update multicast client or server related configuration</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="ifName" type="ifName">
				<xs:annotation>
					<xs:documentation>Indicates Interface name</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="type" type="tmNtpCastMode" default="Server">
				<xs:annotation>
					<xs:documentation>Multicast service mode (Client / Server)</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="addrFamily" type="tmNtpAddrFmly" default="IPv4">
                <xs:annotation>
                    <xs:documentation>Indicates IPv4 or IPv6 configuration</xs:documentation>
                    <xs:appinfo>
                        <key>true</key>
                        <access>readCreate</access>
                        <mandatory>true</mandatory>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
			<xs:element name="ipv4Addr" type="ipv4Address" default="224.0.1.1">
				<xs:annotation>
					<xs:documentation>Multi-cast IPv4 Address</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ipv6Addr" type="ipv6Address" default="FF0E::101">
                <xs:annotation>
                    <xs:documentation>IPv6 address of the peer or server</xs:documentation>
                    <xs:appinfo>
						<key>true</key>
                        <access>readCreate</access>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
			<xs:element name="ttlValue">
				<xs:annotation>
					<xs:documentation>Life span of a multi-cast packet</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="version" default="3">
				<xs:annotation>
					<xs:documentation>NTP version that needs to be set in NTP packets while multicasting</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="keyId">
				<xs:annotation>
					<xs:documentation>Key identifier</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="4294967295"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="tm_ntpAccessCfgs_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ntpAccessCfg" type="tm_ntpAccessCfg_type" minOccurs="0" maxOccurs="4"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tm_ntpAccessCfg_type">
		<xs:annotation>
			<xs:documentation>This table is used to update NTP access control related configuration</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="4">
			<xs:element name="accessLevel" type="tmNtpAclLevel">
				<xs:annotation>
					<xs:documentation>Access restriction level</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="addrFamily" type="tmNtpExtAddrFmly" default="IPv4">
                <xs:annotation>
                    <xs:documentation>Indicates IPv4 or IPv6 configuration</xs:documentation>
                    <xs:appinfo>
                        <key>false</key>
                        <access>readCreate</access>
						<mandatory>true</mandatory>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
		    <xs:element name="aclNumOrName">
				<xs:annotation>
					<xs:documentation>ACL number or name</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<mandatory>false</mandatory>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="32"/>
						<xs:pattern value="(^[2]\d{3}$)|(^[a-zA-Z]([^\s]*$))"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="acl6NumOrName">
				<xs:annotation>
					<xs:documentation>ACL6 number or name</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<mandatory>false</mandatory>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="32"/>
						<xs:pattern value="(^[2]\d{3}$)|(^[a-zA-Z]([^\s]*$))"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="tm_ntpDisableIfs_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ntpDisableIf" type="tm_ntpDisableIf_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tm_ntpDisableIf_type">
		<xs:annotation>
			<xs:documentation>This table is used to update interface related configuration</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">		
			<xs:element name="addrFamily" type="tmNtpAddrFmly" default="IPv4">
                <xs:annotation>
                    <xs:documentation>Indicates IPv4 or IPv6 configuration</xs:documentation>
                    <xs:appinfo>
                        <key>true</key>
                        <access>readCreate</access>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>			
			<xs:element name="ifName" type="ifName">
				<xs:annotation>
					<xs:documentation>Indicates Interface name</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="tm_ntpMastClkCfgs_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ntpMastClkCfg" type="tm_ntpMastClkCfg_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tm_ntpMastClkCfg_type">
		<xs:annotation>
			<xs:documentation>This table is used to update master clock related configuration</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="ipv4Addr" type="ipv4Address" default="127.127.1.0">
				<xs:annotation>
					<xs:documentation>IP v4 address of a master reference clock</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
						<mandatory>true</mandatory>
						<unique>true</unique>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="stratum" default="8">
				<xs:annotation>
					<xs:documentation>Stratum of the master reference clock</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="tm_ntpSsnFullInfos_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ntpSsnFullInfo" type="tm_ntpSsnFullInfo_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tm_ntpSsnFullInfo_type">
		<xs:annotation>
			<xs:documentation>This table is used to get NTP sessions' detailed iInformation</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="clockSrc">
				<xs:annotation>
					<xs:documentation>Clock Source</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="63"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="vpnName" default="_public_">
				<xs:annotation>
					<xs:documentation>VPN Name </xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
						<allowNull>true</allowNull>
						<key>true</key>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="clockStratum">
				<xs:annotation>
					<xs:documentation>Clock Stratum</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="16"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="clockStatus">
				<xs:annotation>
					<xs:documentation>Clock status</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="63"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="refClockId">
				<xs:annotation>
					<xs:documentation>Reference clock source ID</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="localMode">
				<xs:annotation>
					<xs:documentation>Local mode</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="localPoll">
				<xs:annotation>
					<xs:documentation>Local Poll</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="peerMode">
				<xs:annotation>
					<xs:documentation>Peer mode</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="peerPoll">
				<xs:annotation>
					<xs:documentation>Peer poll</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="offset">
				<xs:annotation>
					<xs:documentation>Clock offset</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="delay">
				<xs:annotation>
					<xs:documentation>Delay</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="dispersion">
				<xs:annotation>
					<xs:documentation>Dispersion</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rootDelay">
				<xs:annotation>
					<xs:documentation>Root delay</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rootDispersion">
				<xs:annotation>
					<xs:documentation>Root dispersion</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="reacheability" type="xs:unsignedByte">
				<xs:annotation>
					<xs:documentation>Peer reacheability</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="syncDist">
				<xs:annotation>
					<xs:documentation>Synchronization Distance</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="syncState" type="tmNtpSyncState">
				<xs:annotation>
					<xs:documentation>Synchronization state</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="precision">
				<xs:annotation>
					<xs:documentation>Clock precision</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="7"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="version">
				<xs:annotation>
					<xs:documentation>Peer's NTP protocol version</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="interfaceId" type="ifName">
				<xs:annotation>
					<xs:documentation>Interface identifier</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="refTime">
				<xs:annotation>
					<xs:documentation>Reference time</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="63"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="orgTime">
				<xs:annotation>
					<xs:documentation>Originate time</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="63"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="recvTime">
				<xs:annotation>
					<xs:documentation>Receive time</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="63"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="xmitTime">
				<xs:annotation>
					<xs:documentation>Transmit time</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="63"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="filterDelay">
				<xs:annotation>
					<xs:documentation>Filter Delay</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="199"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="filterOffset">
				<xs:annotation>
					<xs:documentation>Filter offset</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="199"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="filterDisp">
				<xs:annotation>
					<xs:documentation>Filter Dispersion</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="199"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="refClkStatus">
				<xs:annotation>
					<xs:documentation>Reference Clock Source Status</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="timeCode">
				<xs:annotation>
					<xs:documentation>Time Code</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="flags">
				<xs:annotation>
					<xs:documentation>Status flags information</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="poll">
				<xs:annotation>
					<xs:documentation>Poll period</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="7"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="when">
				<xs:annotation>
					<xs:documentation>Indicates since when NTP packet is not received</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="11"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="tm_ntpStatus_type">
		<xs:annotation>
			<xs:appinfo/>
			<xs:documentation>This table is used to get NTP system status information</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="clockStatus">
				<xs:annotation>
					<xs:documentation>Clock status</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="clockStratum">
				<xs:annotation>
					<xs:documentation>Clock stratum</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="16"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="clockSrc">
				<xs:annotation>
					<xs:documentation>Clock source</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="63"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="nominamFreq">
				<xs:annotation>
					<xs:documentation>Nominal frequency</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="actualFreq">
				<xs:annotation>
					<xs:documentation>Actual frequency</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="clockPrecision">
				<xs:annotation>
					<xs:documentation>Clock precision</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="7"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="offset">
				<xs:annotation>
					<xs:documentation>Offset</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rootDelay">
				<xs:annotation>
					<xs:documentation>Root delay</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rootDispersion">
				<xs:annotation>
					<xs:documentation>Root dispersion</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="peerDispersion">
				<xs:annotation>
					<xs:documentation>Peer dispersion</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="refTime">
				<xs:annotation>
					<xs:documentation>Reference time</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="63"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="vpnName">
				<xs:annotation>
					<xs:documentation>VPN Name </xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="syncState">
				<xs:annotation>
					<xs:documentation>Synchronization State</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="47"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="tm_ntpTraces_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ntpTrace" type="tm_ntpTrace_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tm_ntpTrace_type">
		<xs:annotation>
			<xs:documentation>This table is used to get back trace information</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="serverAddr">
				<xs:annotation>
					<xs:documentation>Server address</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="refClkAddr">
				<xs:annotation>
					<xs:documentation>Reference clock address</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="clockStratum">
				<xs:annotation>
					<xs:documentation>Clock stratum</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="16"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="offset">
				<xs:annotation>
					<xs:documentation>Offset</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="syncDist">
				<xs:annotation>
					<xs:documentation>Synchronization distance</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="tm_ntpBdStatuss_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ntpBdStatus" type="tm_ntpBdStatus_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tm_ntpBdStatus_type">
		<xs:annotation>
			<xs:documentation>This table is used to get boards' status information</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="selfNdName">
				<xs:annotation>
					<xs:documentation>Self Node ID</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="synNdName">
				<xs:annotation>
					<xs:documentation>Source to which this board is synchronized</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="offset">
				<xs:annotation>
					<xs:documentation>Offset</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="refTime">
				<xs:annotation>
					<xs:documentation>Reference time</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="63"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="curTime">
				<xs:annotation>
					<xs:documentation>Current time</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="63"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="clockStatus" type="tmClockStatus">
				<xs:annotation>
					<xs:documentation>Clock status</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="isNTPSerConf" type="tmNtpConfigured">
				<xs:annotation>
					<xs:documentation>Indicates whether NTP server / peer is configured or not</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="clockPrecision">
				<xs:annotation>
					<xs:documentation>Clock precision</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="7"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="poll">
				<xs:annotation>
					<xs:documentation>Poll period</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
</xs:schema>
