src/plugins/com.huawei.networkos.ops/OPS2.0/schema/pim_bsrafspro.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Schema content Version: 1.0
file format version: 1.0
VIST version: VIST 0.1.24
Copyright (c) 2008-2010 by HUAWEI TECHNOLOGIES.
All rights reserved.
-->
<xs:schema xmlns="http://www.huawei.com/netconf/vrp" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.huawei.com/netconf/vrp" elementFormDefault="qualified" attributeFormDefault="unqualified" xml:lang="en">
	<xs:annotation>
		<xs:appinfo>
			<formatVersion>1.0</formatVersion>
			<contentVersion>1.0</contentVersion>
		</xs:appinfo>
	</xs:annotation>
	<xs:include schemaLocation="pub_attribute.xsd"/>
	<xs:include schemaLocation="pub_type.xsd"/>
	<xs:include schemaLocation="pim_type.xsd"/>
	<xs:include schemaLocation="pim_bsrafspro_type.xsd"/>
	<xs:complexType name="bsrafspro_bsrafspro_type">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="bsrAfsSiteCfgs" type="pimafs_bsrafspro_bsrAfsSiteCfgs_type"/>
			<xs:element name="bsrAf6CrpCfgs" type="pimafs_bsrafspro_bsrAf6CrpCfgs_type"/>
			<xs:element name="bsrAf4CbsrGrps" type="pimafs_bsrafspro_bsrAf4CbsrGrps_type"/>
			<xs:element name="bsrAf4CrpCfgs" type="pimafs_bsrafspro_bsrAf4CrpCfgs_type"/>
			<xs:element name="bsrAfsEbsrs" type="pimafs_bsrafspro_bsrAfsEbsrs_type"/>
			<xs:element name="bsrAfsCbsrs" type="pimafs_bsrafspro_bsrAfsCbsrs_type"/>
			<xs:element name="bsrAfsEbsrRps" type="pimafs_bsrafspro_bsrAfsEbsrRps_type"/>
			<xs:element name="bsrAfsAutoRpCfgs" type="pimafs_bsrafspro_bsrAfsAutoRpCfgs_type"/>
		</xs:choice>
		<xs:attributeGroup ref="versionAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="pimafs_bsrafspro_bsrAfsSiteCfgs_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="bsrAfsSiteCfg" type="pimafs_bsrafspro_bsrAfsSiteCfg_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="pimafs_bsrafspro_bsrAfsSiteCfg_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="vrfName">
				<xs:annotation>
					<xs:documentation>公网或VPN实例</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="vrfName">
							<xs:attribute name="vrfIndex" type="xs:unsignedInt"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="addressFamily" type="rmbaseAfType">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="cBsrIfName">
				<xs:annotation>
					<xs:documentation>接口名称</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
						<mandatory>false</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ifName">
							<xs:attribute name="ifIndex" type="xs:unsignedInt"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="cBsrIfAddr" type="ipv6Address">
				<xs:annotation>
					<xs:documentation>Cbsr地址</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="cBsrHoldTime" default="130">
				<xs:annotation>
					<xs:documentation>等待接收Bootstrap自举消息的超时时间</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="214748364"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cBsrInterval" default="60">
				<xs:annotation>
					<xs:documentation>连续发送Bootstrap自举消息的时间间隔</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="107374177"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cBsrHashLen" default="126">
				<xs:annotation>
					<xs:documentation>Cbsr的hash长度</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="128"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cBsrPriority" default="0">
				<xs:annotation>
					<xs:documentation>Cbsr的优先级</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cBsrPlyName">
				<xs:annotation>
					<xs:documentation>BSR policy的ACL值</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cBsrPlyIpv6">
				<xs:annotation>
					<xs:documentation>BSR policy的ACL值</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cBsrAdminScope" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>BSR管理域</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="cBsrGlobalEnable" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Global域</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="cBsrGlobalHashLength" default="30">
				<xs:annotation>
					<xs:documentation>Global域候选BSR哈希掩码长度</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cBsrGlobalPriority" default="0">
				<xs:annotation>
					<xs:documentation>Global域候选BSR优先级</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cRpHoldTime" default="150">
				<xs:annotation>
					<xs:documentation>BSR等待接收CRP发送Advertisement宣告消息的超时时间</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="65535"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cRpPriority" default="192">
				<xs:annotation>
					<xs:documentation>C-RP的全局性优先级</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cRpAdvInterval" default="60">
				<xs:annotation>
					<xs:documentation>CRP连续发送Advertisement消息的时间间隔</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="65535"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cRpPlyName">
				<xs:annotation>
					<xs:documentation>CRP policy的ACL值</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cRpPlyIpv6">
				<xs:annotation>
					<xs:documentation>CRP policy的ACL值</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="isFragable" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>是否使能分片</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="pimafs_bsrafspro_bsrAf6CrpCfgs_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="bsrAf6CrpCfg" type="pimafs_bsrafspro_bsrAf6CrpCfg_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="pimafs_bsrafspro_bsrAf6CrpCfg_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="vrfName">
				<xs:annotation>
					<xs:documentation>公网或VPN实例</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="vrfName">
							<xs:attribute name="vrfIndex" type="xs:unsignedInt"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="cRpAddr" type="ipv6Address">
				<xs:annotation>
					<xs:documentation>Crp地址</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="cRpHoldTime" default="150">
				<xs:annotation>
					<xs:documentation>指定BSR等待接收该CRP发送Advertisement宣告消息的超时时间</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="65535"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cRpPriority" default="192">
				<xs:annotation>
					<xs:documentation>指定CRP的优先级</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cRpAdvInterval" default="60">
				<xs:annotation>
					<xs:documentation>指定CRP发送Advertisement消息的时间间隔</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="65535"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cRpGrpPlyName">
				<xs:annotation>
					<xs:documentation>CRP group-policy的ACL值</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="pimafs_bsrafspro_bsrAf4CbsrGrps_type">
		<xs:annotation>
			<xs:documentation>bsr有效组范围</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="bsrAf4CbsrGrp" type="pimafs_bsrafspro_bsrAf4CbsrGrp_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="pimafs_bsrafspro_bsrAf4CbsrGrp_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="vrfName">
				<xs:annotation>
					<xs:documentation>公网或VPN实例</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="vrfName">
							<xs:attribute name="vrfIndex" type="xs:unsignedInt"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="grpAddr" type="ipv4Address">
				<xs:annotation>
					<xs:documentation>组地址</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="groupMask" type="ipv4Address">
				<xs:annotation>
					<xs:documentation>组掩码</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="hashLength" default="30">
				<xs:annotation>
					<xs:documentation>Cbsr hash长度</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="priority" default="0">
				<xs:annotation>
					<xs:documentation>Cbsr的优先级</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="pimafs_bsrafspro_bsrAf4CrpCfgs_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="bsrAf4CrpCfg" type="pimafs_bsrafspro_bsrAf4CrpCfg_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="pimafs_bsrafspro_bsrAf4CrpCfg_type">
		<xs:annotation>
			<xs:documentation>bsr接口配置</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="vrfName">
				<xs:annotation>
					<xs:documentation>公网或VPN实例</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="vrfName">
							<xs:attribute name="vrfIndex" type="xs:unsignedInt"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="cRpIfName">
				<xs:annotation>
					<xs:documentation>接口名称</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ifName">
							<xs:attribute name="ifIndex" type="xs:unsignedInt"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="cRpGrpPlyName">
				<xs:annotation>
					<xs:documentation>group策略</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cRpPriority" default="0">
				<xs:annotation>
					<xs:documentation>Crp优先级</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cRpHoldTime" default="150">
				<xs:annotation>
					<xs:documentation>hold time</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="65535"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cRpAdvInterval" default="60">
				<xs:annotation>
					<xs:documentation>间隔</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="65535"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="pimafs_bsrafspro_bsrAfsEbsrs_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="bsrAfsEbsr" type="pimafs_bsrafspro_bsrAfsEbsr_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="pimafs_bsrafspro_bsrAfsEbsr_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="vrfName">
				<xs:annotation>
					<xs:documentation>公网或VPN实例</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="vrfName">
							<xs:attribute name="vrfIndex" type="xs:unsignedInt"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="addressFamily" type="rmbaseAfType">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="bsrAddr" type="ipAddress">
				<xs:annotation>
					<xs:documentation>当选asbsr地址</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="scope" type="bsrproBsrScope">
				<xs:annotation>
					<xs:documentation>管理域中的组播地址范围</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="grpAddr" type="ipAddress">
				<xs:annotation>
					<xs:documentation>组地址</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="grpMaskLen">
				<xs:annotation>
					<xs:documentation>组地址掩码长度</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="priority">
				<xs:annotation>
					<xs:documentation>当选asbsr优先级</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="hashLenth">
				<xs:annotation>
					<xs:documentation>当选asbsr哈希长度</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="fsmState" type="bsrproBsrState">
				<xs:annotation>
					<xs:documentation>当选asbsr状态</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="upTime" type="timeTick">
				<xs:annotation>
					<xs:documentation>当选asbsr成为bsr的时间</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="expireTime" type="timeTick">
				<xs:annotation>
					<xs:documentation>当选asbsr发送下一个bsm的时间间隔</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="crpCnt">
				<xs:annotation>
					<xs:documentation>候选RP的个数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967295"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="pimafs_bsrafspro_bsrAfsCbsrs_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="bsrAfsCbsr" type="pimafs_bsrafspro_bsrAfsCbsr_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="pimafs_bsrafspro_bsrAfsCbsr_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="vrfName">
				<xs:annotation>
					<xs:documentation>公网或VPN实例</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="vrfName">
							<xs:attribute name="vrfIndex" type="xs:unsignedInt"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="addressFamily" type="rmbaseAfType">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="cbsrAddr" type="ipAddress">
				<xs:annotation>
					<xs:documentation>cbsr地址</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="scope" type="bsrproBsrScope">
				<xs:annotation>
					<xs:documentation>该BSR是否为admin scoped zone中的BSR</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="grpAddr" type="ipAddress">
				<xs:annotation>
					<xs:documentation>组地址</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="grpMaskLen">
				<xs:annotation>
					<xs:documentation>组地址掩码长度</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="priority">
				<xs:annotation>
					<xs:documentation>当选asbsr或cbsr优先级</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="hashLenth">
				<xs:annotation>
					<xs:documentation>当选asbsr或cbsr hash长度</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="fsmState" type="bsrproBsrState">
				<xs:annotation>
					<xs:documentation>当选asbsr或cbsr bsr状态</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="isWaitToBsr" type="bsrproCbsrWaitElect">
				<xs:annotation>
					<xs:documentation>当前C-BSR是否有效</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="pimafs_bsrafspro_bsrAfsEbsrRps_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="bsrAfsEbsrRp" type="pimafs_bsrafspro_bsrAfsEbsrRp_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="pimafs_bsrafspro_bsrAfsEbsrRp_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="vrfName">
				<xs:annotation>
					<xs:documentation>公网或VPN实例</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="vrfName">
							<xs:attribute name="vrfIndex" type="xs:unsignedInt"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="addressFamily" type="rmbaseAfType">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="rpAddr" type="ipAddress">
				<xs:annotation>
					<xs:documentation>C-RP的地址</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="rpAddrIsLocal" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>RP地址</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="grpAddr" type="ipAddress">
				<xs:annotation>
					<xs:documentation>组地址</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="grpMaskLen" minOccurs="0">
				<xs:annotation>
					<xs:documentation>组地址掩码长度</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="priority" minOccurs="0">
				<xs:annotation>
					<xs:documentation>RP的优先级</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="upTime" type="timeTick">
				<xs:annotation>
					<xs:documentation>RP的UP Time</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="expiryTime" type="timeTick">
				<xs:annotation>
					<xs:documentation>RP的超时时间</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="pimafs_bsrafspro_bsrAfsAutoRpCfgs_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="bsrAfsAutoRpCfg" type="pimafs_bsrafspro_bsrAfsAutoRpCfg_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="pimafs_bsrafspro_bsrAfsAutoRpCfg_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="65535">
			<xs:element name="vrfName">
				<xs:annotation>
					<xs:documentation>公网或VPN实例</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="vrfName">
							<xs:attribute name="vrfIndex" type="xs:unsignedInt"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="addressFamily" type="rmbaseAfType">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
					<xs:documentation>地址族</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
</xs:schema>
