src/plugins/com.huawei.networkos.ops/OPS2.0/schema/rip.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Schema content Version: 1.0
file format version: 1.0
VIST version: VIST 0.1.19 SP1
Copyright (c) 2008-2010 by HUAWEI TECHNOLOGIES.
All rights reserved.
-->
<xs:schema xmlns="http://www.huawei.com/netconf/vrp" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.huawei.com/netconf/vrp" elementFormDefault="qualified" attributeFormDefault="unqualified" xml:lang="en">
	<xs:annotation>
		<xs:appinfo>
			<formatVersion>1.0</formatVersion>
			<contentVersion>1.0</contentVersion>
		</xs:appinfo>
	</xs:annotation>
	<xs:include schemaLocation="pub_attribute.xsd"/>
	<xs:include schemaLocation="pub_type.xsd"/>
	<xs:include schemaLocation="rip_type.xsd"/>
	<xs:element name="rip" type="rip_rip_type">
		<xs:annotation>
			<xs:appinfo>
				<taskName>rip</taskName>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="rip_rip_type">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="processs" type="rip_Processs_type"/>
			<xs:element name="interfaces" type="rip_Interfaces_type"/>
		</xs:choice>
		<xs:attributeGroup ref="versionAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="rip_networks_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="network" type="rip_network_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="rip_network_type">
		<xs:annotation>
			<xs:documentation>network</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="address" type="ipv4Address">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
						<mandatory>true</mandatory>
						<unique>true</unique>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="rip_Timer_type">
		<xs:annotation>
			<xs:documentation>Timer</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="garbage" default="120">
				<xs:annotation>
					<xs:documentation>garbage timer</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="86400"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="periodic" default="30">
				<xs:annotation>
					<xs:documentation>periodic timer</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="86400"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="age" default="180">
				<xs:annotation>
					<xs:documentation>age timer</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="86400"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="suppress" default="0">
				<xs:annotation>
					<xs:documentation>suppress timer</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="86400"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="trgTmrFlag" type="ripEnableFlag" default="disable">
				<xs:annotation>
					<xs:documentation>Triggered timer enable Flag</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="triggeredMinInterval" default="200">
				<xs:annotation>
					<xs:documentation>Minimum triggered interval</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="100"/>
						<xs:maxInclusive value="5000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="triggeredMaxInterval" default="5000">
				<xs:annotation>
					<xs:documentation>Maximum Triggered interval</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="200"/>
						<xs:maxInclusive value="5000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="triggeredIncrementValue" default="100">
				<xs:annotation>
					<xs:documentation>Triggered timer increment value</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="100"/>
						<xs:maxInclusive value="1000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="rip_BFD_type">
		<xs:annotation>
			<xs:documentation>BFD</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="bfdallEnable" type="ripEnableFlag" default="disable">
				<xs:annotation>
					<xs:documentation>bfd enable</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="bfdMinTxInterval">
				<xs:annotation>
					<xs:documentation>bfd Min Transmit Interval</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="10"/>
						<xs:maxInclusive value="1000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="bfdMinRxInterval">
				<xs:annotation>
					<xs:documentation>bfd Min Receive Interval</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="10"/>
						<xs:maxInclusive value="1000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="bfdDetectMultiplierInterval">
				<xs:annotation>
					<xs:documentation>bfd Detect Multiplier Interval</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="3"/>
						<xs:maxInclusive value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="rip_SilentIntfs_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="silentInterface" type="rip_SilentIntf_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="rip_SilentIntf_type">
		<xs:annotation>
			<xs:documentation>SilentInterface</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="intfName" type="ifName">
				<xs:annotation>
					<xs:documentation>Interface Name</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="rip_UnicastPeers_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="unicastPeer" type="rip_UnicastPeer_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="rip_UnicastPeer_type">
		<xs:annotation>
			<xs:documentation>UnicastPeer</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="peerAddress" type="ipv4Address">
				<xs:annotation>
					<xs:documentation>Peer IP Address in IPv4 format</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
						<mandatory>true</mandatory>
						<unique>true</unique>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="rip_ImportRoutes_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="importRoute" type="rip_ImportRoute_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="rip_ImportRoute_type">
		<xs:annotation>
			<xs:documentation>Redistribute Routes</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="importProtocol" type="ripProtoType">
				<xs:annotation>
					<xs:documentation>Import Protocol</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="protocolProcessId" default="0">
				<xs:annotation>
					<xs:documentation>Import protocol process id</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:maxInclusive value="4294967295"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="routePolicy">
				<xs:annotation>
					<xs:documentation>Route policy for import</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cost" default="0">
				<xs:annotation>
					<xs:documentation>cost</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="transparent" type="ripEnableFlag" default="disable">
				<xs:annotation>
					<xs:documentation>Transparent Flag</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="permitIBGP" type="ripEnableFlag">
				<xs:annotation>
					<xs:documentation>IBGP enable Flag</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="rip_FilterPolicys_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="filterPolicy" type="rip_FilterPolicy_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="rip_FilterPolicy_type">
		<xs:annotation>
			<xs:documentation>Export / Import Policy configuration</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="FilterRule" type="ripFilterRule">
				<xs:annotation>
					<xs:documentation>Filter rule </xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="exportImportType" type="ripPolicyType">
				<xs:annotation>
					<xs:documentation>Export / Import Type</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="exportProtocol" type="ripProtoType" default="none">
				<xs:annotation>
					<xs:documentation>Export Protocol</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
						<mandatory>false</mandatory>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="exportProtocolProcessId" default="0">
				<xs:annotation>
					<xs:documentation>Export Protocol ProcessId</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
						<mandatory>false</mandatory>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="65535"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclNumber">
				<xs:annotation>
					<xs:documentation>acl Number (2000-2999 are allowed values)</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="2000"/>
						<xs:maxInclusive value="2999"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ipPrefixName">
				<xs:annotation>
					<xs:documentation>ipPrefixName</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="169"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="gatewayIpPrefix">
				<xs:annotation>
					<xs:documentation>Gateway IP Prefix Name</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="169"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="IsInterfacePolicy" type="ripInterfacePolicy" default="No">
				<xs:annotation>
					<xs:documentation>Interface policy</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="intfName" type="ifName">
				<xs:annotation>
					<xs:documentation>Interface Name</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="aclName">
				<xs:annotation>
					<xs:documentation>ACL Name</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="rip_DefaultRoute_type">
		<xs:annotation>
			<xs:documentation>Default Route configuration</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="originate" type="ripRipDefRoute" default="disable">
				<xs:annotation>
					<xs:documentation>Originate default route</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="cost" default="0">
				<xs:annotation>
					<xs:documentation>cost</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="tag" type="xs:unsignedShort" default="0">
				<xs:annotation>
					<xs:documentation>Tag Value</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="rip_IntfStatisticss_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="intfStatistics" type="rip_IntfStatistics_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="rip_IntfStatistics_type">
		<xs:annotation>
			<xs:documentation>Interface Statistics</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="processId" type="xs:unsignedInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Bad packets received</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="interfaceIPAddress" type="ipv4Address" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Bad Routes Received</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="receivedRespose" type="xs:unsignedInt" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="receivedRoutes" type="xs:unsignedInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Interface State</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="responseIgnored" type="xs:unsignedInt" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="requestIgnored" type="xs:unsignedInt" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="receivedBadRoutes" type="xs:unsignedInt" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="receivedBadPackets" type="xs:unsignedInt" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="requestReceived" type="xs:unsignedInt" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="updatesSent" type="xs:unsignedInt" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="packetSendFailed" type="xs:unsignedInt" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="routesSent" type="xs:unsignedInt" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="packetsSent" type="xs:unsignedInt" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="responsePacketSent" type="xs:unsignedInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Updates Sent</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="authenticationFailed" type="xs:unsignedInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Packets that failed authentication</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="requestPacketSent" type="xs:unsignedInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Request Packets Sent</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>						
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="rip_bfdIntfStats_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="bfdIntfStats" type="rip_bfdIntfStat_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="rip_bfdIntfStat_type">
		<xs:annotation>
			<xs:documentation>bfdStat</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="localipaddress" type="ipv4Address" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Local IP Address</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="remoteipaddress" type="ipv4Address" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Remote IP Address</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="bfdState" type="ripBfdStatus">
				<xs:annotation>
					<xs:documentation>Bfd State</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="rip_Summarys_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="summary" type="rip_Summary_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="rip_Summary_type">
		<xs:annotation>
			<xs:documentation>Summary</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="summaryAddress" type="ipv4Address">
				<xs:annotation>
					<xs:documentation>Summary Address</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="mask" type="ipv4Address">
				<xs:annotation>
					<xs:documentation>Mask</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="avoidFeedback" default="0">
				<xs:annotation>
					<xs:documentation>Avoid Feedback</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="rip_Auth_type">
		<xs:annotation>
			<xs:documentation>Authentication</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="authenticationType" type="ripAUTH" default="none">
				<xs:annotation>
					<xs:documentation>Authentication Type</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="simplePassword" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Simple Password</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="16"/>
						<xs:pattern value="^[^\s\?]*$"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="keyId">
				<xs:annotation>
					<xs:documentation>MD5 Key Id</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="passwordKey" minOccurs="0">
				<xs:annotation>
					<xs:documentation>MD5 Password</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="255"/>
						<xs:pattern value="^[^\s\?]*$"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="rip_IntfBFD_type">
		<xs:annotation>
			<xs:documentation>Interface BFD configuration</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="bfdType" type="ripBFDType" default="none">
				<xs:annotation>
					<xs:documentation>rip Interface BFD type </xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="bfdMinTxInterval" default="10">
				<xs:annotation>
					<xs:documentation>bfd Min Transmit Interval</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="10"/>
						<xs:maxInclusive value="1000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="bfdMinRxInterval" default="10">
				<xs:annotation>
					<xs:documentation>bfd Min Receive Interval</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="10"/>
						<xs:maxInclusive value="1000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="bfdDetectMultiplierInterval" default="3">
				<xs:annotation>
					<xs:documentation>bfd Detect Multiplier Interval</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="3"/>
						<xs:maxInclusive value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="rip_metric_type">
		<xs:annotation>
			<xs:documentation>metric</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="metricIn" default="0">
				<xs:annotation>
					<xs:documentation>Metric In</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="metricOut" default="1">
				<xs:annotation>
					<xs:documentation>Metric Out</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="metricOutFltr" type="ripFilterType" default="none">
				<xs:annotation>
					<xs:documentation>Metric Out</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ipPrefixName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>IP Prefix Name</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="169"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclNumber">
				<xs:annotation>
					<xs:documentation>ACL Number</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="2000"/>
						<xs:maxInclusive value="2999"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ACL Name</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="rip_Peers_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="peer" type="rip_Peer_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="rip_Peer_type">
		<xs:annotation>
			<xs:documentation>Peer</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="nbrIPAddr" type="ipv4Address">
				<xs:annotation>
					<xs:documentation>Peer Address</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="interfaceName">
				<xs:annotation>
					<xs:documentation>Interface Name</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="127"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="noOfRIPRoutes" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>Total routes learnt from this peer</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="noOfHldRoutes" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>Routes in Holddown</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="noOfGBGRoutes" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>Routes in garbage</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastRecSeqNo" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>Last received sequence number</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="rip_Interfaces_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="interface" type="rip_Interface_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="rip_Interface_type">
		<xs:annotation>
			<xs:documentation>RIP Interface information</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="interfaceName" type="ifName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Interface Name</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
						<mandatory>true</mandatory>
						<unique>true</unique>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="processId">
				<xs:annotation>
					<xs:documentation>RIP Process Id</xs:documentation>
					<xs:appinfo>
						<allowNull>true</allowNull>
						<access>readCreate</access>
						<mandatory>false</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="4294967295"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="msgSizeValue" default="512">
				<xs:annotation>
					<xs:documentation>Message Size Value</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="32"/>
						<xs:maxInclusive value="65535"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="msgSizeMtu" default="0">
				<xs:annotation>
					<xs:documentation>Message size as interface MTU</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="input" default="1">
				<xs:annotation>
					<xs:documentation>Input</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="output" default="1">
				<xs:annotation>
					<xs:documentation>Enable output on the interface</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="version" type="ripVersionType" default="rip_version_default">
				<xs:annotation>
					<xs:documentation>Rip version</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="splitHorizon" default="1">
				<xs:annotation>
					<xs:documentation>Split Horizon</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="poisonReverse" default="0">
				<xs:annotation>
					<xs:documentation>Poison Reverse</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="packetThrottle" default="0">
				<xs:annotation>
					<xs:documentation>Enable/Disable Packet Throttle</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="packetTxInterval" default="200">
				<xs:annotation>
					<xs:documentation>Packet Transmit Interval</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="50"/>
						<xs:maxInclusive value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="packetTxBandwidth" default="99">
				<xs:annotation>
					<xs:documentation>Packet Transmit Bandwidth</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="99"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="packetTxCount" default="50">
				<xs:annotation>
					<xs:documentation>Packet Transmit Count</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="25"/>
						<xs:maxInclusive value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="authentication" type="rip_Auth_type"/>
			<xs:element name="metric" type="rip_metric_type"/>
			<xs:element name="intfBFD" type="rip_IntfBFD_type"/>
			<xs:element name="summarys" type="rip_Summarys_type"/>
			<xs:element name="intfStatisticss" type="rip_IntfStatisticss_type"/>
			<xs:element name="bfdIntfStats" type="rip_bfdIntfStats_type"/>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:group name="rip_Interface_stuGroup">
		<xs:choice/>
	</xs:group>
	<xs:complexType name="rip_Processs_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="process" type="rip_Process_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="rip_Process_type">
		<xs:annotation>
			<xs:documentation>RIP Process Information</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="processId" default="1">
				<xs:annotation>
					<xs:documentation>RIP Process Id</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
						<mandatory>true</mandatory>
						<unique>true</unique>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="4294967295"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="description">
				<xs:annotation>
					<xs:documentation>Process description</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="80"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="vpnName">
				<xs:annotation>
					<xs:documentation>VPN Instance Name</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="verifySource" type="ripEnableFlag" default="enable">
				<xs:annotation>
					<xs:documentation>Verify Source</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="thresholdPercent" default="80">
				<xs:annotation>
					<xs:documentation>Threshold Percentage</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="summary" type="ripSummEnableFlag" default="enable">
				<xs:annotation>
					<xs:documentation>summary</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="preferencePolicy">
				<xs:annotation>
					<xs:documentation>Preference Policy</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="hostRoute" type="ripEnableFlag" default="enable">
				<xs:annotation>
					<xs:documentation>Enable Host Route</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="checkZero" type="ripEnableFlag" default="enable">
				<xs:annotation>
					<xs:documentation>Check MBZ fields</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="version" default="1">
				<xs:annotation>
					<xs:documentation>Rip protocol version</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="mibBinding" type="ripEnableFlag" default="disable">
				<xs:annotation>
					<xs:documentation>Bind Process to MIB</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ecmp">
				<xs:annotation>
					<xs:documentation>Equal Cost Multi Paths</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="zeroMetricCheck" type="ripEnableFlag" default="enable">
				<xs:annotation>
					<xs:documentation>Discard Zero metric Routes</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="defaultCost" default="0">
				<xs:annotation>
					<xs:documentation>Default import cost</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="silentAll" type="ripEnableFlag" default="disable">
				<xs:annotation>
					<xs:documentation>Configure all interface as silent</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="maxRoutes" default="150000">
				<xs:annotation>
					<xs:documentation>Maximum number of routes in database</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="300000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="preferenceValue" default="100">
				<xs:annotation>
					<xs:documentation>Preference Value</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="networks" type="rip_networks_type"/>
			<xs:element name="filterPolicys" type="rip_FilterPolicys_type"/>
			<xs:element name="importRoutes" type="rip_ImportRoutes_type"/>
			<xs:element name="unicastPeers" type="rip_UnicastPeers_type"/>
			<xs:element name="silentInterfaces" type="rip_SilentIntfs_type"/>
			<xs:element name="peers" type="rip_Peers_type"/>
			<xs:element name="timer" type="rip_Timer_type"/>
			<xs:element name="bfd" type="rip_BFD_type"/>
			<xs:element name="defaultRoute" type="rip_DefaultRoute_type"/>
			<xs:element name="routes" type="rip_Routes_type"/>
			<xs:element name="bfdStats" type="rip_bfdStats_type"/>
			<xs:element name="statistics" type="rip_ProcStatistics_type"/>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:group name="rip_Process_stuGroup">
		<xs:choice/>
	</xs:group>
	<xs:group name="rip_Database_stuGroup">
		<xs:choice/>
	</xs:group>
	<xs:complexType name="rip_Routes_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="route" type="rip_Route_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="rip_Route_type">
		<xs:annotation>
			<xs:documentation>Route</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="destinationAddress" type="ipv4Address" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Destination Address</xs:documentation>
					<xs:appinfo>
					        <key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="prefixLength" type="xs:unsignedByte" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Prefix Length</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="cost" type="xs:unsignedByte" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Cost</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="tag" type="xs:unsignedShort" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tag Value</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="peerAddress" type="ipv4Address" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Peer Address</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="interfaceName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Interface Name</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="127"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="version" type="xs:unsignedByte" minOccurs="0">
				<xs:annotation>
					<xs:documentation>version</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="nexthop" type="ipv4Address" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Next Hop</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="pathType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Imported / Learnt / Generated</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="63"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="rip_bfdStats_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="bfdStat" type="rip_bfdStat_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="rip_bfdStat_type">
		<xs:annotation>
			<xs:documentation>bfdStat</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="ifName" type="ifName">
				<xs:annotation>
					<xs:documentation>interface</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="localipaddress" type="ipv4Address" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Local IP Address</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="remoteipaddress" type="ipv4Address" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Remote IP Address</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="bfdState" type="ripBfdStatus">
				<xs:annotation>
					<xs:documentation>Bfd State</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="rip_ProcStatistics_type">
		<xs:annotation>
			<xs:documentation>RIP Process Statistics</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="numOfRoutesInDB" type="xs:unsignedInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Total Routes in database</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="numOfIntfEnabled" type="xs:unsignedInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Total number of interfaces</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="numOfVrrpIntf" type="xs:unsignedInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Total number of VRRP interfaces</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>			
			<xs:element name="numOfTriggeredUpdSent" type="xs:unsignedInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Number of Triggered updates sent</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="numOfRouteChanges" type="xs:unsignedInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Global Route Changes</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="numOfRepliesToQueries" type="xs:unsignedInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Total Queries</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="numOfRtSndableInPU" type="xs:unsignedInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Number of Routes that can be sent</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="numOfRtSentInLPU" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Version identifier of the component</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="63"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:group name="rip_Route_stuGroup">
		<xs:choice/>
	</xs:group>
	<xs:group name="rip_Path_stuGroup">
		<xs:choice/>
	</xs:group>
</xs:schema>
