src/plugins/com.huawei.networkos.ops/OPS2.0/schema/ripng.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Schema content Version: 1.0
file format version: 1.0
VIST version: VIST 0.1.19 SP1
Copyright (c) 2008-2010 by HUAWEI TECHNOLOGIES.
All rights reserved.
-->
<xs:schema xmlns="http://www.huawei.com/netconf/vrp" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.huawei.com/netconf/vrp" elementFormDefault="qualified" attributeFormDefault="unqualified" xml:lang="en">
	<xs:annotation>
		<xs:appinfo>
			<formatVersion>1.0</formatVersion>
			<contentVersion>1.0</contentVersion>
		</xs:appinfo>
	</xs:annotation>
	<xs:include schemaLocation="pub_attribute.xsd"/>
	<xs:include schemaLocation="pub_type.xsd"/>
	<xs:include schemaLocation="ripng_type.xsd"/>
	<xs:element name="ripng" type="ripng_ripng_type">
		<xs:annotation>
			<xs:appinfo>
				<taskName>ripng</taskName>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="ripng_ripng_type">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="processs" type="ripng_Processs_type"/>
			<xs:element name="interfaces" type="ripng_Interfaces_type"/>
		</xs:choice>
		<xs:attributeGroup ref="versionAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="rip_Timer_type">
		<xs:annotation>
			<xs:documentation>Timer</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="garbage" default="120">
				<xs:annotation>
					<xs:documentation>garbage timer</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="86400"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="periodic" default="30">
				<xs:annotation>
					<xs:documentation>periodic timer</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="86400"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="age" default="180">
				<xs:annotation>
					<xs:documentation>age timer</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="86400"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="suppress" default="0">
				<xs:annotation>
					<xs:documentation>suppress timer</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="86400"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="rip_ImportRoutes_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="importRoute" type="rip_ImportRoute_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="rip_ImportRoute_type">
		<xs:annotation>
			<xs:documentation>Redistribute Routes</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="importProtocol" type="ripngProtoType">
				<xs:annotation>
					<xs:documentation>Import Protocol</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="protocolProcessId" default="0">
				<xs:annotation>
					<xs:documentation>Import protocol process id</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:maxInclusive value="4294967295"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="routePolicy">
				<xs:annotation>
					<xs:documentation>Route policy for import</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cost" default="0">
				<xs:annotation>
					<xs:documentation>cost</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="permitIBGP" type="ripngEnableFlag">
				<xs:annotation>
					<xs:documentation>IBGP enable Flag</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="rip_DefaultRoute_type">
		<xs:annotation>
			<xs:documentation>Default Route configuration</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="originate" type="ripngRipDefRoute" default="none">
				<xs:annotation>
					<xs:documentation>Originate default route</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="cost" default="0">
				<xs:annotation>
					<xs:documentation>cost</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="tag" type="xs:unsignedShort" default="0">
				<xs:annotation>
					<xs:documentation>Tag Value</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="rip_IntfStatisticss_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="intfStatistics" type="rip_IntfStatistics_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="rip_IntfStatistics_type">
		<xs:annotation>
			<xs:documentation>Interface Statistics</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="processId" type="xs:unsignedInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Bad packets received</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="interfaceIPAddress" type="ipv6Address" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Bad Routes Received</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="receivedRespose" type="xs:unsignedInt" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="receivedRoutes" type="xs:unsignedInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Interface State</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="responseIgnored" type="xs:unsignedInt" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="requestIgnored" type="xs:unsignedInt" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="receivedBadRoutes" type="xs:unsignedInt" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="receivedBadPackets" type="xs:unsignedInt" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="requestReceived" type="xs:unsignedInt" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="updatesSent" type="xs:unsignedInt" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="packetSendFailed" type="xs:unsignedInt" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="routesSent" type="xs:unsignedInt" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="packetsSent" type="xs:unsignedInt" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="responsePacketSent" type="xs:unsignedInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Updates Sent</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="authenticationFailed" type="xs:unsignedInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Packets that failed authentication</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="requestPacketSent" type="xs:unsignedInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Request Packets Sent</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>			
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="ripng_metric_type">
		<xs:annotation>
			<xs:documentation>metric</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="metricIn" default="0">
				<xs:annotation>
					<xs:documentation>Metric In</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="metricOut" default="1">
				<xs:annotation>
					<xs:documentation>Metric Out</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="metricOutFltr" type="ripngFilterType" default="none">
				<xs:annotation>
					<xs:documentation>Metric Out</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ipPrefixName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>IP Prefix Name</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="169"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclNumber">
				<xs:annotation>
					<xs:documentation>ACL Number</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="2000"/>
						<xs:maxInclusive value="2999"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="aclName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ACL Name</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="rip_Peers_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="peer" type="rip_Peer_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="rip_Peer_type">
		<xs:annotation>
			<xs:documentation>Peer</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="nbrIPAddr" type="ipv6Address">
				<xs:annotation>
					<xs:documentation>Peer Address</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="interfaceName">
				<xs:annotation>
					<xs:documentation>Interface Name</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="127"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="noOfRIPRoutes" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>Total routes learnt from this peer</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="noOfHldRoutes" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>Routes in Holddown</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="noOfGBGRoutes" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>Routes in garbage</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastRecSeqNo" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>Last received sequence number</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="ripng_Interfaces_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="interface" type="rip_Interface_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="rip_Interface_type">
		<xs:annotation>
			<xs:documentation>RIP Interface information</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="interfaceName" type="ifName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Interface Name</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
						<mandatory>true</mandatory>
						<unique>true</unique>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="processId">
				<xs:annotation>
					<xs:documentation>RIPNG Process Id</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="4294967295"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="splitHorizon" default="1">
				<xs:annotation>
					<xs:documentation>Split Horizon</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="poisonReverse" default="0">
				<xs:annotation>
					<xs:documentation>Poison Reverse</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="defaultRtType" type="ripngRipDefRoute" default="none">
				<xs:annotation>
					<xs:documentation>Default Route Type</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="defaultRtCost" default="0">
				<xs:annotation>
					<xs:documentation>Default Route Cost</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="defaultRtTag" default="0">
				<xs:annotation>
					<xs:documentation>Default Route Tag</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="65535"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="intfStatisticss" type="rip_IntfStatisticss_type"/>
			<xs:element name="metric" type="ripng_metric_type"/>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:group name="rip_Interface_stuGroup">
		<xs:choice/>
	</xs:group>
	<xs:complexType name="ripng_Processs_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="process" type="rip_Process_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="rip_Process_type">
		<xs:annotation>
			<xs:documentation>RIP Process Information</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="processId" default="1">
				<xs:annotation>
					<xs:documentation>RIPNG Process Id</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
						<mandatory>true</mandatory>
						<unique>true</unique>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="4294967295"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="description">
				<xs:annotation>
					<xs:documentation>Process description</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="80"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="vpnName">
				<xs:annotation>
					<xs:documentation>VPN Instance Name</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="preferencePolicy">
				<xs:annotation>
					<xs:documentation>Preference Policy</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="checkZero" type="ripngEnableFlag" default="enable">
				<xs:annotation>
					<xs:documentation>Check MBZ fields</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ecmp" default="32">
				<xs:annotation>
					<xs:documentation>Equal Cost Multi Paths</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="defaultCost" default="0">
				<xs:annotation>
					<xs:documentation>Default import cost</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="preferenceValue" default="100">
				<xs:annotation>
					<xs:documentation>Preference Value</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="importRoutes" type="rip_ImportRoutes_type"/>
			<xs:element name="peers" type="rip_Peers_type"/>
			<xs:element name="timer" type="rip_Timer_type"/>
			<xs:element name="routes" type="rip_Routes_type"/>
			<xs:element name="statistics" type="rip_ProcStatistics_type"/>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:group name="rip_Process_stuGroup">
		<xs:choice/>
	</xs:group>
	<xs:group name="rip_Database_stuGroup">
		<xs:choice/>
	</xs:group>
	<xs:complexType name="rip_Routes_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="route" type="rip_Route_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="rip_Route_type">
		<xs:annotation>
			<xs:documentation>Route</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="destinationAddress" type="ipv6Address" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Destination Address</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="prefixLength" type="xs:unsignedByte" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Prefix Length</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="cost" type="xs:unsignedByte" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Cost</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="tag" type="xs:unsignedShort" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tag Value</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="peerAddress" type="ipv6Address" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Peer Address</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="interfaceName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Interface Name</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="127"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="version" type="xs:unsignedByte" minOccurs="0">
				<xs:annotation>
					<xs:documentation>version</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="nexthop" type="ipv6Address" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Next Hop</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="pathType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Imported / Learnt / Generated</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="63"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="rip_ProcStatistics_type">
		<xs:annotation>
			<xs:documentation>RIP Process Statistics</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="numOfPeriodicUpdSent" type="xs:unsignedInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Number of Periodic updates sent</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>		
			<xs:element name="numOfTriggeredUpdSent" type="xs:unsignedInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Number of Triggered updates sent</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="numOfRoutesInDB" type="xs:unsignedInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Total Routes in database</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="numOfIntfEnabled" type="xs:unsignedInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Total number of interfaces</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="numofRtSndableInPU" type="xs:unsignedInt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Number of Routes that can be sent</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="numOfRtSentInLPU" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Version identifier of the component</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="63"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:group name="rip_Route_stuGroup">
		<xs:choice/>
	</xs:group>
	<xs:group name="rip_Path_stuGroup">
		<xs:choice/>
	</xs:group>
</xs:schema>
