src/plugins/com.huawei.networkos.ops/OPS2.0/schema/rm_rmbase.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Schema content Version: 1.0
file format version: 1.0
VIST version: VIST 0.1.19 SP1
Copyright (c) 2008-2010 by HUAWEI TECHNOLOGIES.
All rights reserved.
-->
<xs:schema xmlns="http://www.huawei.com/netconf/vrp" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.huawei.com/netconf/vrp" elementFormDefault="qualified" attributeFormDefault="unqualified" xml:lang="en">
	<xs:annotation>
		<xs:appinfo>
			<formatVersion>1.0</formatVersion>
			<contentVersion>1.0</contentVersion>
		</xs:appinfo>
	</xs:annotation>
	<xs:include schemaLocation="pub_attribute.xsd"/>
	<xs:include schemaLocation="pub_type.xsd"/>
	<xs:include schemaLocation="rm_rmbase_type.xsd"/>
	<xs:complexType name="rm_rmbase_rmbase_type">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="relayTunnel" type="rm_rmbase_relayTunnel_type"/>
			<xs:element name="vpnv4statisticss" type="vpnv4statisticss_type"/>
			<xs:element name="vpnv6statisticss" type="vpnv6statisticss_type"/>
			<xs:element name="uniAfs" type="rm_rmbase_uniAfs_type"/>
		</xs:choice>
		<xs:attributeGroup ref="versionAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="rm_rmbase_relayTunnel_type">
		<xs:annotation>
			<xs:documentation>路由迭代隧道</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="relayEnable" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>路由迭代使能</xs:documentation>
					<xs:appinfo>
						<access>readWrite</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="prefixName">
				<xs:annotation>
					<xs:documentation>前缀过滤列表 （限制路由范围）</xs:documentation>
					<xs:appinfo>
						<access>readWrite</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="169"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="tnlPolicyName">
				<xs:annotation>
					<xs:documentation>隧道策略名字</xs:documentation>
					<xs:appinfo>
						<access>readWrite</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="39"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="rm_rmbase_topologys_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="topology" type="rm_rmbase_topology_type" maxOccurs="32"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="rm_rmbase_topology_type">
		<xs:annotation>
			<xs:documentation>拓扑</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="topologyName">
				<xs:annotation>
					<xs:documentation>拓扑名</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="31"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rmStatisticss" type="rm_rmbase_rmStatisticss_type"/>
			<xs:element name="routes" type="rm_rmbase_routes_type"/>
			<xs:element name="rmLocalmtStatisticss" type="rm_rmbase_rmLocalmtStatisticss_type"/>
			<xs:element name="localmtroutes" type="rm_rmbase_localmtroutes_type"/>
			<xs:element name="rmMbgpStatisticss" type="rm_rmbase_rmMbgpStatisticss_type"/>
			<xs:element name="mbgproutes" type="rm_rmbase_mbgproutes_type"/>
			<xs:element name="rmMsrStatisticss" type="rm_rmbase_rmMsrStatisticss_type"/>
			<xs:element name="msrroutes" type="rm_rmbase_msrroutes_type"/>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="rm_rmbase_uniAfs_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="uniAf" type="rm_rmbase_uniAf_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="rm_rmbase_uniAf_type">
		<xs:annotation>
			<xs:appinfo>
				<autoDeleteChildren>true</autoDeleteChildren>
			</xs:appinfo>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="vrfName">
				<xs:annotation>
					<xs:documentation>VPN实例的名称，其中公网的为public</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readWrite</access>
						<mandatory>true</mandatory>
						<unique>true</unique>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="vrfName">
							<xs:attribute name="vrfId"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="afType" type="commodelAfType" default="ipv4unicast">
				<xs:annotation>
					<xs:documentation>地址族标识</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readWrite</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="frrEnable" type="xs:boolean" default="false">
				<xs:annotation>
					<xs:documentation>是否使能FRR</xs:documentation>
					<xs:appinfo>
						<access>readWrite</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="routeLimitNum">
				<xs:annotation>
					<xs:documentation>VPN实例的路由数量限制</xs:documentation>
					<xs:appinfo>
						<access>readWrite</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="4294967295"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="simplyAlert" type="xs:boolean" default="false">
				<xs:annotation>
					<xs:documentation>是否只是输出警告，与alertPercent互斥</xs:documentation>
					<xs:appinfo>
						<access>readWrite</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="alertPercent">
				<xs:annotation>
					<xs:documentation>输出警告时的百分比，与simplyAlert互斥</xs:documentation>
					<xs:appinfo>
						<access>readWrite</access>
						<unit>%</unit>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="routeUnChanged" type="xs:boolean" default="false">
				<xs:annotation>
					<xs:documentation>是否撤销超限的路由</xs:documentation>
					<xs:appinfo>
						<access>readWrite</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="topologys" type="rm_rmbase_topologys_type"/>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="rm_rmbase_routes_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="route" type="rm_rmbase_route_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="rm_rmbase_route_type">
		<xs:annotation>
			<xs:documentation>基本路由表</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="prefix" type="ipAddress">
				<xs:annotation>
					<xs:documentation>路由前缀</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="maskLength">
				<xs:annotation>
					<xs:documentation>精确查找时，路由的掩码长度</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="128"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="protocolId" type="commodelProtocolType">
				<xs:annotation>
					<xs:documentation>协议号</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="preference">
				<xs:annotation>
					<xs:documentation>协议的优先级</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cost">
				<xs:annotation>
					<xs:documentation>路由的开销值</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="65535"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="flags" type="rmbaseRouteFlag">
				<xs:annotation>
					<xs:documentation>路由的状态标志值</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="nextHop" type="ipAddress">
				<xs:annotation>
					<xs:documentation>路由的下一跳</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ifName" type="ifName">
				<xs:annotation>
					<xs:documentation>接口名</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="relayNexthop" type="ipAddress">
				<xs:annotation>
					<xs:documentation>路由的迭代下一跳</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="isActive" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>是否活跃</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="processId" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>进程Id</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="tag">
				<xs:annotation>
					<xs:documentation>路由的tag值</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="65535"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="priority" type="rmbaseRoutePriority">
				<xs:annotation>
					<xs:documentation>路由的收敛优先级</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="label" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>路由的标签值</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="qosId" type="xs:hexBinary">
				<xs:annotation>
					<xs:documentation>qosId</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="indirectID" type="xs:hexBinary">
				<xs:annotation>
					<xs:documentation>路由的IID值</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="state" type="rmbaseRouteState">
				<xs:annotation>
					<xs:documentation>路由的状态值</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="frrType" type="frrType">
				<xs:annotation>
					<xs:documentation>FRR类型</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="neighbour" type="ipv4Address">
				<xs:annotation>
					<xs:documentation>路由的邻居</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="age">
				<xs:annotation>
					<xs:documentation>路由已经存在的时间</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="directNexthop" type="ipAddress">
				<xs:annotation>
					<xs:documentation>直连下一跳</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="rm_rmbase_msrroutes_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="msrroute" type="rm_rmbase_msrroute_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="rm_rmbase_msrroute_type">
		<xs:annotation>
			<xs:documentation>组播静态路由表</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="prefix" type="ipAddress">
				<xs:annotation>
					<xs:documentation>路由前缀</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="maskLength">
				<xs:annotation>
					<xs:documentation>精确查找时，路由的掩码长度</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="128"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="protocolId" type="commodelProtocolType2">
				<xs:annotation>
					<xs:documentation>协议号</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="preference">
				<xs:annotation>
					<xs:documentation>协议的优先级</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cost">
				<xs:annotation>
					<xs:documentation>路由的开销值</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="65535"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="flags" type="rmbaseRouteFlag">
				<xs:annotation>
					<xs:documentation>路由的状态标志值</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="nextHop" type="ipAddress">
				<xs:annotation>
					<xs:documentation>路由的下一跳</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ifName" type="ifName">
				<xs:annotation>
					<xs:documentation>接口名</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="relayNexthop" type="ipAddress">
				<xs:annotation>
					<xs:documentation>路由的迭代下一跳</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="isActive" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>是否活跃</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="processId" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>进程Id</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="tag">
				<xs:annotation>
					<xs:documentation>路由的tag值</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="65535"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="priority" type="rmbaseRoutePriority">
				<xs:annotation>
					<xs:documentation>路由的收敛优先级</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="label" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>路由的标签值</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="qosId" type="xs:hexBinary">
				<xs:annotation>
					<xs:documentation>qosId</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="indirectID" type="xs:hexBinary">
				<xs:annotation>
					<xs:documentation>路由的IID值</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="state" type="rmbaseRouteState">
				<xs:annotation>
					<xs:documentation>路由的状态值</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="frrType" type="frrType">
				<xs:annotation>
					<xs:documentation>FRR类型</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="neighbour" type="ipv4Address">
				<xs:annotation>
					<xs:documentation>路由的邻居</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="age">
				<xs:annotation>
					<xs:documentation>路由已经存在的时间</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="directNexthop" type="ipAddress">
				<xs:annotation>
					<xs:documentation>直连下一跳</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="rm_rmbase_localmtroutes_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="localmtroute" type="rm_rmbase_localmtroute_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="rm_rmbase_localmtroute_type">
		<xs:annotation>
			<xs:documentation>localmt路由表</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="prefix" type="ipAddress">
				<xs:annotation>
					<xs:documentation>路由前缀</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="maskLength">
				<xs:annotation>
					<xs:documentation>精确查找时，路由的掩码长度</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="128"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="protocolId" type="commodelProtocolType">
				<xs:annotation>
					<xs:documentation>协议号</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="preference">
				<xs:annotation>
					<xs:documentation>协议的优先级</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cost">
				<xs:annotation>
					<xs:documentation>路由的开销值</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="65535"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="flags" type="rmbaseRouteFlag">
				<xs:annotation>
					<xs:documentation>路由的状态标志值</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="nextHop" type="ipAddress">
				<xs:annotation>
					<xs:documentation>路由的下一跳</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ifName" type="ifName">
				<xs:annotation>
					<xs:documentation>接口名</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="relayNexthop" type="ipAddress">
				<xs:annotation>
					<xs:documentation>路由的迭代下一跳</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="isActive" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>是否活跃</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="processId" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>进程Id</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="tag">
				<xs:annotation>
					<xs:documentation>路由的tag值</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="65535"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="priority" type="rmbaseRoutePriority">
				<xs:annotation>
					<xs:documentation>路由的收敛优先级</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="label" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>路由的标签值</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="qosId" type="xs:hexBinary">
				<xs:annotation>
					<xs:documentation>qosId</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="indirectID" type="xs:hexBinary">
				<xs:annotation>
					<xs:documentation>路由的IID值</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="state" type="rmbaseRouteState">
				<xs:annotation>
					<xs:documentation>路由的状态值</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="frrType" type="frrType">
				<xs:annotation>
					<xs:documentation>FRR类型</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="neighbour" type="ipv4Address">
				<xs:annotation>
					<xs:documentation>路由的邻居</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="age">
				<xs:annotation>
					<xs:documentation>路由已经存在的时间</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="directNexthop" type="ipAddress">
				<xs:annotation>
					<xs:documentation>直连下一跳</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="rm_rmbase_mbgproutes_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="mbgproute" type="rm_rmbase_mbgproute_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="rm_rmbase_mbgproute_type">
		<xs:annotation>
			<xs:documentation>组播BGP路由表</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="prefix" type="ipAddress">
				<xs:annotation>
					<xs:documentation>路由前缀</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="maskLength">
				<xs:annotation>
					<xs:documentation>精确查找时，路由的掩码长度</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="128"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="protocolId" type="commodelProtocolType">
				<xs:annotation>
					<xs:documentation>协议号</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="preference">
				<xs:annotation>
					<xs:documentation>协议的优先级</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cost">
				<xs:annotation>
					<xs:documentation>路由的开销值</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="65535"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="flags" type="rmbaseRouteFlag">
				<xs:annotation>
					<xs:documentation>路由的状态标志值</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="nextHop" type="ipAddress">
				<xs:annotation>
					<xs:documentation>路由的下一跳</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ifName" type="ifName">
				<xs:annotation>
					<xs:documentation>接口名</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="relayNexthop" type="ipAddress">
				<xs:annotation>
					<xs:documentation>路由的迭代下一跳</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="isActive" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>是否活跃</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="processId" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>进程Id</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="tag">
				<xs:annotation>
					<xs:documentation>路由的tag值</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="65535"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="priority" type="rmbaseRoutePriority">
				<xs:annotation>
					<xs:documentation>路由的收敛优先级</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="label" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>路由的标签值</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="qosId" type="xs:hexBinary">
				<xs:annotation>
					<xs:documentation>qosId</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="indirectID" type="xs:hexBinary">
				<xs:annotation>
					<xs:documentation>路由的IID值</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="state" type="rmbaseRouteState">
				<xs:annotation>
					<xs:documentation>路由的状态值</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="frrType" type="frrType">
				<xs:annotation>
					<xs:documentation>FRR类型</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="neighbour" type="ipv4Address">
				<xs:annotation>
					<xs:documentation>路由的邻居</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="age">
				<xs:annotation>
					<xs:documentation>路由已经存在的时间</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="directNexthop" type="ipAddress">
				<xs:annotation>
					<xs:documentation>直连下一跳</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="rm_rmbase_rmStatisticss_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="rmStatistics" type="rm_rmbase_rmStatistics_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="rm_rmbase_rmStatistics_type">
		<xs:annotation>
			<xs:documentation>路由的统计信息</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="protocolId" type="rmbaseStatisticType">
				<xs:annotation>
					<xs:documentation>协议Id号</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="totalNum" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>路由总数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="activeNum" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>活跃路由数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="addedNum" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>添加的路由数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="deletedNum" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>删除的路由数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="freedNum" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>释放的路由数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="rm_rmbase_rmLocalmtStatisticss_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="rmLocalmtStatistics" type="rm_rmbase_rmLocalmtStatistics_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="rm_rmbase_rmLocalmtStatistics_type">
		<xs:annotation>
			<xs:documentation>Localmt路由的统计信息</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="protocolId" type="rmbaseStatisticType">
				<xs:annotation>
					<xs:documentation>协议Id号</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="totalNum" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>路由总数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="activeNum" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>活跃路由数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="addedNum" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>添加的路由数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="deletedNum" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>删除的路由数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="freedNum" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>释放的路由数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="rm_rmbase_rmMbgpStatisticss_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="rmMbgpStatistics" type="rm_rmbase_rmMbgpStatistics_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="rm_rmbase_rmMbgpStatistics_type">
		<xs:annotation>
			<xs:documentation>组播BGP路由的统计信息</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="protocolId" type="rmbaseStatisticType">
				<xs:annotation>
					<xs:documentation>协议Id号</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="totalNum" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>路由总数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="activeNum" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>活跃路由数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="addedNum" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>添加的路由数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="deletedNum" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>删除的路由数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="freedNum" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>释放的路由数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="rm_rmbase_rmMsrStatisticss_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="rmMsrStatistics" type="rm_rmbase_rmMsrStatistics_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="rm_rmbase_rmMsrStatistics_type">
		<xs:annotation>
			<xs:documentation>组播静态路由的统计信息</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="protocolId" type="rmbaseStatisticType2">
				<xs:annotation>
					<xs:documentation>协议Id号</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="totalNum" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>路由总数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="activeNum" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>活跃路由数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="addedNum" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>添加的路由数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="deletedNum" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>删除的路由数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="freedNum" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>释放的路由数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="vpnv4statistics_type">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="protocolId" type="rmbaseStatisticType">
				<xs:annotation>
					<xs:documentation>协议Id号</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="totalNum" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>路由总数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="activeNum" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>活跃路由数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="addedNum" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>添加的路由数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="deletedNum" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>删除的路由数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="freedNum" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>释放的路由数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="vpnv4statisticss_type">
		<xs:sequence>
			<xs:element name="vpnv4statistics" type="vpnv4statistics_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="vpnv6statistics_type">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="protocolId" type="rmbaseStatisticType">
				<xs:annotation>
					<xs:documentation>协议Id号</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="totalNum" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>路由总数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="activeNum" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>活跃路由数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="addedNum" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>添加的路由数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="deletedNum" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>删除的路由数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="freedNum" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>释放的路由数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="vpnv6statisticss_type">
		<xs:sequence>
			<xs:element name="vpnv6statistics" type="vpnv6statistics_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
