src/plugins/com.huawei.networkos.ops/OPS2.0/schema/socket.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Schema content Version: 1.0
file format version: 1.0
VIST version: VIST3.4.1sp1
Copyright (c) 2008-2010 by HUAWEI TECHNOLOGIES.
All rights reserved.
-->
<xs:schema xmlns="http://www.huawei.com/netconf/vrp" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.huawei.com/netconf/vrp" elementFormDefault="qualified" attributeFormDefault="unqualified" xml:lang="en">
	<xs:annotation>
		<xs:appinfo>
			<formatVersion>1.0</formatVersion>
			<contentVersion>1.0</contentVersion>
		</xs:appinfo>
	</xs:annotation>
	<xs:include schemaLocation="pub_attribute.xsd"/>
	<xs:include schemaLocation="pub_type.xsd"/>
	<xs:include schemaLocation="socket_type.xsd"/>
	<xs:element name="socket" type="socket_socket_type">
		<xs:annotation>
			<xs:appinfo>
				<taskName>socket</taskName>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="socket_socket_type">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="TcpGlobalCfg" type="socket_TcpGlobalCfg_type"/>
			<xs:element name="SockTcpStatusess" type="socket_SockTcpStatusess_type"/>
			<xs:element name="SockUdpStatuss" type="socket_SockUdpStatuss_type"/>
			<xs:element name="SockRawipStatuss" type="socket_SockRawipStatuss_type"/>
			<xs:element name="SockRawLStatuss" type="socket_SockRawLStatuss_type"/>
			<xs:element name="SockTcpStatiss" type="socket_SockTcpStatiss_type"/>
			<xs:element name="SockUdpStatiss" type="socket_SockUdpStatiss_type"/>
			<xs:element name="SockRawipStatiss" type="socket_SockRawipStatiss_type"/>
			<xs:element name="SockRawLStats" type="socket_SockRawLStats_type"/>
			<xs:element name="SockTcpVers" type="socket_SockTcpVers_type"/>
			<xs:element name="SockUdpVers" type="socket_SockUdpVers_type"/>
		</xs:choice>
		<xs:attributeGroup ref="versionAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="socket_TcpGlobalCfg_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="tcpFinTimeout" default="675">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="76"/>
						<xs:maxInclusive value="3600"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="tcpSynTimeout" default="75">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="2"/>
						<xs:maxInclusive value="600"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="tcpWindow" default="8">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="tcp6FinTimeout" default="675">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="76"/>
						<xs:maxInclusive value="3600"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="tcp6SynTimeout" default="75">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="2"/>
						<xs:maxInclusive value="600"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="tcp6Window" default="8">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="enablePmtu" type="xs:boolean" default="false">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="tcpPmtuTimeout" default="10">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="10"/>
						<xs:maxInclusive value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="socket_SockTcpStatusess_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SockTcpStatuses" type="socket_SockTcpStatuses_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="socket_SockTcpStatuses_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="soFd">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="2147418111"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="pid">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="type" type="socketPROTYPE">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="inpLAddr">
				<xs:annotation>
					<xs:documentation>源IP地址</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
						<supportFilter>false</supportFilter>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="ipAddress">
						<xs:minLength value="7"/>
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="inpLPort" type="xs:unsignedShort">
				<xs:annotation>
					<xs:documentation>源端口号</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="inpFAddr" default="0.0.0.0">
				<xs:annotation>
					<xs:documentation>目的IP地址</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
						<supportFilter>false</supportFilter>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="ipAddress">
						<xs:minLength value="7"/>
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="inpFPort" type="xs:unsignedShort">
				<xs:annotation>
					<xs:documentation>目的端口号</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="tcpState">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="socket_SockUdpStatuss_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SockUdpStatus" type="socket_SockUdpStatus_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="socket_SockUdpStatus_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="soFd">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="2147418111"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="pid">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="inpLAddr" type="ipv4Address">
				<xs:annotation>
					<xs:appinfo>
						<hide>true</hide>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="inpLPort" type="xs:unsignedShort">
				<xs:annotation>
					<xs:appinfo>
						<hide>true</hide>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="inpFAddr" type="ipv4Address">
				<xs:annotation>
					<xs:appinfo>
						<hide>true</hide>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="inpFPort" type="xs:unsignedShort">
				<xs:annotation>
					<xs:appinfo>
						<hide>true</hide>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="socket_SockRawipStatuss_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SockRawipStatus" type="socket_SockRawipStatus_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="socket_SockRawipStatus_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="soFd">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="2147418111"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="pid">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="inpLAddr" type="ipv4Address">
				<xs:annotation>
					<xs:appinfo>
						<visible>false</visible>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="inpFAddr" type="ipv4Address">
				<xs:annotation>
					<xs:appinfo>
						<visible>false</visible>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="socket_SockRawLStatuss_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SockRawLStatus" type="socket_SockRawLStatus_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="socket_SockRawLStatus_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="soFd">
				<xs:annotation>
					<xs:documentation>socket id</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="2147418111"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="pid">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="socket_SockTcpStatiss_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SockTcpStatis" type="socket_SockTcpStatis_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="socket_SockTcpStatis_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="type">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="49"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ipv6Flag" type="xs:unsignedInt">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
						<valueReplace>
							<item value="0">IPv4</item>
							<item value="1">IPv6</item>
						</valueReplace>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="rcvPack" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>接收报文统计</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="rcvTotal" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>总计收到的报文数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="pktInSeq" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>报文按顺序到达数（共计字节数）</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="rcvWinProbePkt" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>窗口探测报文数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="rcvWinUpdatePkt" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>窗口更新报文数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="rcvCksumErr" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>报文校验出错数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="rcvOffsetErr" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>报文长度出错数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="rcvShortErr" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>报文太短数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="rcvDupPkt" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>完全重复报文数（共计字节数）</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="rcvPartDupPkt" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>部分重复报文数（共计字节数）</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="rcvOutOrderPkt" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>乱序报文数（共计字节数）</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="rcvAfterWinPkt" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>报文落在接收窗口外数（共计字节数）</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="rcvAfterClose" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>报文在连接关闭后到达数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="rcvAckPkt" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>确认报文数（确认数据字节数）</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="rcvDupAckPkt" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>重复的确认报文数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="rcvAckTooMuch" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>经过确认但未发送数据的ACK报文数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="sndPkt" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>发送数据统计</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="sndTotal" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>总计发送报文数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="sndUrgPkt" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>紧急数据报文数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="sndRstPkt" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>控制报文数（RST报文数）</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="sndWinProbePkt" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>窗口探测报文数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="sndWinUpdate" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>窗口更新报文数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="sndDataPkt" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>数据报文数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="sndDataRexmit" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>报文重发数（共计字节数）</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="sndAckOnlyPkt" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>ACK报文数（延迟ACK报文数）</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="rexmtTimeo" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>重传定时器超时次数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="timeOutDrop" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>重传次数超过限制而丢弃的连接数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="keepTimeo" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>保活定时器超时次数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="keepProbe" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>发送保活探测报文数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="keepDrop" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>保活探测失败丢弃连接数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="connAttempt" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>发起连接次数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="accepts" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>接受连接数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="connects" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>已建立连接数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="closed" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>已关闭连接数目（意外丢弃连接（收到SYN之后），主动连接失败到对端SYN之前的次数）</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="md5Drop" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>MD5验证丢弃报文数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="md5Pass" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>MD5验证通过报文数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="attemptFails" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>主动或被动连接尝试失败次数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="estabResets" type="xs:unsignedInt">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="socket_SockUdpStatiss_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SockUdpStatis" type="socket_SockUdpStatis_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="socket_SockUdpStatis_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="type">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="49"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ipv6Flag" type="xs:unsignedInt">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ipackets" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>总计收到的UDP报文的数量</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="badsum" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>校验和出错的报文的数量</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="hdrops" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>报文长度比报文头短的报文数量</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="badlen" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>报文数据长度超过了报文长的报文数量</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="noport" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>没有SOCKET使用这个端口号的报文数量</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="broadcast" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>广播报文的数量</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="fullsock" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>因为SOCKET缓冲已经满而没有发送出去的报文数量</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="pcbcachemiss" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>没有找到PCB的报文数量</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="opackets" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>总计发送UDP报文数量</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="socket_SockRawipStatiss_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SockRawipStatis" type="socket_SockRawipStatis_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="socket_SockRawipStatis_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="ipackets" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>总计接收RAWIP报文数量</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="pcbcachemiss" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>未找到对应Socket的数据包个数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="opackets" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>总计发送的RAWIP报文的数量</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="socket_SockRawLStats_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SockRawLStat" type="socket_SockRawLStat_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="socket_SockRawLStat_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="ipackets" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>总计收到的RAWLINK报文的数量</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="pcbcachemiss" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>未找到对应Socket的数据包个数</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="opackets" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>总计发送RAWLINK报文数量</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="socket_SockTcpVers_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SockTcpVer" type="socket_SockTcpVer_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="socket_SockTcpVer_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="type">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="49"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cksumErr" type="xs:unsignedInt">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="fmtErr" type="xs:unsignedInt">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="noPort" type="xs:unsignedInt">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="mD5Err" type="xs:unsignedInt">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="kCErr" type="xs:unsignedInt">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="outDrop" type="xs:unsignedInt">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="socket_SockUdpVers_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SockUdpVer" type="socket_SockUdpVer_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="socket_SockUdpVer_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="type">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="49"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="fmtErr" type="xs:unsignedInt">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="cksumErr" type="xs:unsignedInt">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="noPort" type="xs:unsignedInt">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="outDrop" type="xs:unsignedInt">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
</xs:schema>
