src/plugins/com.huawei.networkos.ops/OPS2.0/schema/sshs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Schema content Version: 1.0
file format version: 1.0
VIST version: VIST 0.1.19 SP1
Copyright (c) 2008-2010 by HUAWEI TECHNOLOGIES.
All rights reserved.
-->
<xs:schema xmlns="http://www.huawei.com/netconf/vrp" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.huawei.com/netconf/vrp" elementFormDefault="qualified" attributeFormDefault="unqualified" xml:lang="en">
	<xs:annotation>
		<xs:appinfo>
			<formatVersion>1.0</formatVersion>
			<contentVersion>1.0</contentVersion>
		</xs:appinfo>
	</xs:annotation>
	<xs:include schemaLocation="pub_attribute.xsd"/>
	<xs:include schemaLocation="pub_type.xsd"/>
	<xs:include schemaLocation="sshs_type.xsd"/>
	<xs:element name="sshs" type="sshs_sshs_type">
		<xs:annotation>
			<xs:appinfo>
				<taskName>sshs</taskName>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="sshs_sshs_type">
		<xs:choice minOccurs="0">
			<xs:element name="sshServer" type="sshs_sshServer_type"/>
			<xs:element name="sshSessionStatuss" type="sshs_sshSessionStatuss_type"/>
			<xs:element name="sshUserCfgs" type="sshs_sshUserCfgs_type"/>
			<xs:element name="sshNcaVtyCfg" type="sshs_sshNcaVtyCfg_type"/>
		</xs:choice>
		<xs:attributeGroup ref="versionAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="sshs_sshSessionStatuss_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sshSessionStatus" type="sshs_sshSessionStatus_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sshs_sshSessionStatus_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="serviceIndex">
				<xs:annotation>
					<xs:documentation>The connection index of the session belonging to particular service type</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="12"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SshSessNum">
				<xs:annotation>
					<xs:documentation>Session Number</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="sshVersion">
				<xs:annotation>
					<xs:documentation>SSH Version Number</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="connState" type="sshsSshsConnState">
				<xs:annotation>
					<xs:documentation>Connection State (Started or Stop)</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="userName">
				<xs:annotation>
					<xs:documentation>User Name of the connected user</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="253"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ctosCipher">
				<xs:annotation>
					<xs:documentation>Client to Server Cipher Name</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="stocCipher">
				<xs:annotation>
					<xs:documentation>Server to Client Cipher Name</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ctosHMAC">
				<xs:annotation>
					<xs:documentation>Client to Server HMAC Name</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="stocHMAC">
				<xs:annotation>
					<xs:documentation>Server to Client HMAC Name</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="keyExchange">
				<xs:annotation>
					<xs:documentation>Key Exchange Algorithm Name</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="serviceType">
				<xs:annotation>
					<xs:documentation>Service Type used on this connection</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="sessionRetry" type="xs:int">
				<xs:annotation>
					<xs:documentation>SSH session retry times</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="sessionAuthType">
				<xs:annotation>
					<xs:documentation>SSH session authentication type</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="connectionPort">
				<xs:annotation>
					<xs:documentation>Server port number used on this connection</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="22"/>
						<xs:maxInclusive value="65535"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="sessionKeyType" type="sshsPubKeyType">
				<xs:annotation>
					<xs:documentation>SSH session public key type</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="sshs_sshServer_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="portNumber" default="22">
				<xs:annotation>
					<xs:documentation>SSH Server Monitor Port</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="22"/>
						<xs:maxInclusive value="65535"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="sshacl4Name">
				<xs:annotation>
					<xs:documentation>IPV4 ACL name for server</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="sshacl4Num">
				<xs:annotation>
					<xs:documentation>Acl number for incoming IPv4 connection, </xs:documentation>
					<xs:appinfo>
						<access>readWrite</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="2000"/>
						<xs:maxInclusive value="3999"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="sshacl6Name">
				<xs:annotation>
					<xs:documentation>IPV6 ACL name for server</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="sshacl6Num">
				<xs:annotation>
					<xs:documentation>Acl number for incoming IPv6 connection, </xs:documentation>
					<xs:appinfo>
						<access>readWrite</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="2000"/>
						<xs:maxInclusive value="3999"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="authenticationTimeout" default="60">
				<xs:annotation>
					<xs:documentation>User Authentication Timeout Interval</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="120"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rekeyInterval" default="0">
				<xs:annotation>
					<xs:documentation>Key re-exchange Interval</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="24"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="sshVersion" type="sshsSshVersion">
				<xs:annotation>
					<xs:documentation>SSH Version Number</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="keepAliveEnable" type="sshsSshBool">
				<xs:annotation>
					<xs:documentation>KeepAlive Feature</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="compatibleSsh1x" type="sshsSshBool">
				<xs:annotation>
					<xs:documentation>Compatibility with SSH v1.x</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="stelnetEnable" type="sshsSshBool">
				<xs:annotation>
					<xs:documentation>Enable STelnet Feature</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="sftpEnable" type="sshsSshBool">
				<xs:annotation>
					<xs:documentation>Enable SFTP Feature</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="sftpMaxUser" default="5">
				<xs:annotation>
					<xs:documentation>Maximum number of connections on SFTP Server</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="sftpTimeoutMin" default="10">
				<xs:annotation>
					<xs:documentation>SFTP idle timeout in minutes</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="35791"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="sftpTimeoutSec">
				<xs:annotation>
					<xs:documentation>SFTP idle timeout in seconds</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="59"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="snetconfEnable" type="sshsSshBool">
				<xs:annotation>
					<xs:documentation>Enable SNetConf Feature</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="sshAuthDefPass" type="sshsSshBool">
				<xs:annotation>
					<xs:documentation>SSH default authentication type as password</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="authRetries" default="3">
				<xs:annotation>
					<xs:documentation>SSH authentication retry count</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="sftpOnlineUser" type="xs:int">
				<xs:annotation>
					<xs:documentation>Current number of sftp users online</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="snetconfPortEnable" type="sshsSshBool">
				<xs:annotation>
					<xs:documentation>well-known TCP port(830) for NETCONF over ssh Enable / Disable</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="srcInterfName" type="ifName">
				<xs:annotation>
					<xs:documentation>To configure the Source Interface name</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>		
			<xs:element name="desEnable" type="sshsSshBool">
				<xs:annotation>
					<xs:documentation>Enable DES algorithm</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>			
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="sshs_sshUserCfgs_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sshUserCfg" type="sshs_sshUserCfg_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sshs_sshUserCfg_type">
		<xs:annotation>
			<xs:documentation>SSH</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="userName">
				<xs:annotation>
					<xs:documentation>SSH User Name</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="253"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rsaAuthType" type="SSHSUSERAUTH">
				<xs:annotation>
					<xs:documentation>Authentication Type</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="sftpDir">
				<xs:annotation>
					<xs:documentation>SFTP Directory</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rsaKeyName">
				<xs:annotation>
					<xs:documentation>User public key name</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="sshServiceType" type="sshsSshsSrvcType">
				<xs:annotation>
					<xs:documentation>Ssh user service types supported</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="pubKeyType" type="sshsPubKeyType">
				<xs:annotation>
					<xs:documentation>SSH user public key type</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="sshs_sshNcaVtyCfg_type">
		<xs:annotation>
			<xs:documentation>SSH</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="timeoutMin" default="10">
				<xs:annotation>
					<xs:documentation>The timeout period for a terminal user in minutes</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="35791"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="timeoutSec">
				<xs:annotation>
					<xs:documentation>The timeout period for a terminal user in seconds</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="59"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="maxSessions" default="5">
				<xs:annotation>
					<xs:documentation>Maximum possible sessions</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
</xs:schema>
