src/plugins/com.huawei.networkos.ops/OPS2.0/schema/tm_type.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Schema content Version: 1.0
file format version: 1.0
VIST version: VIST 0.1.19 SP1
Copyright (c) 2008-2010 by HUAWEI TECHNOLOGIES.
All rights reserved.
-->
<xs:schema xmlns="http://www.huawei.com/netconf/vrp" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.huawei.com/netconf/vrp" elementFormDefault="qualified" attributeFormDefault="unqualified" xml:lang="en">
	<xs:annotation>
		<xs:appinfo>
			<formatVersion>1.0</formatVersion>
			<contentVersion>1.0</contentVersion>
		</xs:appinfo>
	</xs:annotation>
	<xs:simpleType name="tmNtpTzOption">
		<xs:restriction base="xs:string">
			<xs:enumeration value="add">
				<xs:annotation>
					<xs:documentation>add:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="minus">
				<xs:annotation>
					<xs:documentation>minus:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tmNtpDstType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OneYear">
				<xs:annotation>
					<xs:documentation>one-year:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Repeat-day">
				<xs:annotation>
					<xs:documentation>repeat-day:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Repeat-week">
				<xs:annotation>
					<xs:documentation>repeat-week:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tmNtpWeekNum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="first">
				<xs:annotation>
					<xs:documentation>first:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="second">
				<xs:annotation>
					<xs:documentation>second:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="third">
				<xs:annotation>
					<xs:documentation>third:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="fourth">
				<xs:annotation>
					<xs:documentation>fourth:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="last">
				<xs:annotation>
					<xs:documentation>last:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tmNtpStartwkDay">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Sun">
				<xs:annotation>
					<xs:documentation>Sun:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Mon">
				<xs:annotation>
					<xs:documentation>Mon:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Tue">
				<xs:annotation>
					<xs:documentation>Tue:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Wed">
				<xs:annotation>
					<xs:documentation>Wed:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Thu">
				<xs:annotation>
					<xs:documentation>Thu:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Fri">
				<xs:annotation>
					<xs:documentation>Fri:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Sat">
				<xs:annotation>
					<xs:documentation>Sat:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tmNtpStartMonth">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Jan">
				<xs:annotation>
					<xs:documentation>Jan:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Feb">
				<xs:annotation>
					<xs:documentation>Feb:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Mar">
				<xs:annotation>
					<xs:documentation>Mar:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Apr">
				<xs:annotation>
					<xs:documentation>Apr:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="May">
				<xs:annotation>
					<xs:documentation>May:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Jun">
				<xs:annotation>
					<xs:documentation>Jun:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Jul">
				<xs:annotation>
					<xs:documentation>Jul:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Aug">
				<xs:annotation>
					<xs:documentation>Aug:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Sep">
				<xs:annotation>
					<xs:documentation>Sep:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Oct">
				<xs:annotation>
					<xs:documentation>Oct:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Nov">
				<xs:annotation>
					<xs:documentation>Nov:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Dec">
				<xs:annotation>
					<xs:documentation>Dec:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tmNtpDayofweek">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Sunday">
				<xs:annotation>
					<xs:documentation>Sunday:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Monday">
				<xs:annotation>
					<xs:documentation>Monday:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Tuesday">
				<xs:annotation>
					<xs:documentation>Tuesday:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Wednesday">
				<xs:annotation>
					<xs:documentation>Wednesday:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Thursday">
				<xs:annotation>
					<xs:documentation>Thursday:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Friday">
				<xs:annotation>
					<xs:documentation>Friday:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Saturday">
				<xs:annotation>
					<xs:documentation>Saturday:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tmNtpDay">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation>1:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2">
				<xs:annotation>
					<xs:documentation>2:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3">
				<xs:annotation>
					<xs:documentation>3:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4">
				<xs:annotation>
					<xs:documentation>4:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="5">
				<xs:annotation>
					<xs:documentation>5:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="6">
				<xs:annotation>
					<xs:documentation>6:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="7">
				<xs:annotation>
					<xs:documentation>7:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="8">
				<xs:annotation>
					<xs:documentation>8:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="9">
				<xs:annotation>
					<xs:documentation>9:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="10">
				<xs:annotation>
					<xs:documentation>10:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="11">
				<xs:annotation>
					<xs:documentation>11:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="12">
				<xs:annotation>
					<xs:documentation>12:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="13">
				<xs:annotation>
					<xs:documentation>13:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="14">
				<xs:annotation>
					<xs:documentation>14:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="15">
				<xs:annotation>
					<xs:documentation>15:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="16">
				<xs:annotation>
					<xs:documentation>16:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="17">
				<xs:annotation>
					<xs:documentation>17:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="18">
				<xs:annotation>
					<xs:documentation>18:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="19">
				<xs:annotation>
					<xs:documentation>19:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="20">
				<xs:annotation>
					<xs:documentation>20:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="21">
				<xs:annotation>
					<xs:documentation>21:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="22">
				<xs:annotation>
					<xs:documentation>22:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="23">
				<xs:annotation>
					<xs:documentation>23:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="24">
				<xs:annotation>
					<xs:documentation>24:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="25">
				<xs:annotation>
					<xs:documentation>25:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="26">
				<xs:annotation>
					<xs:documentation>26:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="27">
				<xs:annotation>
					<xs:documentation>27:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="28">
				<xs:annotation>
					<xs:documentation>28:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="29">
				<xs:annotation>
					<xs:documentation>29:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="30">
				<xs:annotation>
					<xs:documentation>30:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="31">
				<xs:annotation>
					<xs:documentation>31:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tmNtpEndwkDay">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Sun">
				<xs:annotation>
					<xs:documentation>Sun:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Mon">
				<xs:annotation>
					<xs:documentation>Mon:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Tue">
				<xs:annotation>
					<xs:documentation>Tue:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Wed">
				<xs:annotation>
					<xs:documentation>Wed:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Thu">
				<xs:annotation>
					<xs:documentation>Thu:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Fri">
				<xs:annotation>
					<xs:documentation>Fri:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Sat">
				<xs:annotation>
					<xs:documentation>Sat:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tmNtpEndMonth">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Jan">
				<xs:annotation>
					<xs:documentation>Jan:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Feb">
				<xs:annotation>
					<xs:documentation>Feb:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Mar">
				<xs:annotation>
					<xs:documentation>Mar:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Apr">
				<xs:annotation>
					<xs:documentation>Apr:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="May">
				<xs:annotation>
					<xs:documentation>May:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Jun">
				<xs:annotation>
					<xs:documentation>Jun:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Jul">
				<xs:annotation>
					<xs:documentation>Jul:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Aug">
				<xs:annotation>
					<xs:documentation>Aug:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Sep">
				<xs:annotation>
					<xs:documentation>Sep:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Oct">
				<xs:annotation>
					<xs:documentation>Oct:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Nov">
				<xs:annotation>
					<xs:documentation>Nov:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Dec">
				<xs:annotation>
					<xs:documentation>Dec:</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
