src/plugins/com.huawei.networkos.ops/OPS2.0/schema/tty.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Schema content Version: 1.0
file format version: 1.0
VIST version: VIST0.5.5
Copyright (c) 2008-2010 by HUAWEI TECHNOLOGIES.
All rights reserved.
-->
<xs:schema xmlns="http://www.huawei.com/netconf/vrp" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.huawei.com/netconf/vrp" elementFormDefault="qualified" attributeFormDefault="unqualified" xml:lang="en">
	<xs:annotation>
		<xs:appinfo>
			<formatVersion>1.0</formatVersion>
			<contentVersion>1.0</contentVersion>
		</xs:appinfo>
	</xs:annotation>
	<xs:include schemaLocation="pub_attribute.xsd"/>
	<xs:include schemaLocation="pub_type.xsd"/>
	<xs:include schemaLocation="tty_type.xsd"/>
	<xs:element name="tty" type="tty_tty_type">
		<xs:annotation>
			<xs:appinfo>
				<taskName>tty</taskName>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="tty_tty_type">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="userInterfaces" type="tty_userInterfaces_type"/>
			<xs:element name="lineCfgs" type="tty_lineCfgs_type"/>
		</xs:choice>
		<xs:attributeGroup ref="versionAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="tty_userInterfaces_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="userInterface" type="tty_userInterface_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tty_userInterface_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="lineIndex">
				<xs:annotation>
					<xs:documentation>Line Index of the terminal.</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="104"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="lineType" type="ttyCamlLineType">
				<xs:annotation>
					<xs:documentation>Line type (e.g. CON, AUX, VTY, LTT, NCA). Type of the terminal.</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="relativeIndex" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>Relative index of the terminal.</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="privileage" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>User Interface Privilege level. </xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="modemstatus">
				<xs:annotation>
					<xs:documentation>Modem property.</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="uiLocation">
				<xs:annotation>
					<xs:documentation>Physical location of the UI. </xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="speed">
				<xs:annotation>
					<xs:documentation>Transmission rate of the terminal.</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="7"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="connectStatus" type="ttyCamlConnState">
				<xs:annotation>
					<xs:documentation>Connection state (Active or Idle). </xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="authMode">
				<xs:annotation>
					<xs:documentation>Authentication mode of the terminal</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="actualPrivileage">
				<xs:annotation>
					<xs:documentation>Actual privileage level of the terminal.</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="tty_lineCfgs_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="lineCfg" type="tty_lineCfg_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tty_lineCfg_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="lineIndex">
				<xs:annotation>
					<xs:documentation>Terminal line index of the module</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
						<mandatory>true</mandatory>
						<unique>true</unique>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="uiType" type="ttyTtyPortType">
				<xs:annotation>
					<xs:documentation>TTY type whether Aux or Console</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="uiNumber">
				<xs:annotation>
					<xs:documentation>tty index which identifies the port</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
						<mandatory>true</mandatory>
						<unique>true</unique>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="idleTimeOutMin">
				<xs:annotation>
					<xs:documentation>Specify the connection idle timeout minutes for login user</xs:documentation>
					<xs:appinfo>
						<access>readWrite</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="35791"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="idleTimeOutSec">
				<xs:annotation>
					<xs:documentation>Specify the connection idle timeout seconds for login user</xs:documentation>
					<xs:appinfo>
						<access>readWrite</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="59"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="authMode" type="ttyTtyAuthModeType">
				<xs:annotation>
					<xs:documentation>Configure  authentication mode of user terminal interface</xs:documentation>
					<xs:appinfo>
						<access>readWrite</access>
                        <allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="authPassword">
				<xs:annotation>
					<xs:documentation>Password Field</xs:documentation>
					<xs:appinfo>
						<access>readWrite</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="password">
						<xs:minLength value="6"/>
						<xs:maxLength value="16"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="privilegeLevel">
				<xs:annotation>
					<xs:documentation>Specify the Privilege level of user</xs:documentation>
					<xs:appinfo>
						<access>readWrite</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="historyCmdSize">
				<xs:annotation>
					<xs:documentation>value of history field</xs:documentation>
					<xs:appinfo>
						<access>readWrite</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="256"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="scrLength">
				<xs:annotation>
					<xs:documentation>Specify the screen length</xs:documentation>
					<xs:appinfo>
						<access>readWrite</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="512"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="scrWidth">
				<xs:annotation>
					<xs:documentation>Specify the screen width</xs:documentation>
					<xs:appinfo>
						<access>readWrite</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="80"/>
						<xs:maxInclusive value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="shellEnable" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>is shell enabled or not</xs:documentation>
					<xs:appinfo>
						<access>readWrite</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="speed">
				<xs:annotation>
					<xs:documentation>Specify the TX/RX rate of user terminal interface</xs:documentation>
					<xs:appinfo>
						<access>readWrite</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedLong">
						<xs:maxInclusive value="115200"/>
						<xs:minInclusive value="300"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="flowControl" type="ttyTtyFlwCntrlType" default="none">
				<xs:annotation>
					<xs:documentation>Specify the flow control mode of user terminal interface</xs:documentation>
					<xs:appinfo>
						<access>readWrite</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="stopBits" type="ttyTtyStpBitsType" default="1">
				<xs:annotation>
					<xs:documentation>Specify the stop bit of user terminal interface</xs:documentation>
					<xs:appinfo>
						<access>readWrite</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="dataBits" type="ttyTtyDataBitsType" default="5">
				<xs:annotation>
					<xs:documentation>Specify the databits of user terminal interface</xs:documentation>
					<xs:appinfo>
						<access>readWrite</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="parity" type="ttyTtyParityType" default="none">
				<xs:annotation>
					<xs:documentation>Specify the parity mode of user interface</xs:documentation>
					<xs:appinfo>
						<access>readWrite</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
</xs:schema>
