src/plugins/com.huawei.networkos.ops/OPS2.0/schema/vfm_action.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Schema content Version: 1.0
file format version: 1.0
VIST version: VIST0.3.2
Copyright (c) 2008-2010 by HUAWEI TECHNOLOGIES.
All rights reserved.
-->
<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://www.huawei.com/netconf/vrp" xmlns="http://www.huawei.com/netconf/vrp" xml:lang="en" xmlns:xs="http://www.w3.org/2001/XMLSchema" >
    <xs:annotation>
        <xs:appinfo>
            <formatVersion>1.0</formatVersion>
            <contentVersion>1.0</contentVersion>
        </xs:appinfo>
    </xs:annotation>
    <xs:include schemaLocation="pub_attribute.xsd" />
    <xs:include schemaLocation="pub_type.xsd" />
    <xs:include schemaLocation="vfm_type.xsd" />
    <xs:element type="vfm_action_vfm_type" name="vfm" >
        <xs:annotation>
            <xs:appinfo>
                <taskName>vfm</taskName>
            </xs:appinfo>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="vfm_action_vfm_type" >
        <xs:choice minOccurs="0" maxOccurs="unbounded" >
            <xs:element type="vfm_action_changeDirectory_type" name="changeDirectory" />
            <xs:element type="vfm_action_copyFile_type" name="copyFile" />
            <xs:element type="vfm_action_deleteFileUnRes_type" name="deleteFileUnRes" />
	    <xs:element type="vfm_action_zipFile_type" name="zipFile" />
	    <xs:element type="vfm_action_unzipFile_type" name="unzipFile" />
	    <xs:element type="vfm_action_moveFile_type" name="moveFile" />
	    <xs:element type="vfm_action_renameFile_type" name="renameFile" />
        </xs:choice>
        <xs:attributeGroup ref="versionAttributeGroup" />
    </xs:complexType>
    <xs:complexType name="vfm_action_changeDirectory_type" >
        <xs:annotation>
            <xs:appinfo/>
            <xs:documentation>改变当前目录</xs:documentation>
        </xs:annotation>
        <xs:choice minOccurs="0" maxOccurs="unbounded" >
            <xs:element minOccurs="1" name="directoryName" >
                <xs:annotation>
                    <xs:documentation>目录名称</xs:documentation>
                    <xs:appinfo>
                        <access>writeOnly</access>
                    </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string" >
                        <xs:minLength value="1" />
                        <xs:maxLength value="256" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="vfm_action_copyFile_type" >
        <xs:annotation>
            <xs:appinfo/>
            <xs:documentation>复制文件</xs:documentation>
        </xs:annotation>
        <xs:choice minOccurs="0" maxOccurs="unbounded" >
            <xs:element minOccurs="1" name="srcFileName" >
                <xs:annotation>
                    <xs:documentation>源文件名称</xs:documentation>
                    <xs:appinfo>
						<key>true</key>
                        <access>writeOnly</access>
                    </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string" >
                        <xs:minLength value="1" />
                        <xs:maxLength value="256" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="1" name="desFileName" >
                <xs:annotation>
                    <xs:documentation>目的文件名称</xs:documentation>
                    <xs:appinfo>
						<mandatory>true</mandatory>
                        <access>writeOnly</access>
                    </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string" >
                        <xs:minLength value="1" />
                        <xs:maxLength value="256" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="vfm_action_deleteFileUnRes_type" >
        <xs:annotation>
            <xs:appinfo/>
            <xs:documentation>永久删除文件</xs:documentation>
        </xs:annotation>
        <xs:choice minOccurs="0" maxOccurs="unbounded" >
            <xs:element minOccurs="1" name="fileName" >
                <xs:annotation>
                    <xs:documentation>文件名称</xs:documentation>
                    <xs:appinfo>
						<key>true</key>
                        <access>writeOnly</access>
                    </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string" >
                        <xs:maxLength value="256" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:choice>
    </xs:complexType>
	<xs:complexType name="vfm_action_zipFile_type" >
        <xs:annotation>
            <xs:appinfo/>
            <xs:documentation>压缩文件</xs:documentation>
        </xs:annotation>
        <xs:choice minOccurs="0" maxOccurs="unbounded" >
            <xs:element minOccurs="1" name="srcFileName" >
                <xs:annotation>
                    <xs:documentation>源文件名称</xs:documentation>
                    <xs:appinfo>
						<key>true</key>
                        <access>writeOnly</access>
                    </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string" >
                        <xs:minLength value="1" />
                        <xs:maxLength value="256" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="1" name="desFileName" >
                <xs:annotation>
                    <xs:documentation>目的文件名称</xs:documentation>
                    <xs:appinfo>
						<mandatory>true</mandatory>
                        <access>writeOnly</access>
                    </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string" >
                        <xs:minLength value="1" />
                        <xs:maxLength value="256" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:choice>
    </xs:complexType>
	<xs:complexType name="vfm_action_unzipFile_type" >
        <xs:annotation>
            <xs:appinfo/>
            <xs:documentation>解压缩文件</xs:documentation>
        </xs:annotation>
        <xs:choice minOccurs="0" maxOccurs="unbounded" >
            <xs:element minOccurs="1" name="srcFileName" >
                <xs:annotation>
                    <xs:documentation>源文件名称</xs:documentation>
                    <xs:appinfo>
						<key>true</key>
                        <access>writeOnly</access>
                    </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string" >
                        <xs:minLength value="1" />
                        <xs:maxLength value="256" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="1" name="desFileName" >
                <xs:annotation>
                    <xs:documentation>目的文件名称</xs:documentation>
                    <xs:appinfo>
						<mandatory>true</mandatory>
                        <access>writeOnly</access>
                    </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string" >
                        <xs:minLength value="1" />
                        <xs:maxLength value="256" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:choice>
    </xs:complexType>
	<xs:complexType name="vfm_action_moveFile_type" >
        <xs:annotation>
            <xs:appinfo/>
            <xs:documentation>移动文件</xs:documentation>
        </xs:annotation>
        <xs:choice minOccurs="0" maxOccurs="unbounded" >
            <xs:element minOccurs="1" name="srcFileName" >
                <xs:annotation>
                    <xs:documentation>源文件名称</xs:documentation>
                    <xs:appinfo>
						<key>true</key>
                        <access>writeOnly</access>
                    </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string" >
                        <xs:minLength value="1" />
                        <xs:maxLength value="256" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="1" name="desFileName" >
                <xs:annotation>
                    <xs:documentation>目的文件名称</xs:documentation>
                    <xs:appinfo>
						<mandatory>true</mandatory>
                        <access>writeOnly</access>
                    </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string" >
                        <xs:minLength value="1" />
                        <xs:maxLength value="256" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:choice>
    </xs:complexType>
	<xs:complexType name="vfm_action_renameFile_type" >
        <xs:annotation>
            <xs:appinfo/>
            <xs:documentation>重命名文件</xs:documentation>
        </xs:annotation>
        <xs:choice minOccurs="0" maxOccurs="unbounded" >
            <xs:element minOccurs="1" name="srcFileName" >
                <xs:annotation>
                    <xs:documentation>源文件名称</xs:documentation>
                    <xs:appinfo>
						<key>true</key>
                        <access>writeOnly</access>
                    </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string" >
                        <xs:minLength value="1" />
                        <xs:maxLength value="256" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="1" name="desFileName" >
                <xs:annotation>
                    <xs:documentation>目的文件名称</xs:documentation>
                    <xs:appinfo>
						<mandatory>true</mandatory>
                        <access>writeOnly</access>
                    </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string" >
                        <xs:minLength value="1" />
                        <xs:maxLength value="256" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:choice>
    </xs:complexType>
</xs:schema>
