src/plugins/com.huawei.networkos.ops/OPS2.0/schema/vlan.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Schema content Version: 1.0
file format version: 1.0
VIST version: VIST 0.1.7L20090407 for Schema
Copyright (c) 2008-2010 by HUAWEI TECHNOLOGIES.
All rights reserved.
-->
<xs:schema xmlns="http://www.huawei.com/netconf/vrp" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.huawei.com/netconf/vrp" elementFormDefault="qualified" attributeFormDefault="unqualified" xml:lang="en">
	<xs:annotation>
		<xs:appinfo>
			<formatVersion>1.0</formatVersion>
			<contentVersion>1.0</contentVersion>
		</xs:appinfo>
	</xs:annotation>
	<xs:include schemaLocation="pub_attribute.xsd"/>
	<xs:include schemaLocation="pub_type.xsd"/>
	<xs:include schemaLocation="vlan_type.xsd"/>
	<xs:element name="vlan" type="vlan_type">
		<xs:annotation>
			<xs:appinfo>
				<taskName>vlan</taskName>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="vlan_type">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="vlans" type="vlan_vlans_type"/>
			<xs:element name="instances" type="vlan_instances_type"/>
		</xs:choice>
		<xs:attributeGroup ref="versionAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="vlan_vlans_type">
		<xs:sequence>
			<xs:element name="vlan" type="vlan_vlan_type" minOccurs="0" maxOccurs="4094"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="vlan_vlan_type">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="vlanId" type="vlanId">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="vlanName">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="vlanDesc">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="80"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="vlanType" type="vlanType" default="common">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="adminStatus" type="vlanAdmin" default="up">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="broadcastEnable" type="vlanEnableStatus" default="enable">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="unknownmulticast" type="vlanEnableStatus" default="disable">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="macLearn" type="vlanEnableStatus" default="enable">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="statisEnable" type="vlanEnableStatus" default="disable">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="macAgingTime">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
            					<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="1000000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="subVlans" type="VLAN_BITMAP">
				<xs:annotation>
					<xs:appinfo>
						<allowNull>true</allowNull>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="groupVlans" type="VLAN_BITMAP">
				<xs:annotation>
					<xs:appinfo>
						<allowNull>true</allowNull>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="separateVlan">
				<xs:annotation>
					<xs:appinfo>
						<allowNull>true</allowNull>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="vlanId">
						<xs:minInclusive value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="memberPorts" type="vlan_memberPorts_type"/>
			<xs:element name="vlanif" type="vlan_vlanIf_type" minOccurs="0"/>
			<xs:element name="unkownUnicastDrop" type="vlan_unicastDrop_type"/>
			<xs:element name="suppression" type="vlan_suppression_type"/>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="vlan_memberPorts_type">
		<xs:sequence>
			<xs:element name="memberPort" type="vlan_memberPort_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="vlan_memberPort_type">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="ifName">
				<xs:annotation>
					<xs:documentation>接口名</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ifName">
							<xs:attribute name="ifIndex" type="xs:unsignedInt"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="accessType" type="vlanAccessType" default="hybrid">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="vlan_doubleVlans_type">
		<xs:sequence>
			<xs:element name="doubleVlan" type="vlan_doubleVlan_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="vlan_doubleVlan_type">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="outerVlanId">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="innerVlanIds" type="vlan_innerVlanIds_type"/>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="vlan_innerVlanIds_type">
		<xs:sequence>
			<xs:element name="innerVlanId"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="vlan_singleVlans_type">
		<xs:sequence>
			<xs:element name="singleVlan" type="vlan_singleVlan_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="vlan_singleVlan_type">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="vlanId"/>
			<xs:element name="p802.1"/>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="vlan_action_type">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="actionType"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="vlan_vlanIf_type">
		<xs:choice minOccurs="0">
			<xs:element name="ifName">
				<xs:annotation>
					<xs:documentation>接口名</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ifName">
							<xs:attribute name="ifIndex" type="xs:unsignedInt"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="cfgBand" default="1000">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="1000000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="dampTime">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="vlan_subVlan_type">
		<xs:choice minOccurs="0"/>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="vlan_subroutineVlans_type">
		<xs:sequence/>
	</xs:complexType>
	<xs:complexType name="vlan_subroutineVlan_type">
		<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="vlan_groupVlan_type">
		<xs:choice/>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="vlan_separateVlan_type">
		<xs:choice/>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="vlan_instances_type">
		<xs:sequence>
			<xs:element name="instance" type="vlan_instance_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="vlan_instance_type">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="instanceId">
				<xs:annotation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
					<xs:documentation>实例号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="48"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="vlans" type="VLAN_BITMAP">
				<xs:annotation>
					<xs:appinfo>
						<access>readOnly</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
					<xs:documentation>实例号</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="vlan_unicastDrop_type">
		<xs:choice minOccurs="0">
			<xs:element name="macLearnEnable" type="vlanEnableStatus" default="enable">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="isDrop" type="vlanEnableStatus" default="disable">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="vlan_suppression_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0">
			<xs:element name="inboundSupp" type="vlanEnableStatus" default="disable">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="outboundSupp" type="vlanEnableStatus" default="disable">
				<xs:annotation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="vlan_serverVlanFragments_type"/>
	<xs:complexType name="vlan_serverVlanFragment_type">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="beginVlanId" type="xs:unsignedShort">
				<xs:annotation>
					<xs:documentation>开始vlan id</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="endVlanId" type="xs:unsignedShort">
				<xs:annotation>
					<xs:documentation>结束vlan id</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
</xs:schema>
