src/plugins/com.huawei.networkos.ops/OPS2.0/schema/vs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Schema content Version: 1.0
file format version: 1.0
VIST version: VIST 0.1.5L20090310 for Schema
Copyright (c) 2008-2010 by HUAWEI TECHNOLOGIES.
All rights reserved.
-->
<xs:schema xmlns="http://www.huawei.com/netconf/vrp" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.huawei.com/netconf/vrp" elementFormDefault="qualified" attributeFormDefault="unqualified" xml:lang="en">
	<xs:annotation>
		<xs:appinfo>
			<formatVersion>1.0</formatVersion>
			<contentVersion>1.0</contentVersion>
		</xs:appinfo>
	</xs:annotation>
	<xs:include schemaLocation="pub_attribute.xsd"/>
	<xs:include schemaLocation="pub_type.xsd"/>
	<xs:include schemaLocation="vs_type.xsd"/>
	<xs:element name="vs" type="vs_vs_type">
		<xs:annotation>
			<xs:appinfo>
				<taskName>lsvs</taskName>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="vs_vs_type">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="virtualSystems" type="vs_virtualSystems_type"/>
		</xs:choice>
		<xs:attributeGroup ref="versionAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="vs_virtualSystems_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="virtualSystem" type="vs_virtualSystem_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="vs_virtualSystem_type">
		<xs:annotation>
			<xs:documentation>将单一物理系统(PS)或逻辑系统(LS)通过硬件和软件级别的仿真分割成多个执行单独路由任务的虚拟系统</xs:documentation>
			<xs:appinfo>
				<autoDeleteChildren>true</autoDeleteChildren>
			</xs:appinfo>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="vsName">
				<xs:annotation>
					<xs:documentation>VS名称，由用户指定，名称不可修改</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
						<unique>true</unique>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="vsId">
				<xs:annotation>
					<xs:documentation>VS标识由系统分配，创建后不可修改</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
						<unique>true</unique>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4095"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="isAdmin">
				<xs:annotation>
					<xs:documentation>当前VS是否管理VS即admin-VS</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:boolean"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="vsPortMode" type="vsPortMode">
				<xs:annotation>
					<xs:documentation>VS端口分配模式，分别为PORT和GROUP两种模式</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="description">
				<xs:annotation>
					<xs:documentation>VS的描述信息，用来描述VS的用途、业务说明等信息，可修改</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="242"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="vsSystemMac">
				<xs:annotation>
					<xs:documentation>VS系统MAC</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
						<unique>true</unique>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="macAddress"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="vsStatus" type="vsAdminStatus" default="running">
				<xs:annotation>
					<xs:documentation>VS的启停状态</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="vsSystemTime" type="timeTick">
				<xs:annotation>
					<xs:documentation>VS系统运行时间</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="pvmbPosition1">
				<xs:annotation>
					<xs:documentation>VS的首席主控板槽位号1，最大4块首席主控板槽位，其中4块槽是并列关系没有主次</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<unique>true</unique>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="pvmbPosition2">
				<xs:annotation>
					<xs:documentation>VS的首席主控板槽位号2</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<unique>true</unique>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="pvmbPosition3">
				<xs:annotation>
					<xs:documentation>VS的首席主控板槽位号3</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<unique>true</unique>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="pvmbPosition4">
				<xs:annotation>
					<xs:documentation>VS的首席主控板槽位号4</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<unique>true</unique>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="mbSlotGroups" type="vs_mainBoards_type"/>
			<xs:element name="ifVsRelations" type="vs_ifVsRelations_type"/>
			<xs:element name="resource" type="vs_resource_type"/>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="vs_ifVsRelations_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ifVsRelation" type="vs_ifVsRelation_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="vs_ifVsRelation_type">
		<xs:annotation>
			<xs:documentation>分配给虚拟系统的接口</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="ifName">
				<xs:annotation>
					<xs:documentation>接口名称</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
						<mandatory>true</mandatory>
						<unique>true</unique>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ifName">
							<xs:attribute name="ifIndex">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="47"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="vs_mainBoards_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="mbSlotGroup" type="vs_mainBoard_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="vs_mainBoard_type">
		<xs:annotation>
			<xs:documentation>主控板主要运行路由协议等软件</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="mbPosition1">
				<xs:annotation>
					<xs:documentation>主控板所在槽位号1，一次划分最多4块槽，其中4块槽是并列关系没有主次</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="mbPosition2">
				<xs:annotation>
					<xs:documentation>主控板所在槽位号2</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="mbPosition3">
				<xs:annotation>
					<xs:documentation>主控板所在槽位号3</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="mbPosition4">
				<xs:annotation>
					<xs:documentation>主控板所在槽位号4</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="vs_resource_type">
		<xs:annotation>
			<xs:documentation>主控板主要运行路由协议等软件</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="vpnInstNum">
				<xs:annotation>
					<xs:documentation>给VS分配的VPN资源数目</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="256"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="vlanNum">
				<xs:annotation>
					<xs:documentation>给VS分配的VLAN资源数量</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="4090"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ipv4UniRouteNum">
				<xs:annotation>
					<xs:documentation>给VS分配的单播V4路由条目数</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967295"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ipv6UniRouteNum">
				<xs:annotation>
					<xs:documentation>给VS分配的单播V4路由条目数</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967295"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ipv4MultiRouteNum">
				<xs:annotation>
					<xs:documentation>给VS分配的组播V4路由条目数</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967295"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ipv6MultiRouteNum">
				<xs:annotation>
					<xs:documentation>给VS分配的组播V6路由条目数</xs:documentation>
					<xs:appinfo>
						<access>readCreate</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="4294967295"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
</xs:schema>
