src/plugins/com.huawei.networkos.ops/OPS2.0/schema/vty.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Schema content Version: 1.0
file format version: 1.0
VIST version: VIST 0.3.0sp1
Copyright (c) 2008-2010 by HUAWEI TECHNOLOGIES.
All rights reserved.
-->
<xs:schema xmlns="http://www.huawei.com/netconf/vrp" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.huawei.com/netconf/vrp" elementFormDefault="qualified" attributeFormDefault="unqualified" xml:lang="en">
	<xs:annotation>
		<xs:appinfo>
			<formatVersion>1.0</formatVersion>
			<contentVersion>1.0</contentVersion>
		</xs:appinfo>
	</xs:annotation>
	<xs:include schemaLocation="pub_attribute.xsd"/>
	<xs:include schemaLocation="pub_type.xsd"/>
	<xs:include schemaLocation="vty_type.xsd"/>
	<xs:element name="vty" type="vty_vty_type">
		<xs:annotation>
			<xs:appinfo>
				<taskName>vty</taskName>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="vty_vty_type">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="lineCfgs" type="vty_lineCfgs_type"/>
			<xs:element name="lineGlobalCfg" type="vty_lineGlobalCfg_type"/>
		</xs:choice>
		<xs:attributeGroup ref="versionAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="vty_lineCfgs_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="lineCfg" type="vty_lineCfg_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="vty_lineCfg_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="lineIndex">
				<xs:annotation>
					<xs:documentation>Line Index of the user terminal.</xs:documentation>
					<xs:appinfo>
						<key>true</key>
						<access>readOnly</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="34"/>
						<xs:maxInclusive value="54"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="uiNumber">
				<xs:annotation>
					<xs:documentation>The virtual user terminal interface</xs:documentation>
					<xs:appinfo>
						<access>readOnly</access>
						<mandatory>true</mandatory>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="idleTimeOutMin" default="10">
				<xs:annotation>
					<xs:documentation>The timeout period for a terminal user in minutes</xs:documentation>
					<xs:appinfo>
						<access>readWrite</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="35791"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="idleTimeOutSec" default="0">
				<xs:annotation>
					<xs:documentation>The timeout period for a terminal user in seconds</xs:documentation>
					<xs:appinfo>
						<access>readWrite</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="59"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="authMode" type="vtyTtyAuthModeType">
				<xs:annotation>
					<xs:documentation>Authentication mode for a user terminal interface</xs:documentation>
					<xs:appinfo>
						<access>readWrite</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="authPassword">
				<xs:annotation>
					<xs:documentation>Authentication Password set for this interface</xs:documentation>
					<xs:appinfo>
						<access>readWrite</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="password">
						<xs:minLength value="6"/>
						<xs:maxLength value="16"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="privilegeLevel" default="0">
				<xs:annotation>
					<xs:documentation>User privilege level</xs:documentation>
					<xs:appinfo>
						<access>readWrite</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="historyCmdSize" default="10">
				<xs:annotation>
					<xs:documentation>Record history commands</xs:documentation>
					<xs:appinfo>
						<access>readWrite</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="256"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="scrLength" default="24">
				<xs:annotation>
					<xs:documentation>The number of lines displayed on a screene</xs:documentation>
					<xs:appinfo>
						<access>readWrite</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="512"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="shellEnable" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Enable terminal user service</xs:documentation>
					<xs:appinfo>
						<access>readWrite</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="acl4InBound">
				<xs:annotation>
					<xs:documentation>Acl name for incomming IPv4 connection</xs:documentation>
					<xs:appinfo>
						<access>readWrite</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="acl4OutBound">
				<xs:annotation>
					<xs:documentation>Acl name for outgoing IPv4 connection</xs:documentation>
					<xs:appinfo>
						<access>readWrite</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="acl6InBound">
				<xs:annotation>
					<xs:documentation>Acl name for incomming IPv4 connection</xs:documentation>
					<xs:appinfo>
						<access>readWrite</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="acl6OutBound">
				<xs:annotation>
					<xs:documentation>Acl name for outgoing IPv4 connection</xs:documentation>
					<xs:appinfo>
						<access>readWrite</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="acl4InNum">
				<xs:annotation>
					<xs:documentation>Acl number for incoming IPv4 connection, </xs:documentation>
					<xs:appinfo>
						<access>readWrite</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="2000"/>
						<xs:maxInclusive value="3999"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="acl4OutNum">
				<xs:annotation>
					<xs:documentation>Acl number for outgoing IPv4 connection</xs:documentation>
					<xs:appinfo>
						<access>readWrite</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="2000"/>
						<xs:maxInclusive value="3999"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="acl6InNum">
				<xs:annotation>
					<xs:documentation>Acl number for incoming IPv4 connection, </xs:documentation>
					<xs:appinfo>
						<access>readWrite</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="2000"/>
						<xs:maxInclusive value="3999"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="acl6OutNum">
				<xs:annotation>
					<xs:documentation>Acl number for outgoing IPv4 connection</xs:documentation>
					<xs:appinfo>
						<access>readWrite</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="2000"/>
						<xs:maxInclusive value="3999"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="protoInbound" type="vtyTtyProtoInbnd">
				<xs:annotation>
					<xs:documentation>The user interface protocol</xs:documentation>
					<xs:appinfo>
						<access>readWrite</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
	<xs:complexType name="vty_lineGlobalCfg_type">
		<xs:annotation>
			<xs:appinfo/>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="vtymaxUsers" default="5">
				<xs:annotation>
					<xs:documentation>The maximum number of VTY users</xs:documentation>
					<xs:appinfo>
						<access>readWrite</access>
						<allowNull>true</allowNull>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="21"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attributeGroup ref="objectAttributeGroup"/>
	</xs:complexType>
</xs:schema>
